
<div class="dashboard-header animated fadeInLeft" ng-controller="LocationCtrl" >
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox float-e-margins div-fill">
            	<div class="ibox-title">
		            <h5>Add New Location</h5></span>
		        </div>
                <div class="ibox-content" style="min-height:180px">
                    <div class="row">
                        <div class="col-sm-12">
                        	<div class="row">
                        	<form role="form" name="location_form" id="location_form" novalidate ng-submit="uploadSingleLocationList()">
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label>Name</label>
			                            <input type="text" placeholder="Location Name" class="form-control" id="location_form_name" name="name" ng-model="location.name" ng-maxlength="20" required>
			                            <div class="m-t-xs" ng-show="location_form.name.$invalid && location_form.submitted">
			                                <small class="text-danger" ng-show="location_form.name.$error.required">Please input name</small>
			                                <small class="text-danger" ng-show="location_form.name.$error.maxlength">Your name cannot be longer than 20 characters</small>
			                            </div>
			                        </div>
                        		</div>
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label>Phone</label>
			                            <input type="text" name="phone" class="form-control" id="phone" data-mask="999-999999999" placeholder="" ng-model="location.phone" autocomplete="off" required>
			                            <div class="m-t-xs" ng-show="location_form.phone.$invalid && location_form.submitted">
			                                <small class="text-danger" ng-show="location_form.phone.$error">Please input a valid phone number</small>
			                            </div>
			                        </div>
		                        </div>
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label>Code</label>
			                            <input type="text" placeholder="Location Code" class="form-control" id="location_form_code" name="code" ng-model="location.code" required ng-maxlength="20">
			                            <div class="m-t-xs" ng-show="location_form.code.$invalid && location_form.submitted">
			                                <small class="text-danger" ng-show="location_form.code.$error">Please input a valid location code</small>
			                                <small class="text-danger" ng-show="location_form.name.$error.maxlength">Location code cannot be longer than 20 characters</small>
			                            </div>
			                        </div>
		                        </div>
                        		<div class="col-sm-8 col-xs-12">
			                        <div class="form-group">
			                            <label>Address (max 80 characters)</label>
			                            <input type="text" placeholder="Address" class="form-control" id="location_form_address" name="address" ng-model="location.address" ng-maxlength="80" required>
			                            <div class="m-t-xs" ng-show="location_form.address.$invalid && location_form.submitted">
			                                <small class="text-danger" ng-show="location_form.address.$error">Please input a valid address.</small>
			                                <small class="text-danger" ng-show="location_form.name.$error.maxlength">Address cannot be longer than 80 characters</small>
			                            </div>
			                        </div>
		                        </div>
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group m-t-md" style="margin-top:22px">
			                            <button class="btn btn-primary btn-block" type="submit">SUBMIT</button>
			                        </div>
		                        </div>
		                    </form>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
        	<div class="ibox float-e-margins div-fill">
            	<div class="ibox-title">
		            <h5>Bulk Location Upload</h5></span>
		        </div>
                <div class="ibox-content" style="min-height:180px">
                	<form role="form" enctype="multipart/form-data" ng-submit="uploadBulkLocationList()" id="upload-bulk-location-list-form">
                            	<div class="row">
                            		<div class="col-xs-12 col-sm-8">
										<div class="form-group">
											<label class="control-label" id="fileName" tabindex="4" >Choose Location List File:</label>
						    				<label class="btn btn-default btn-block" for="file-input" id="file-label">Select..
					    						<input type="file" name="file" id="file-input" style="display:none" class="text-center" ng-model="locationBulkList.file" onchange="angular.element(this).scope().fileNameChanged()"/>
					    					</label>
						    			</div>
					    			</div>
                            		<div class="col-sm-4 col-xs-12">
	                            		<div class="form-group">
						    				<input type="submit" value="UPLOAD"  tabindex="4" class="btn btn-primary" />	    					    				
										</div>
                            		</div>
                            	</div>
                            </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><strong>Location List</strong></h5>
                </div>
                <div class="ibox-content">
                    <table datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Contact</th>
                            <th>Address</th>
                            <th>Active</th>
                            <th class="data-hide">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="location in locationList | orderBy : 'name'" class="data-hide-tr">
                            <td>{{ $index + 1 }}</td>
                            <td>
                            	<div id="{{'locationNameDiv'+$index}}">
	                            	<span>{{ location.name }}</span>
                            	</div>
                           	</td>
                            <td>
                            	<div id="{{'locationCodeDiv'+$index}}">
	                            	<span>{{ location.code }}</span>
                            	</div>
                           	</td>
                            <td>
                            	<div id="{{'locationContactDiv'+$index}}">
	                            	<span>{{ location.phone }}</span>
                            	</div>
                           	</td>
                            <td>
                            	<div id="{{'locationAddressDiv'+$index}}">
	                            	<span>{{ location.address }}</span>
                            	</div>
                           	</td>
                            <td>
                            	<div id="{{'locationActiveDiv'+$index}}">
	                            	<span>{{ (location.active == true) ? 'Yes' : 'No' }}</span>
                            	</div>
                           	</td>
                            <td>
                            	<a ng-hide="location.editMode" class="btn btn-sm btn-success" ng-click="clickedOnEditRow(location, $index)"><i class="fa fa-pencil"></i></a>
                            	<a ng-show="location.editMode" class="btn btn-sm btn-primary" ng-click="clickedOnSaveRow(location, $index)"><i class="fa fa-save"></i></a>
                            	<a class="btn btn-sm btn-danger" ng-click="deleteLocation(location, $index)"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>
</div>

