<div class="dashboard-header" ng-controller="SupplierCtrl" >
<div class="container">
	<div ng-include="'views/common/modal/supplier-addition-modal.html'"></div>
	<toaster-container></toaster-container>
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox float-e-margins div-fill">
            	<div class="ibox-title">
		            <h5>Add New Supplier</h5></span>
		        </div>
                <div class="ibox-content" style="min-height:180px">
                    <div class="row">
                        <div class="col-sm-12">
                        	<div class="row">
                        	<form role="form" name="supplier_form" novalidate ng-submit="uploadSingleSupplierList()">
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label>Name</label>
			                            <input type="text" placeholder="Supplier Name" class="form-control" name="username" ng-model="supplier.supplierName" ng-minlength="3" ng-maxlength="100" required>
			                            <div class="m-t-xs" ng-show="supplier_form.username.$invalid && supplier_form.submitted">
			                                <small class="text-danger" ng-show="supplier_form.username.$error.required">Please input a name</small>
			                                <small class="text-danger" ng-show="supplier_form.username.$error.minlength">Your username is required to be at least 3 characters</small>
			                                <small class="text-danger" ng-show="supplier_form.username.$error.maxlength">Your username cannot be longer than 100 characters</small>
			                            </div>
			                        </div>
                        		</div>
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label>Email</label>
			                            <input type="email" placeholder="Enter email" class="form-control" name="email" ng-model="supplier.email" required>
			                            <div class="m-t-xs" ng-show="supplier_form.email.$invalid && supplier_form.submitted">
			                                <small class="text-danger" ng-show="supplier_form.email.$error">Please input a valid email address (abc@gmail.com)</small>
			                            </div>
			                        </div>
		                        </div>
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label>Phone</label>
			                            <input type="number" placeholder="Phone Number" class="form-control" name="phone" type="email" ng-model="supplier.phone" required>
			                            <div class="m-t-xs" ng-show="supplier_form.website.$invalid && supplier_form.submitted">
			                                <small class="text-danger" ng-show="supplier_form.website.$error">Please input a valid Number</small>
			                            </div>
			                        </div>
		                        </div>
                        		<div class="col-sm-8 col-xs-12">
			                        <div class="form-group">
			                            <label>Address</label>
			                            <input type="text" placeholder="Address" class="form-control" name="password" ng-model="supplier.address" required>
			                            <div class="m-t-xs" ng-show="supplier_form.password.$invalid && supplier_form.submitted">
			                                <small class="text-danger" ng-show="supplier_form.username.$error.maxlength">Your username cannot be longer than 100 characters</small>
			                            </div>
			                        </div>
		                        </div>
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group m-t-md" style="margin-top:22px">
			                            <button class="btn btn-primary" type="submit">SUBMIT</button>
			                        </div>
		                        </div>
		                    </form>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
        	<div class="ibox float-e-margins div-fill">
            	<div class="ibox-title">
		            <h5>Bulk Supplier Upload</h5></span>
		        </div>
                <div class="ibox-content" style="min-height:180px">
                    <div class="row">
                        <div class="col-sm-12">
                            <form role="form" enctype="multipart/form-data" ng-submit="uploadBulkSupplierList()" id="upload-bulk-supplier-list-form">
                            	<div class="row">
                            		<div class="col-xs-12 col-sm-8">
										<div class="form-group">
											<label class="control-label" id="fileName" tabindex="4" >Choose Supplier List File:</label>
						    				<label class="btn btn-default btn-block" for="file-input" id="file-label">Select..
					    						<input type="file" name="file" id="file-input" style="display:none" class="text-center" ng-model="supplierList.file" onchange="angular.element(this).scope().fileNameChanged()"/>
					    					</label>
						    			</div>
					    			</div>
                            		<div class="col-sm-4 col-xs-12">
	                            		<div class="form-group" style="margin-top:20px">
						    				<input type="submit" value="UPLOAD"  tabindex="4" class="btn btn-primary" />	    					    				
										</div>
                            		</div>
                            	</div>
                            	<!-- <div class="row">
                            		<p>See Sample Excel Format
                            	</div> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><strong>Supplier List</strong></h5>
                </div>
                <div class="ibox-content">
                    <table datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="supplier in supplierList | orderBy : 'supplierName'">
                            <td>{{ $index + 1 }}</td>
                            <td>
                            	<span ng-hide="supplier.editSupplier">{{ supplier.supplierName }}</span>
                            	<input ng-show="supplier.editSupplier" type="text" placeholder="Supplier Name" class="form-control" name="username" ng-model="supplier.supplierName" ng-minlength="3" ng-maxlength="100" required>
                           	</td>
                            <td>
                            	<span ng-hide="supplier.editSupplier">{{ supplier.phone }}</span>
                            	<input ng-show="supplier.editSupplier" type="text" placeholder="Phone Number" class="form-control" name="phone" type="email" ng-model="supplier.phone" required>
                           	</td>
                            <td>
                            	<span ng-hide="supplier.editSupplier">{{ supplier.email }}</span>
                            	<input ng-show="supplier.editSupplier" type="email" placeholder="Enter email" class="form-control" name="email" ng-model="supplier.email" required>
                            </td>
                            <td>
                            	<span ng-hide="supplier.editSupplier">{{ supplier.address }}</span>
                            	<input ng-show="supplier.editSupplier" type="text" placeholder="Address" class="form-control" name="password" ng-model="supplier.address" required>
                            </td>
                            <td>
                            	<a ng-hide="supplier.editSupplier" class="btn btn-xs btn-success" ng-click="editSupplier(supplier, $index)"><i class="fa fa-pencil"></i></a>
                            	<a ng-show="supplier.editSupplier" class="btn btn-xs btn-primary" ng-click="saveEditedSupplier(supplier, $index)"><i class="fa fa-save"></i></a>
                            	<a class="btn btn-xs btn-danger" ng-click="deleteSupplier(supplier, $index)"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>
</div>
