<div class="" id="Add-Customer-Address-Modal">
	<toaster-container></toaster-container>
    <div class="modal-header">
        <h4 class="modal-title">Add New Address</h4>
    </div>
    <div class="modal-body" style="min-height:100px">
    	<div class="col-sm-12 col-xs-12">
    		<div class="row">
            	<div class="col-sm-6 col-xs-12">
               		<label>Address</label>
       				<input type="text" placeholder="Customer Name" id="addNewAddress" name="address" class="form-control" tabindex="4" ng-model="newCustomerDetails.address" autocomplete="off">
           		</div>
            	<div class="col-sm-6 col-xs-12">
               		<label>Phone</label>
               		<input type="text" name="phone" class="form-control" id="addNewPhone" data-mask="999-999999999" tabindex="4" placeholder="Phone" ng-model="newCustomerDetails.phone" autocomplete="off">
           		</div>
       		</div>
    	</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="uploadNewAddress(editOrderList)">Add & Attach To Order</button>
    </div>
</div>
