<div class="ibox float-e-margins div-fill" ng-controller="AdminCtrl">
            	<div class="ibox-title">
		            <h5>Single Supplier</h5></span>
		        </div>
                <div class="ibox-content" style="min-height:180px">
                    <div class="row">
                        <div class="col-sm-12">
                        	{{modalconfirmMessage}}
                        </div>
                    </div>
                </div>
            </div>