<div class="" id="Customer-Modal">
  <toaster-container></toaster-container>
  <div class="modal-header">
    <!-- <h4 class="modal-title" ng-show="editCustomer">Edit Customer</h4> -->
    <h4 class="modal-title" ng-show="addCustomer">Add New Customer</h4>
  </div>
  <div class="modal-body" ng-show="addCustomer" style="min-height:100px">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <form role="form" name="customer_form" id="customer_form" novalidate ng-submit="uploadSingleCustomerList()">
          <div class="row">
            <div class="col-sm-4 col-xs-12">
              <div class="form-group">
                <label>Name</label>
                <input type="text" placeholder="Customer Name" class="form-control" id="customer_form_name" name="name" ng-model="customer.name" ng-maxlength="150" required autocomplete="off">
                <div class="m-t-xs" ng-show="customer_form.name.$invalid && customer_form.submitted">
                  <small class="text-danger" ng-show="customer_form.name.$error.required">Please input name</small>
                  <small class="text-danger" ng-show="customer_form.name.$error.maxlength">Your name cannot be longer than 150 characters</small>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="form-group">
                <label>Phone</label>
                <input type="text" name="phone" class="form-control" id="customer_form_phone" data-mask="999-999999999" placeholder="Phone" ng-model="customer.phone" autocomplete="off" required autocomplete="off">
                <div class="m-t-xs" ng-show="customer_form.phone.$invalid && customer_form.submitted">
                  <small class="text-danger" ng-show="customer_form.phone.$error">Please input a valid phone number</small>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="form-group">
                <label>Country</label>
                <input type="text" placeholder="Country" class="form-control" id="customer_form_country" name="country" ng-model="customer.country" required ng-maxlength="20" autocomplete="off">
                <div class="m-t-xs" ng-show="customer_form.country.$invalid && customer_form.submitted">
                  <small class="text-danger" ng-show="customer_form.country.$error">Please input a valid country</small>
                  <small class="text-danger" ng-show="customer_form.country.$error.maxlength">Country name cannot be longer than 20 characters</small>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="form-group">
                <label>Emirate</label>
                <input type="text" placeholder="Emirate" class="form-control" id="customer_form_emirate" name="emirate" ng-model="customer.emirate" ng-maxlength="80" required autocomplete="off">
                <div class="m-t-xs" ng-show="customer_form.emirate.$invalid && customer_form.submitted">
                  <small class="text-danger" ng-show="customer_form.emirate.$error">Please input a valid emirate.</small>
                  <small class="text-danger" ng-show="customer_form.emirate.$error.maxlength">Emirate cannot be longer than 80 characters</small>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="form-group">
                <label>Email</label>
                <input type="text" placeholder="Email" class="form-control" name="email" ng-model="customer.email" id="customer_form_email" required ng-maxlength="80" autocomplete="off">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-xs-12">
              <div class="form-group">
                <div class="no-padding">
                  <label>VAT Regn.</label>
                </div>
                <div class="col-sm-4 no-padding m-t-xs">
                  <label> <input icheck type="radio" name="VATRegistration" value="1" ng-model="customer.VATRegistration" required> Yes</label>
                </div>
                <div class="col-sm-4 no-padding m-t-xs">
                  <label> <input icheck type="radio" name="VATRegistration" value="0" ng-model="customer.VATRegistration" required> No </label>
                </div>
                <div class="m-t-sm" ng-show="customer_form.VATRegistration.$invalid && customer_form.submitted">
                  <small class="text-danger" ng-show="customer_form.VATRegistration.$error">Please input a VATRegistration.</small>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12" ng-show="customer.VATRegistration == 1">
              <div class="form-group">
                <label>TRN Number</label>
                <input type="text" placeholder="TRN Number" class="form-control" name="trnNumber" id="customer_form_trnNumber" ng-model="customer.trnNumber" ng-maxlength="15" autocomplete="off">
                <div class="m-t-xs" ng-show="customer_form.trnNumber.errorString != ''">
                  <small class="text-danger">{{customer_form.trnNumber.errorString}}</small>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12" ng-show="customer.VATRegistration == 1">
              <div class="form-group">
                <label>VAT Reg. Date(DD-MM-YYYY)</label>
                <input type="text" name="VATRegistrationDoneOn" class="form-control" id="customer_form_VATRegistrationDoneOn" value="01-01-2018" data-mask="99-99-9999" placeholder="VAT Registration Date" ng-model="customer.VATRegistrationDate" autocomplete="off">
                <div class="m-t-xs" ng-show="customer_form.VATRegistrationDoneOn.errorString != ''">
                  <small class="text-danger">{{customer_form.VATRegistrationDoneOn.errorString}}</small>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-primary" ng-show="addCustomer" ng-click="addNewCustomer(customer)">Add</button>
    <!-- <button type="button" class="btn btn-primary" ng-show="editCustomer" ng-click="editSingleCustomer(editOrderList)">Edit & Attach To Order</button> -->
  </div>
</div>