<div class="" id="Cutting-Type-Modal">
   <toaster-container></toaster-container>
   <div class="modal-header">
      <h4 class="modal-title">Add New Cutting Type</h4>
   </div>
   <div class="modal-body" style="min-height:100px">
      <div class="row">
         <div class="col-sm-12 col-xs-12">
            <form role="form" name="cutting_type_form" id="cutting_type_form" novalidate>
               <div class="row">
                  <div class="col-sm-12 col-xs-12">
                     <div class="form-group">
                        <label>Name</label>
                        <input type="text" placeholder="Cutting Type Name" class="form-control" id="cutting_type_form_name" tabindex="4" name="name" ng-model="cuttingType.name" ng-maxlength="20" required autocomplete="off">
                        <div class="m-t-xs" ng-show="cutting_type_form.name.$invalid && cutting_type_form.submitted">
                           <small class="text-danger" ng-show="cutting_type_form.name.$error.required">Please input name</small>
                           <small class="text-danger" ng-show="cutting_type_form.name.$error.maxlength">Name cannot be longer than 20 characters</small>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-12 col-xs-12">
                     <div class="form-group">
                        <div class="col-sm-12 no-padding">
                           <label>Cutting Mode</label>
                        </div>
                        <div class="col-sm-6 no-padding">
                           <label> <input icheck type="radio" name="cuttingMode" value="0"  tabindex="4" ng-model="cuttingType.cuttingMode"> Manual</label>
                        </div>
                        <div class="col-sm-6 no-padding">
                           <label> <input icheck type="radio" name="cuttingMode" value="1"  tabindex="4" ng-model="cuttingType.cuttingMode"> Machine</label>
                        </div>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
   <div class="modal-footer">
    <div class="col-sm-6 col-xs-12">
      <button type="button" class="btn btn-block btn-white" ng-click="cancel()">Close</button>
    </div>
    <div class="col-sm-6 col-xs-12">
      <button class="btn btn-primary btn-block" ng-click="addNewCuttingType(cuttingType)" >SUBMIT</button>
    </div>
   </div>
</div>