<script>

$(".js-example-tags").select2({
	  tags: true,
	  dropdownParent: $('#Edit-Customer-Modal')
	});
/* $(".select2-selection--single").css({
	'border': '1px solid #e5e6e7',
	'border-radius' : '1px',
	'height' : '33px',
	'z-index': '9999999999999'
}); */

</script>
<div class="" id="Edit-Customer-Modal">
	<toaster-container></toaster-container>
    <div class="modal-header">
        <h4 class="modal-title" ng-show="editCustomer">Edit Customer</h4>
        <h4 class="modal-title" ng-show="addCustomer">Add New Customer</h4>
    </div>
    <div class="modal-body" ng-show="addCustomer" style="min-height:100px">
    	<div class="col-sm-12 col-xs-12">
    		<div class="row">
            	<form role="form" name="customer_form" id="customer_form" novalidate ng-submit="uploadSingleCustomerList()">
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label>Name</label>
			                            <input type="text" placeholder="Customer Name" class="form-control" id="customer_form_name" name="name" ng-model="customer.name" ng-maxlength="20" required autocomplete="off">
			                            <div class="m-t-xs" ng-show="customer_form.name.$invalid && customer_form.submitted">
			                                <small class="text-danger" ng-show="customer_form.name.$error.required">Please input name</small>
			                                <small class="text-danger" ng-show="customer_form.name.$error.maxlength">Your name cannot be longer than 20 characters</small>
			                            </div>
			                        </div>
                        		</div>
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label>Phone</label>
			                            <input type="text" name="phone" class="form-control" id="phone" data-mask="999-999999999" placeholder="" ng-model="customer.phone" autocomplete="off" required autocomplete="off">
			                            <div class="m-t-xs" ng-show="customer_form.phone.$invalid && customer_form.submitted">
			                                <small class="text-danger" ng-show="customer_form.phone.$error">Please input a valid phone number</small>
			                            </div>
			                        </div>
		                        </div>
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label>Country</label>
			                            <input type="text" placeholder="Country" class="form-control" id="country" name="country" ng-model="customer.country" required ng-maxlength="20" autocomplete="off">
			                            <div class="m-t-xs" ng-show="customer_form.country.$invalid && customer_form.submitted">
			                                <small class="text-danger" ng-show="customer_form.country.$error">Please input a valid country</small>
			                                <small class="text-danger" ng-show="customer_form.country.$error.maxlength">Country name cannot be longer than 20 characters</small>
			                            </div>
			                        </div>
		                        </div>
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label>Email</label>
			                            <input type="text" placeholder="Email" class="form-control" name="email" ng-model="customer.email" required ng-maxlength="80" autocomplete="off">
			                            <div class="m-t-xs" ng-show="customer_form.email.$invalid && customer_form.submitted">
			                                <small class="text-danger" ng-show="customer_form.email.$error">Please input a valid email</small>
			                                <small class="text-danger" ng-show="customer_form.email.$error.maxlength">Email cannot be longer than 80 characters</small>
			                            </div>
			                        </div>
		                        </div>
                        		<div class="col-sm-8 col-xs-12">
			                        <div class="form-group">
			                            <label>Emirate</label>
			                            <input type="text" placeholder="Emirate" class="form-control" id="customer_form_emirate" name="emirate" ng-model="customer.emirate" ng-maxlength="80" required autocomplete="off">
			                            <div class="m-t-xs" ng-show="customer_form.emirate.$invalid && customer_form.submitted">
			                                <small class="text-danger" ng-show="customer_form.emirate.$error">Please input a valid emirate.</small>
			                                <small class="text-danger" ng-show="customer_form.name.$error.maxlength">Emirate cannot be longer than 80 characters</small>
			                            </div>
			                        </div>
		                        </div>
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group m-t-md" style="margin-top:22px">
			                            <button class="btn btn-primary btn-block" type="submit">SUBMIT</button>
			                        </div>
		                        </div>
		                    </form>
       		</div>
    	</div>
    </div>
    <div class="modal-body" ng-show="editCustomer" style="min-height:100px">
    	<div class="col-sm-12 col-xs-12">
    		<div class="row">
            	<div class="col-sm-12 col-xs-12">
               		<label>Edit Customer Name</label><br>
               		<select class="js-example-tags form-control" style="width:100%;" ng-model="customerObj" ng-change="assignCustomerNameOnEditOrder(customerObj)">
					  <option selected="selected" value="">--Select Customer--</option>
					  <option ng-repeat="selected in customerList" value="{{selected}}">{{selected.name}}</option>
					</select>
<!--        				<input type="text" placeholder="Customer Name" name="customerName" class="form-control" tabindex="4" ng-model="editOrderList.customerName"> -->
           		</div>
       		</div>
    	</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
        <button type="button" class="btn btn-primary" ng-show="addCustomer" ng-click="uploadSingleCustomerList(editOrderList)">Add & Attach To Order</button>
        <button type="button" class="btn btn-primary" ng-show="editCustomer" ng-click="editSingleCustomer(editOrderList)">Edit & Attach To Order</button>
    </div>
</div>
