<div class="ibox float-e-margins div-fill">
  	<div class="ibox-title">
    	<h5>Single Supplier</h5></span>
	</div>
      <div class="ibox-content" style="min-height:180px">
        <div class="row">
            <div class="col-sm-12">
            	{{message}}<br>
            	customerId: {{editOrderList.customerId}}<br>
            	customer: {{editOrderList.customerName}}<br>
            	customerDetails: {{editOrderList.customerDetails}}
            </div>
        </div>
    </div>
</div>