<div class="" id="Material-Modal">
   <toaster-container></toaster-container>
   <div class="modal-header">
      <h4 class="modal-title">Add New Material</h4>
   </div>
   <div class="modal-body" style="min-height:100px">
      <div class="row">
         <div class="col-sm-12 col-xs-12">
            <form role="form" name="material_form" novalidate ng-submit="">
        		<div class="col-sm-4 col-xs-12">
                  <div class="form-group">
                      <label>Name</label>
                      <input type="text" placeholder="Material Name" class="form-control" name="materialName" ng-model="material.materialName" ng-minlength="3" ng-maxlength="100" required>
                      <div class="m-t-xs" ng-show="material_form.materialName.$invalid && material_form.submitted">
                          <small class="text-danger" ng-show="material_form.materialName.$error.required">Please input a name</small>
                          <small class="text-danger" ng-show="material_form.materialName.$error.minlength">Your name is required to be at least 3 characters</small>
                          <small class="text-danger" ng-show="material_form.materialName.$error.maxlength">Your name cannot be longer than 100 characters</small>
                      </div>
                  </div>
            		</div>
            		<div class="col-sm-4 col-xs-12">
                  <div class="form-group">
                      <label>Origin</label>
                      <input type="text" placeholder="Enter origin" class="form-control" name="originCountry" ng-model="material.originCountry" required>
                      <div class="m-t-xs" ng-show="material_form.originCountry.$invalid && material_form.submitted">
                          <small class="text-danger" ng-show="material_form.originCountry.$error">Please input a valid origin</small>
                      </div>
                  </div>
                </div>
            </form>
         </div>
      </div>
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
      <button class="btn btn-primary" ng-click="uploadSingleMaterialList()" type="submit">SUBMIT</button>
   </div>
</div>