<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="supplier-addition-modal">
  	<div class="modal-dialog modal-lg">
	    <div class="modal-content">
      		<div class="modal-header">

			<div class="ibox float-e-margins div-fill" ng-controller="AdminCtrl">
            	<div class="ibox-title">
		            <h5>Single Supplier</h5></span>
		        </div>
                <div class="ibox-content" style="min-height:180px">
                    <div class="row">
                        <div class="col-sm-12">
                        	<div class="row">
                        	<form role="form" name="supplier_form" novalidate ng-submit="updateSingleSupplierList(editSupplier)">
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label>Name</label>
			                            <input type="text" placeholder="Supplier Name" class="form-control" name="username" ng-model="editSupplier.supplierName" ng-minlength="3" ng-maxlength="40" required>
			                            <div class="m-t-xs" ng-show="supplier_form.username.$invalid && supplier_form.submitted">
			                                <small class="text-danger" ng-show="supplier_form.username.$error.required">Please input a name</small>
			                                <small class="text-danger" ng-show="supplier_form.username.$error.minlength">Your username is required to be at least 3 characters</small>
			                                <small class="text-danger" ng-show="supplier_form.username.$error.maxlength">Your username cannot be longer than 20 characters</small>
			                            </div>
			                        </div>
                        		</div>
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label>Email</label>
			                            <input type="email" placeholder="Enter email" class="form-control" name="email" ng-model="editSupplier.email" required>
			                            <div class="m-t-xs" ng-show="supplier_form.email.$invalid && supplier_form.submitted">
			                                <small class="text-danger" ng-show="supplier_form.email.$error">Please input a valid email address (abc@gmail.com)</small>
			                            </div>
			                        </div>
		                        </div>
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label>Phone</label>
			                            <input type="number" placeholder="Phone Number" class="form-control" name="phone" type="email" ng-model="editSupplier.phone" required>
			                            <div class="m-t-xs" ng-show="supplier_form.website.$invalid && supplier_form.submitted">
			                                <small class="text-danger" ng-show="supplier_form.website.$error">Please input a valid Number</small>
			                            </div>
			                        </div>
		                        </div>
                        		<div class="col-sm-8 col-xs-12">
			                        <div class="form-group">
			                            <label>Address</label>
			                            <input type="text" placeholder="Address" class="form-control" name="password" ng-model="editSupplier.address" required>
			                            <div class="m-t-xs" ng-show="supplier_form.password.$invalid && supplier_form.submitted">
			                                <small class="text-danger" ng-show="supplier_form.username.$error.maxlength">Your username cannot be longer than 100 characters</small>
			                            </div>
			                        </div>
		                        </div>
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group m-t-md" style="margin-top:22px">
			                            <button class="btn btn-primary" type="submit">SUBMIT</button>
			                        </div>
		                        </div>
		                    </form>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
           	</div>
</div>
</div>
</div>
