<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" id="user-edit-modal" ng-controller="UserCtrl">
  	<div class="modal-dialog modal-lg">
	    <div class="modal-content">
	    	<div class="col-lg-12">
            <div class="ibox float-e-margins div-fill">
            	<div class="ibox-title">
		            <h5>Edit User</h5>
		            <a class="btn btn-sm btn-danger pull-right" data-dismiss="modal">Close</a>
		        </div>
                <div class="ibox-content" style="min-height:180px">
                    <div class="row">
                        <div class="col-sm-12">
                        	<form role="form" name="edit_user_form" novalidate ng-submit="editSingleUserFromModal(editUserObject)">
                        	<div class="row">
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label>Name</label>
			                            <input type="text"  placeholder="Name" class="form-control" name="name" ng-model="editUserObject.name" ng-minlength="3" ng-maxlength="50" required autocomplete="off">
			                            <div class="m-t-xs" ng-show="edit_user_form.name.$invalid && edit_user_form.submitted">
			                                <small class="text-danger" ng-show="edit_user_form.name.$error.required">Please input a name</small>
			                                <small class="text-danger" ng-show="edit_user_form.name.$error.minlength">Your name is required to be at least 3 characters</small>
			                                <small class="text-danger" ng-show="edit_user_form.name.$error.maxlength">Your name cannot be longer than 50 characters</small>
			                            </div>
			                        </div>
                        		</div>
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label>Emirates Id</label>
		                            	<input type="text" class="form-control" name="emiratesId" data-mask="999-9999-9999999-9" placeholder="" ng-model="editUserObject.emiratesId" autocomplete="off" required>
		                            	<div class="m-t-xs" ng-show="edit_user_form.emiratesId.$invalid && edit_user_form.submitted">
			                                <small class="text-danger" ng-show="edit_user_form.emiratesId.$error.required">Please input Emirates Id</small>
			                            </div>
			                        </div>
		                        </div>
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label class="form-label">Gender</label>
			                            <br>
		                            	<div class="col-sm-6 col-xs-6 no-padding">
	                            			<label> <input iCheck type="radio" name="gender" value="0" ng-model="editUserObject.gender"> Male</label>
	                                	</div>
	                                	<div class="col-sm-6 col-xs-6 no-padding">
                                			<label> <input iCheck type="radio" name="gender" value="1" ng-model="editUserObject.gender"> Female </label>
                               			</div>
			                        </div>
                        		</div>
		                        </div>
		                        <div class="row">
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label>Email</label>
			                            <input type="email" placeholder="Enter email" class="form-control" name="email" ng-model="editUserObject.email" required autocomplete="off">
			                            <div class="m-t-xs" ng-show="edit_user_form.email.$invalid && edit_user_form.submitted">
			                                <small class="text-danger" ng-show="edit_user_form.email.$error.required">Please input an email</small>
			                            </div>
			                        </div>
		                        </div>
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label>Mobile Number</label>
			                            <input type="text" name="phoneModal" id="phoneModal" class="form-control" data-mask="999-999999999" placeholder="" ng-model="editUserObject.phone" autocomplete="off" required>
			                            <div class="m-t-xs" ng-show="edit_user_form.phoneModal.$invalid && edit_user_form.submitted">
			                                <small class="text-danger" ng-show="edit_user_form.phoneModal.$error.required">Please input valid phone number</small>
			                            </div>
			                        </div>
		                        </div>
		                        <div class="col-lg-4">
		                            <label>Password</label>
								    <div class="input-group">
								      <input type="password"  name="newUserPasswordModal" id="newUserPasswordModal" placeholder="Password" class="form-control" ng-model="editUserObject.password" style="display:table-cell" ng-minlength="8" ng-maxlength="15" autocomplete="off" required>
								      <span class="input-group-btn">
								        <button ng-click="togglePasswordVisibility('newUserPasswordModal')" style="font-size:20px !important" class="btn btn-default" type="button"><i class="fa fa-eye"></i></button>
								      </span>
								    </div>
								    <div class="m-t-xs" ng-show="edit_user_form.newUserPasswordModal.$invalid && edit_user_form.submitted">
								    	<small class="text-danger" ng-show="edit_user_form.newUserPasswordModal.$error.required">Please input valid password</small>
		                                <small class="text-danger" ng-show="edit_user_form.newUserPasswordModal.$error.minlength">Your password is required to be at least 3 characters</small>
		                                <small class="text-danger" ng-show="edit_user_form.newUserPasswordModal.$error.maxlength">Your password is required to be at most 15 characters</small>
		                            </div>
								  </div>
                        		
		                        </div>
		                        <div class="row">
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label>Address Line 1</label>
			                            <input type="text" placeholder="Address Line 1" class="form-control" name="addressLine1" ng-model="editUserObject.addressLine1" ng-maxlength="50" ng-minlength="3" required autocomplete="off">
			                            <div class="m-t-xs" ng-show="edit_user_form.addressLine1.$invalid && edit_user_form.submitted">
			                            	<small class="text-danger" ng-show="edit_user_form.addressLine1.$error.required">Please input valid phone number</small>
			                                <small class="text-danger" ng-show="edit_user_form.addressLine1.$error.minlength">Your Address Line 1 is required to be at least 3 characters</small>
			                                <small class="text-danger" ng-show="edit_user_form.addressLine1.$error.maxlength">Your Address Line 1 is required to be at most 50 characters</small>
			                            </div>
			                        </div>
		                        </div>
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label>Address Line 2 (optional)</label>
			                            <input type="text" placeholder="Address Line 2" class="form-control" name="password" ng-model="editUserObject.addressLine2" autocomplete="off" ng-maxlength="50">
			                            <div class="m-t-xs" ng-show="edit_user_form.addressLine2.$invalid && edit_user_form.submitted">
			                                <small class="text-danger" ng-show="edit_user_form.addressLine2.$error.maxlength">Your Address Line 2 is required to be at most 50 characters</small>
			                            </div>
			                        </div>
		                        </div>
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label>City</label>
			                            <input type="text" placeholder="City" class="form-control" name="city" ng-model="editUserObject.city" required autocomplete="off" ng-maxlength="30">
			                            <div class="m-t-xs" ng-show="edit_user_form.city.$invalid && edit_user_form.submitted">
			                            	<small class="text-danger" ng-show="edit_user_form.city.$error.required">Please input City</small>
			                                <small class="text-danger" ng-show="edit_user_form.city.$error.maxlength">City is required to be at most 30 characters</small>
			                            </div>
			                        </div>
		                        </div>
		                        </div>
		                        <div class="row">
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label>Role</label>
		                            	<select class="form-control" name="role" placeholder="Role" ng-model="editUserObject.role" required style="height:34px" autocomplete="off">
							            	<option value="">--Select Role--</option>
							            	<option ng-repeat="role in userRolesList" value="{{role.role}}">{{role.roleString}}</option>
							            </select>
							            <div class="m-t-xs" ng-show="edit_user_form.role.$invalid && edit_user_form.submitted">
			                            	<small class="text-danger" ng-show="edit_user_form.role.$error.required">Please input Role</small>
			                            </div>
			                        </div>
		                        </div>
		                        <div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label class="form-label">Active</label>
			                            <br>
		                            	<div class="col-sm-6 col-xs-6 no-padding">
	                            			<label> <input iCheck type="radio" name="active" value="0" ng-model="editUserObject.active"> No</label>
	                                	</div>
	                                	<div class="col-sm-6 col-xs-6 no-padding">
                                			<label> <input iCheck type="radio" name="active" value="1" ng-model="editUserObject.active"> Yes</label>
                               			</div>
			                        </div>
                        		</div>
		                        </div>
		                        <div class="clearfix"></div>
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group m-t-md" style="margin-top:22px">
			                            <button class="btn btn-primary" type="submit">SUBMIT</button>
			                        </div>
		                        </div>
		                    </form>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>
