<div ng-controller="SalesCtrl">

	<div class="row  border-bottom white-bg dashboard-header ng-scope">
   		<div class="row">
   			<div class="col-sm-3 col-xs-12">
	       		<div class="form-group">
	               	<label>Customer</label>
                    <input id="customer-typeahead" placeholder="Search Customer" class="form-control" autocomplete="off"
                     ng-model="approvedOrderObj.customerName" typeahead-on-select="addCustomerToOrder($item, this)" typeahead="mf as mf.name for mf in startSearch($viewValue) | limitTo:20">
              	</div>
	       	</div>
   			<!-- <div class="col-sm-3 col-xs-12">
	       		<div class="form-group">
	               	<label>Material</label>
                    <input id="material-typeahead-{{$index}}" placeholder="Search Material" class="form-control" autocomplete="off"
                                 ng-model="approvedOrderObj.material" typeahead-on-select="addMaterialToOrder($item, coList)" typeahead="m as m.materialName for m in startMaterialSearch($viewValue) | limitTo:20">
              	</div>
	       	</div> -->
   			<div class="col-sm-3 col-xs-12">
	       		<div class="form-group">
	               	<label>Date Range</label>
	               	<select id="duration" class="form-control" name="duration" tabindex="4" ng-model="approvedOrderObj.duration">
		            	<option value="All">All</option>
		            	<option value="6">Last 6 Months</option>
		            	<option value="30">Last 30 Days</option>
		            	<option value="10">Last 10 Days</option>
		            	<option value="5">Last 5 Days</option>
		            </select>
              	</div>
	       	</div>
	       	<div class="col-sm-2 col-xs-12">
	       		<a class="btn btn-primary" style="margin-top:24px" ng-click="fetchApprovedOrders()">Fetch</a>
	       	</div>
   		</div>
	</div>
<div class="wrapper wrapper-content animated fadeInRight" id="approvedOrderDiv">
    <div class="row">
        	<div class="col-lg-12">
	                <div class="" style="min-height:400px">
		          		<div class="row" style="padding-bottom: 50px;">
		          			<div class="col-md-12 col-xs-12 product-box" style="background:#fff !important">
		          				<div class="row" >
			                       		<div class="col-sm-1 col-xs-6">
			                       			
			                       			<label>Order No</label>
			                       		</div>
			                       		<div class="col-sm-3 col-xs-6">
			                       			<label>Name</label>
			                       		</div>
			                       		<div class="col-sm-1 col-xs-6">
			                       			<label>Slab Count</label>
			                       		</div>
			                       		<div class="col-sm-2 col-xs-6">
			                       			<label>Total Mt. Sq.</label>
			                       		</div>
			                       		<div class="col-sm-2 col-xs-6">
			                       			<label>Dates</label>
			                       		</div>
			                       		<div class="col-sm-2 col-xs-6">
					                        <label>Action</label>
			                       		</div>
			                       	</div>
		          			</div>
                            <div class="row col-sm-12 col-xs-12" ng-show="order.hasCuttingSlabs">
                                          <div class="row col-sm-12 col-xs-12 " ng-repeat="co in order.cuttingOrderList">
                                          <div class="col-sm-6 col-xs-12" ng-repeat="coTasks in co.cuttingOrderTasks">
                                            
                                          </div>
                                   Cutting Order Id: <span class="label label-info">{{co.id}}</span><br>
                                  <b class="text-navy m-t-lg">{{co.material.materialName}}</b>
                                  <div class="row col-sm-12 col-xs-12">
                                  <b><small><span ng-repeat="t in co.cuttingOrderTasks.tasks">{{t.cuttingType.name}} <span ng-hide="$index == co.cuttingOrderTasks.tasks.length - 1">| </span></span></small></b>
                                <table class="table table-sm table-responsive table-bordered table-condensed table-hover m-t-sm">
                                  <thead class="thead-dark">
                                    <tr>
                                      <th>Unit</th>
                                      <th>Size</th>
                                      <th>Nos</th>
                                      <th>Qty</th>
                                    </tr>
                                  </thead>
                                  <tbody style="border:0px !important">
                                    <tr ng-repeat="d in co.cuttingOrderTasks.cuttingDetails" style="border:0px !important">
                                     <td>{{d.unit.name}}</td>
                                     <td>{{d.length}} x {{d.height}} cm</td>
                                     <td>{{d.nos}}</td>
                                     <td>{{d.quantity}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                            </div>
                                          </div>
                          </div>
					   		<div class="col-md-12 col-xs-12 product-box text-center" style="background:#fff !important;padding:10px" ng-show="approvedOrdersList.length <= 0">
                              {{errorObjForApprovedOrder.error}}
                            </div>
					   		<div class="col-md-12 col-xs-12 product-box" style="background:#fff !important" ng-repeat="order in approvedOrdersList | orderBy: '-id'">
			                    <div class="product-desc" style="padding:5px">
			                       	<div class="row">
			                       		<div class="col-sm-1 col-xs-6">
			                       			<div>
			                       				<label ng-show="mergeAction == true && order.hasCuttingSlabs == false">
				                       				<input type="checkbox" ng-model="order.mergeChecked" ng-true-value="1" ng-true-value="0" ng-change="addToMergeList(order, order.mergeChecked)">
                                    			</label>
				                       			<label class="font-bold text-navy">{{order.id}}</label>
                                   			</div>
			                       		</div>
			                       		<div class="col-sm-3 col-xs-6">
			                       			<h5 class="font-bold text-navy">{{order.customer.customerName}} <span ng-show="order.narration.length > 0">({{order.narration}})</span><span ng-show="order.hasCuttingSlabs" class="badge badge-info">Cutting</span></h5>
			                       		</div>
			                       		<div class="col-sm-1 col-xs-6">
			                       			<h5 class="font-bold text-navy">{{order.slabCount}}</h5>
			                       		</div>
			                       		<div class="col-sm-2 col-xs-6">
			                       			<h5 class="font-bold text-navy">{{order.totalMtSquare | number:2}}</h5>
			                       		</div>
			                       		<div class="col-sm-2 col-xs-6">
			                       			<h5 class="font-bold text-navy">Updated: {{order.updatedOn | moment}}
                                            <br>created: {{order.createdOn | moment}}</h5>
			                       		</div>
			                       		<div class="col-sm-2 col-xs-6">
		                       			<a ng-show="mergeAction == true && (order.id == mergeOrderObject.mainOrder)" class="btn btn-primary btn-xs" ng-click="mergeOrder()"> Merge These Orders</a>
		                       			<!-- <a ng-show="mergeAction == true && (order.id == mergeOrderObject.mainOrder)" class="btn btn-danger" ng-click="mergeOrder()"> Cancel</a> -->
			                       		<div class="btn-group" ng-show="mergeAction == false">
			                       			<a class="btn btn-warning btn-xs" data-toggle="collapse" id="{{'table'+$index}}" data-target="{{'.table'+$index}}">More</a>
			                       			<a class="btn btn-info btn-xs" ng-hide="order.hasCuttingSlabs" ng-click="addToMergeList(order, 2)">Merge</a>
					                        <!-- <a class="btn btn-primary btn-xs" target="_blank" href="deliveryOrder?action=downloadDO&orderId={{order.id}}&customerName={{order.customerName}}">PrintDO</a> -->
					                        <a class="btn btn-primary btn-xs" ng-hide="order.hasCuttingSlabs" ng-click="goToPrintDeliveryOrder(order.id)">PrintDO</a>
 					            	    </div>
			                       		</div>
			                       	</div>
			                       	<div class="row">
			                       		<div class="col-sm-12 col-xs-12">
					                       	<table class=" table table-hover collapse {{'table'+$index}}">
						                		<thead class="thead-dark">
						                  			<tr>
						                  			<th>#</th>
					                    			<th style="width:20%;">Product Name</th>
					                    			<th style="width:20%;">Code</th>
					                    			<th style="width:20%;">Size</th>
					                    			<th style="width:20%;">Type</th>
					                    			<th style="width:20%;">Office</th>
					                  				</tr>
					                			</thead>
					                			<tbody>
					                  				<tr ng-repeat="cartOrder in order.cart">
					                  					<td>{{$index+1}}</td>
						                    			<td>{{cartOrder.material.name}}</td>
						                    			<td>{{cartOrder.inventory.barcodeString}}</td>
						                    			<td>{{cartOrder.inventory.actualLength}} x {{cartOrder.inventory.actualHeight}} x {{cartOrder.inventory.thickness}} cm</td>
						                    			<td>{{cartOrder.inventory.type}}</td>
						                    			<td>{{cartOrder.inventory.yard}} <span ng-show="cartOrder.addToCuttingOrder" class="badge badge-danger">In Cutting</span></td>
					                  				</tr>
								                </tbody>
							              	</table>
			                       		</div>
				                    </div>
				                </div>
				            </div>
				        </div>
				   	</div>			
				</div>
			</div>
	<div class="footer" style="position:fixed" ng-show="mergeAction == true">
		<div class="row">
			<div class="col-sm-4 col-xs-4">
				<span>Count</span>
				<h3 class="font-bold text-navy">{{count}}</h3>
			</div>
			<div class="col-sm-4 col-xs-4">
				<span>Meter Sq.</span>
				<h3 class="font-bold text-navy">{{totalSqMeters | number:2}}</h3>
			</div>
			<div class="col-sm-4 col-xs-4">
				<a class="btn btn-primary" ng-click="">Merge</a>
			</div>
		</div>
	</div>
</div>

</div>
<script>
$(".js-example-tags").select2({
    tags: true,
  });
$(".select2-selection--single").css({
  'border': '1px solid #e5e6e7',
  'border-radius' : '1px',
  'height' : '33px'
});
</script>