<!-- Wrapper-->
<div id="wrapper" class="top-navigation" ng-controller="PackingListUploadCtrl">

    <!-- Navigation -->
    <div ng-include="'views/common/top_navigation.html'"></div>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}"  style="padding-top:60px">

        <!-- Main view  -->
        <div ui-view></div>

        <!-- Footer -->
        <div ng-include="'views/common/footer.html'"></div>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->

<!-- Wrapper-->
<!-- <div id="wrapper" ng-controller="PackingListUploadCtrl">
    Navigation
    <div ng-include="'views/common/navigation.html'"></div>

    Page wraper
    ng-class with current state name give you the ability to extended customization your view
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

        Page wrapper
        <div ng-include="'views/common/topnavbar.html'"></div>

        Main view 
        <div ui-view></div>

        Footer
        <div ng-include="'views/common/footer.html'"></div>

    </div>
    End page wrapper

    Right Sidebar
    <div ng-include="'views/common/right_sidebar.html'"></div>

</div> -->
<!-- End wrapper-->