<div ng-controller="CuttingCtrl"  style="padding:0px !important">
	<div class="row wrapper page-heading text-center text-navy">
	    <div class="col-lg-12">
	        <h2><strong>Cutting Order</strong></h2>
	    </div>
	</div>
	<div class="animated fadeInRight">
	    <div class="row">
	        <div class="col-lg-12">
	            <div class="ibox float-e-margins">
	                <div class="ibox-content">
	                	<div class="row">
	                        <div class="col-sm-12">
			                    <div class="row">
	                            	<div class="col-sm-3 col-xs-12">
		                                <div class="form-group">
		                                	<label>Customer Name</label>
		                                	<input type="text" placeholder="Customer Name" name="customerName" class="form-control" tabindex="4" ng-model="cuttingOrderList.customerName">
		                               	</div>
	                               	</div>
				    			</div>
			    			</div>
		    			</div>
	    			</div>
	   			</div>
			</div>
		</div>
	   	<div class="row" style="padding-bottom: 50px;">
	   		<div class="col-md-3" ng-repeat="cuttingObj in cuttingOrderList.cuttingOrder">
	            <div class="ibox">
	                <div class="ibox-content product-box">
	                    <div class="product-desc">
	                    	<div class="form-group">
	                        	<label>Scan or Type Slab Code</label>
	                        	<div class="input-group">
	                        		<input type="text" placeholder="Slab Code" id="{{'slabCodeText'+$index}}" name="slabCode" class="form-control" ng-enter="viewSlabDetails(cuttingObj.slabCode, $index, this)" tabindex="4" ng-model="cuttingObj.slabCode">
	                       			<span class="input-group-btn"> 
	                       				<button type="button" class="btn btn-primary" ng-click="viewSlabDetails(cuttingObj.slabCode, $index, this)" tabindex="4">Go!</button>
	               					</span>
	                        	</div>
	                       	</div>
	                       	<div class="row" ng-show="cuttingObj.name.length>0" style="height: 65px !important">
	                       		<div class="col-sm-9 col-xs-9">
			                        <small class="text-muted">Name</small>
	                       			<a class="product-name"> <h4 class="font-bold text-navy">{{cuttingObj.name}} ({{cuttingObj.type}})</h4></a>
	                       		</div>
	                       		<div class="col-sm-3 col-xs-3">
	                       			<small class="text-muted">Mt. Sq.</small>
	                       			<a class="product-name"> <h4 class="font-bold text-navy">{{cuttingObj.actualSqMetre | number:2}}</h4></a>
	                       		</div>
	                       	</div>
	                       	<div class="row" ng-show="cuttingObj.name.length>0">
	                       		<div class="col-sm-7 col-xs-12">
			                        <small class="text-muted">Size</small>
	                       			<a class="product-name"> <h4 class="font-bold text-navy">{{cuttingObj.actualLength}} x {{cuttingObj.actualHeight}} x {{cuttingObj.thickness}} cm</h4></a>
	                       		</div>
	                       		<div class="col-sm-5 col-xs-12" ng-show="cuttingObj.type == 'TILE'">
			                        <small class="text-muted">Tiles</small>
	                       			<input type="text" placeholder="Number of Tiles to be Sold" ng-change="changeTileCount(cuttingObj)" name="tileCount" class="form-control" tabindex="4" ng-model="cuttingObj.tileCount">
	                       		</div>
	                       	</div>
	                       	<div class="row">
	                           	<div class="col-sm-6 col-xs-6">
	                           		<a class="btn btn-danger btn-xs btn-block" ng-click="removeAt($index)">Remove</a>
	                           	</div>
	                       	</div>
	                    </div>
	                </div>
	            </div>
	        </div>
	   	</div>			
	</div>
	
	<div class="footer" style="position:fixed">
		<div class="row">
			<div class="col-sm-4 col-xs-4">
				<span>Count</span>
				<h3 class="font-bold text-navy">{{count}}</h3>
			</div>
			<div class="col-sm-4 col-xs-4">
				<span>Meter Sq.</span>
				<h3 class="font-bold text-navy">{{totalSqMeters | number:2}}</h3>
			</div>
			<div class="col-sm-4 col-xs-4">
				<a class="btn btn-primary" ng-click="uploadCuttingOrder()">Update</a>
			</div>
		</div>
	</div>
</div>