<div class="wrapper wrapper-content animated fadeInRight" ng-controller="SalesCtrl">
    <div class="row">
        <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Edit Order</h5>

                    <!-- <div ibox-tools> </div> -->
                </div>
                <div class="ibox-content">
                    <div class="row">
                    	<div class="col-sm-3 col-xs-12">
                    		<div class="form-group">
                            	<label>Customer Name</label>
                            	<input type="text" placeholder="Customer Name" name="customerName" class="form-control" tabindex="4" ng-model="editOrderList.customerName">
                           	</div>
                    	</div>
                    	<div class="col-sm-3 col-xs-12">
                    		<div class="form-group">
                            	<label>Slabs</label>
                            	<input type="text" placeholder="Customer Name" name="customerName" class="form-control" tabindex="4" ng-model="editOrderList.slabCount" readonly="readonly">
                           	</div>
                    	</div>
                    	<div class="col-sm-3 col-xs-12">
                    		<div class="form-group">
                            	<label>Total Mt. Square</label>
                            	<input type="text" placeholder="Customer Name" name="customerName" class="form-control" tabindex="4" ng-model="editOrderList.totalMtSquare" readonly="readonly">
                           	</div>
                    	</div>
                    </div>
                    <div class="row">
                           	<div class="col-sm-3 col-xs-6">
                           		<div class="form-group">
	                           		<label>Address</label>
			                        <input type="text" placeholder="Address" name="address" maxlength=40 class="form-control" tabindex="4" ng-model="editOrderList.address">
                           		</div>
                       		</div>
                       		<div class="col-sm-3 col-xs-6">
                       			<div class="form-group">
	                           		<label>Vehicle Number</label>
			                        <input type="text" placeholder="Vehicle Number" name="vehicleNumber" class="form-control" tabindex="4" ng-model="editOrderList.vehicleNumber">
                           		</div>
                       		</div>
                       		<div class="col-sm-3 col-xs-6">
                       			<div class="form-group">
	                           		<label>LPO Number (optional)</label>
			                        <input type="text" placeholder="LPO Number" name="LPONumber" class="form-control" tabindex="4" ng-model="editOrderList.LPONumber">
                           		</div>
                       		</div>
                       		<div class="col-sm-3 col-xs-6">
                       			<div class="form-group">
	                           		<label>LPO Date (optional)</label>
	                           		<input type="text" class="form-control ng-pristine ng-valid ng-scope ng-touched" date-time="" ng-model="editOrderList.LPODate" view="date" auto-close="true" min-view="date" name="arrivalDate" format="DD-MM-YYYY">
                           		</div>
                       		</div>
                       	</div>


					<table class="table table-responsive table-striped">
				      	<thead>
				        	<tr>
				          		<th>#</th>
				          		<th>Name</th>
                           		<th>Code</th>
				          		<th>Size</th>
                            	<th>Type</th>
                            	<th>Office</th>
                            	<th>Action</th>
				        	</tr>
				      	</thead>
				      	<tbody>
				        	<tr ng-repeat="slab in editOrderList.cart">
             					<td>{{$index+1}}</td>
                    			<td>{{slab.material.name}}</td>
                    			<td>{{slab.barcodeString}}</td>
                    			<td style="width:30%">
                    				<input type="number" placeholder="length" name="length" class="" style="width:20%" ng-blur="calculateTotalSqMetersOnEdit(editOrderList)" tabindex="4" ng-model="slab.actualLength">
                    					X 
                   					<input type="number" placeholder="height" name="height" class="" style="width:20%" ng-blur="calculateTotalSqMetersOnEdit(editOrderList)" tabindex="4" ng-model="slab.actualHeight">
                   						X 
                   					<input type="number" placeholder="thickness" name="thickness" class="" style="width:20%" tabindex="4" ng-model="slab.thickness">
                    			<td>{{slab.type}}</td>
                    			<td>{{slab.yard}}</td>
                    			<td><a ng-click="deleteCartRow(editOrderList, slab, $index)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a></td>
               				</tr> 
				      </tbody>
				    </table>
				    <div class="row">
				    	<div class="col-sm-3 col-xs-6">
						    <a class="btn btn-warning" ng-click="saveEditedOrder(false, editOrderList)">Save</a>
						    <a class="btn btn-primary" ng-click="saveEditedOrder(true, editOrderList)">Save & Approve</a>
				    	</div>
				    </div>
                 </div>
            </div>
        </div>
    </div>
</div>

</div>