<div class="wrapper wrapper-content animated fadeInRight" ng-controller="SalesCtrl">
    <div class="row">
        <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins" id="salesOrderTableiBox">
                <div class="ibox-title">
                    <h5>Pending Orders</h5>
                </div>
                <div class="ibox-content">
                    <input type="text" class="form-control input-sm m-b-xs" id="filter"
                           placeholder="Search in table">


					<table class="table table-responsive table-striped">
				      	<thead>
				        	<tr>
				          		<th>#</th>
				          		<th>Customer Name</th>
				          		<th>Slab Count</th>
                           		<th>Total Mt. Sq.</th>
                            	<th>Created On</th>
                            	<th>Action</th>
				        	</tr> 
				      	</thead>
				      	<tbody ng-show="salesOrderList.length == 0">
				      		<tr>
				        		<td colspan=6 style="text-align:center">
				        			No New Orders
				        		</td>
				        	</tr>
				      	</tbody>
				      	<tbody ng-repeat="order in salesOrderList" ng-hide="salesOrderList.length == 0">
					        <tr>
				          		<td data-toggle="collapse" id="{{'table'+$index}}" data-target="{{'.table'+$index}}">{{$index+1}}</td>
				          		<td data-toggle="collapse" id="{{'table'+$index}}" data-target="{{'.table'+$index}}">{{order.customerName}}</td>
                            	<td data-toggle="collapse" id="{{'table'+$index}}" data-target="{{'.table'+$index}}">{{order.slabCount}}</td>
                            	<td data-toggle="collapse" id="{{'table'+$index}}" data-target="{{'.table'+$index}}">{{order.totalMtSquare | number:2}}</td>
                            	<td data-toggle="collapse" id="{{'table'+$index}}" data-target="{{'.table'+$index}}">{{order.createdOn | moment}}</td>
				          		<td>
				                    <a class="btn btn-warning btn-sm" data-toggle="collapse" id="{{'table'+$index}}" data-target="{{'.table'+$index}}">More</a>
				          			<div class="btn-group">
					                    <a class="btn btn-info btn-sm" ng-click="editOrderPage(order)">Edit</a>
					                    <a class="btn btn-primary btn-sm" ng-click="editOrderPage(order)">Approve</a>
					                    <!-- <a class="btn btn-primary btn-sm" ng-click="moveOrderToInvoice(order.id, $index)">Approve</a> -->
					                    <a class="btn btn-danger btn-sm" ng-click="deleteOrder(order.id, $index)">Delete</a>
					                </div>
				        	</tr>
				        	<tr class="collapse {{'table'+$index}}">
				        		<td></td>
				          		<td colspan="5">
				            		<div>
				              			<table class="table">
					                		<thead class="thead-dark">
					                  			<tr>
					                  			<th>#</th>
				                    			<th>Product Name</th>
				                    			<th>Code</th>
				                    			<th>Size</th>
				                    			<th>Type</th>
				                    			<th>Office</th>
				                  				</tr>
				                			</thead>
				                			<tbody>
				                  				<tr ng-repeat="cartOrder in order.cart">
				                  					<td>{{$index+1}}</td>
					                    			<td>{{cartOrder.material.name}}</td>
					                    			<td>{{cartOrder.material.barcodeString}}</td>
					                    			<td>{{cartOrder.actualLength}} x {{cartOrder.actualHeight}} x {{cartOrder.thickness}} cm</td>
					                    			<td>{{cartOrder.type}}</td>
					                    			<td>{{cartOrder.yard}}</td>
				                  				</tr>
							                </tbody>
						              </table>
				    		        </div>
						          </td>
					        </tr>
				        
				      </tbody>
				    </table>
                 </div>
            </div>
        </div>
    </div>
</div>

</div>