<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CuttingOrderCtrl">
    <div class="row">
        <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins" id="salesOrderTableiBox">
                <div class="ibox-title">
                    <h5>Pending Cutting Orders</h5>
                </div>
                <div class="ibox-content">
                    <input type="text" class="form-control input-sm m-b-xs" id="filter"
                           placeholder="Search in table">


					<table class="table table-responsive table-striped">
				      	<thead>
				        	<tr>
				          		<th>CO No</th>
				          		<th>Customer Name</th>
                           		<th>Input Mt. Sq.</th>
                           		<th>Output Mt. Sq.</th>
                            	<th>Created On</th>
                            	<th>Action</th>
				        	</tr> 
				      	</thead>
				      	<tbody ng-show="fetchCuttingList.length == 0">
				      		<tr>
				        		<td colspan=6 style="text-align:center">
				        			No New Cutting Orders
				        		</td>
				        	</tr>
				      	</tbody>
				      	<tbody ng-repeat="order in fetchCuttingList | orderBy : '-id'" ng-hide="fetchCuttingList.length == 0">
					        <tr>
				          		<td data-toggle="collapse" id="{{'table'+$index}}" data-target="{{'.table'+$index}}">{{$index+1}}</td>
				          		<td data-toggle="collapse" id="{{'table'+$index}}" data-target="{{'.table'+$index}}">{{order.customerName}}</td>
                            	<td data-toggle="collapse" id="{{'table'+$index}}" data-target="{{'.table'+$index}}">{{order.totalInputMtSquare | number:2}}</td>
                            	<td data-toggle="collapse" id="{{'table'+$index}}" data-target="{{'.table'+$index}}">{{order.totalOutputMtSquare| number:2}}</td>
                            	<td data-toggle="collapse" id="{{'table'+$index}}" data-target="{{'.table'+$index}}">{{order.createdOn | moment}}</td>
				          		<td>
				                    <a class="btn btn-warning btn-sm" data-toggle="collapse" id="{{'table'+$index}}" data-target="{{'.table'+$index}}">More</a>
				          			<!-- <div class="btn-group">
					                    <a class="btn btn-info btn-sm" ng-click="editOrderPage(order)">Edit</a>
					                    <a class="btn btn-primary btn-sm" ng-click="editOrderPage(order)">Approve</a>
					                    <a class="btn btn-danger btn-sm" ng-click="deleteOrder(order.id, $index)">Delete</a>
					                </div> -->
				        	</tr>
				        	<tr class="collapse {{'table'+$index}}">
				        		<td></td>
				          		<td colspan="5">
				            		<div>
				              			<table class="table">
					                		<thead class="thead-dark">
					                  			<tr>
					                  			<th>#</th>
				                    			<th>Cutting Type</th>
				                    			<th>Unit</th>
				                    			<th>Rate</th>
				                    			<th>Quantity</th>
				                    			<th>Amount</th>
				                  				</tr>
				                			</thead>
				                			<tbody>
				                  				<tr ng-repeat="cartOrder in order.cuttingOrder">
				                  					<td>{{$index+1}}</td>
					                    			<td>{{cartOrder.cuttingType}}</td>
					                    			<td>{{cartOrder.unit}}</td>
					                    			<td>{{cartOrder.rate}}</td>
					                    			<td>{{cartOrder.quantity}}</td>
					                    			<td>{{cartOrder.amount}}</td>
				                  				</tr>
							                </tbody>
						              </table>
				    		        </div>
						          </td>
					        </tr>
				        
				      </tbody>
				    </table>
                 </div>
            </div>
        </div>
    </div>
</div>

</div>