<div class="wrapper wrapper-content animated fadeInRight" ng-controller="SalesCtrl">
    <div class="row">
        <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins" id="salesOrderTableiBox">
                <div class="ibox-title">
                    <h5>Pending Orders</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                      <div class="col-sm-12 col-xs-12">
                        <div class="form-group">
                          <label>Search Order Number OR Customer Name</label>
                          <input ng-model="filterText" class="form-control">
                        </div>
                      </div>
                    </div>
					<table class="table table-responsive table-striped" style="border-bottom: 0px !important;">
				      	<thead>
				        	<tr>
				          		<th>#</th>
				          		<th>Customer Name</th>
				          		<th>Slab Count</th>
                           		<th>Total Mt. Sq.</th>
                            	<th>Created On</th>
                            	<th>Action</th>
				        	</tr> 
				      	</thead>
				      	<tbody ng-show="salesOrderList.length == 0">
				      		<tr>
				        		<td colspan=6 style="text-align:center">
				        			No New Orders
				        		</td>
				        	</tr>
				      	</tbody>
				      	<tbody ng-repeat="order in salesOrderList | orderBy : '-id' | filter: filterText" ng-hide="salesOrderList.length == 0">
					        <tr>
				          		<td data-toggle="collapse" id="{{'table'+$index}}" data-target="{{'.table'+$index}}">{{order.id}}</td>
				          		<td data-toggle="collapse" id="{{'table'+$index}}" data-target="{{'.table'+$index}}">{{order.customer.customerName}} 
                                  <span ng-show="order.narration.length>0">({{order.narration}})</span>
                                  <span ng-show="order.hasCuttingSlabs && order.cart.length <= 0" class="badge badge-info">In Cutting</span>
                                  <span ng-show="order.hasCuttingSlabs && order.cart.length > 0" class="badge badge-primary">Completed</span>
                                </td>
                            	<td data-toggle="collapse" id="{{'table'+$index}}" data-target="{{'.table'+$index}}">{{order.slabCount}}</td>
                            	<td data-toggle="collapse" id="{{'table'+$index}}" data-target="{{'.table'+$index}}">{{order.totalMtSquare | number:2}}</td>
                            	<td data-toggle="collapse" id="{{'table'+$index}}" data-target="{{'.table'+$index}}">{{order.createdOn | moment}}</td>
				          		<td>
				                    <a class="btn btn-warning btn-sm" data-toggle="collapse" id="{{'table'+$index}}" data-target="{{'.table'+$index}}">More</a>
				                    <div class="btn-group" ng-show="order.hasCuttingSlabs" >
					                    <a class="btn btn-info btn-sm" ng-click="goToPrintCuttingOrder(order.id)">Print</a>
					                    <a class="btn btn-success btn-sm" ng-click="goToScanCuttingOrder(order.id)">Scan</a>
					                    <a class="btn btn-primary btn-sm" ng-click="editOrderPage(order)">Approve</a>
					                    <a class="btn btn-danger btn-sm" ng-click="deleteOrder(order.id, $index)">Delete</a>
					                </div>
				          			<div class="btn-group" ng-hide="order.hasCuttingSlabs">
					                    <a class="btn btn-info btn-sm" ng-click="editOrderPage(order)">Edit</a>
					                    <a class="btn btn-primary btn-sm" ng-click="editOrderPage(order)">Approve</a>
					                    <a class="btn btn-danger btn-sm" ng-click="deleteOrder(order.id, $index)">Delete</a>
					                </div>
				        	</tr>
                            <!-- <tr class="collapse {{'table'+$index}}">
                              <td></td>
                              <td colspan="3">
                                <div>
                                  <b><span>Sq. Mt. based on thickness</span></b>
                                  <table class="table table-sm table-responsive table-bordered table-condensed table-hover" ng-hide="order.cart.length <= 0">
                                    <thead class="thead-dark">
    		                  			<tr>
        	                    			<th>2 cm</th>
        	                    			<th>3 cm</th>
    	                  				</tr>
    		                  			<tr>
        	                    			<td>{{order.sqMeters2Cm}}</td>
        	                    			<td>{{order.sqMeters3Cm}}</td>
    	                  				</tr>
    	                			</thead>
                                  </table>
                                </div>
                              </td>
                              <td></td>
                              
                            </tr> -->
				        	<tr class="collapse {{'table'+$index}}">
				        		<td></td>
				          		<td colspan="5">
                                    <div>
                                  <b><span>Sq. Mt. based on thickness</span></b>
                                  <table class="table table-sm table-responsive table-bordered table-condensed table-hover" ng-hide="order.cart.length <= 0">
                                    <thead class="thead-dark">
                                <tr>
                                    <th>2 cm</th>
                                    <th>3 cm</th>
                                </tr>
                                <tr>
                                    <td>{{order.sqMeters2Cm | number:2}}</td>
                                    <td>{{order.sqMeters3Cm | number:2}}</td>
                                </tr>
                            </thead>
                                  </table>
                                </div>
				            		<div>
                                        <b><span>Scanned Slabs</span></b>
				              			<table class="table table-sm table-responsive table-bordered table-condensed table-hover" ng-hide="order.hasCuttingSlabs && order.cart.length <= 0">
					                		<thead class="thead-dark">
					                  			<tr>
					                  			<th>#</th>
				                    			<th>Product Name</th>
				                    			<th>Code</th>
				                    			<th>Size</th>
				                    			<th>Type</th>
				                    			<th>Office</th>
				                  				</tr>
				                			</thead>
				                			<tbody>
				                  				<tr ng-repeat="cartOrder in order.cart | orderBy : 'material.name' | orderBy : 'thickness'">
				                  					<td>{{$index+1}}</td>
					                    			<td>{{cartOrder.material.name}}</td>
					                    			<td>{{cartOrder.inventory.barcodeString}}</td>
					                    			<td>{{cartOrder.inventory.actualLength}} x {{cartOrder.inventory.actualHeight}} x {{cartOrder.inventory.thickness}} cm</td>
					                    			<td>{{cartOrder.inventory.type}}</td>
					                    			<td>{{cartOrder.inventory.yard}}</td>
				                  				</tr>
				                  				<!-- <tr ng-repeat="cartOrder in order.cart" ng-show="order.hasCuttingSlabs">
				                  					
				                  				</tr> -->
							                </tbody>
						              </table>
						              <div class="row col-sm-12 col-xs-12" ng-show="order.hasCuttingSlabs">
                                          <div class="row col-sm-6 col-xs-12 " ng-repeat="co in order.cuttingOrderList">
						              	       Cutting Order Id: <span class="label label-info">{{co.id}}</span><br>
                                              <b class="text-navy m-t-lg">{{co.material.materialName}}</b>
                                              <div class="row col-sm-12 col-xs-12" ng-repeat="cot in co.cuttingOrderTasks">
                                              <b><small><span ng-repeat="t in cot.cuttingOrderTaskType">{{t.cuttingType.name}} <span ng-hide="$index == cot.cuttingOrderTaskType.length - 1">| </span></span></small></b>
    							              <table class="table table-sm table-responsive table-bordered table-condensed table-hover m-t-sm">
  						                		<thead class="thead-dark">
					                  			  <tr>
  					                    			<th>Unit</th>
  					                    			<th>Size</th>
  					                    			<th>Nos</th>
  					                    			<th>Qty</th>
				                  				  </tr>
  					                			</thead>
  					                			<tbody style="border:0px !important">
				                  				  <tr ng-repeat="d in cot.cuttingOrderCart" style="border:0px !important">
					                    		   <td>{{d.unit.name}}</td>
					                    		   <td>{{d.length}} x {{d.height}} cm</td>
					                    		   <td>{{d.nos}}</td>
				                    			   <td>{{d.quantity}}</td>
    					                  				</tr>
    								                </tbody>
    							              </table>
                                            </div>
                                          </div>
						              </div>
				    		        </div>
						          </td>
					        </tr>
				        
				      </tbody>
				    </table>
                 </div>
            </div>
        </div>
    </div>
</div>

</div>
