<style>
	.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.flex-row > [class*='col-'] {
	 display: flex;
	 flex-direction: column;
}
</style>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="SalesCtrl">
    <div class="row flex-row">
    	
    	<div class="col-lg-3 flex-row">
          		<div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Edit Order</h5>

                    <!-- <div ibox-tools> </div> -->
                </div>
                <div class="ibox-content" style="height:inherit">
                	<div class="row">
                		<div class="col-sm-12 col-xs-12">
                       		<label>Customer Name</label>
                   			<div class="input-group">
                   				<input type="text" placeholder="Customer Name" name="customerName" class="form-control" tabindex="4" ng-model="editOrderList.customer.customerName" readonly="readonly">
                                <div class="input-group-btn">
                                    <button tabindex="-1" class="btn btn-success" ng-click="addNewCustomer()" type="button" style="height:34px"><i class=" fa fa-plus"></i></button>
                                    <button tabindex="-1" class="btn btn-warning" ng-click="editExistingCustomer(editOrderList)" type="button" style="height:34px"><i class=" fa fa-pencil"></i></button>
                                </div>
                            </div>
                            
                   		</div>
               		</div>
               		<div class="row">
                    	<div class="col-sm-6 col-xs-12">
                       		<div class="form-group">
                           		<label>Slab Count</label>
		                        <input type="text" placeholder="Slab COunt" name="slabCount" maxlength=40 class="form-control" tabindex="4" ng-model="editOrderList.slabCount" readonly="readonly">
                       		</div>
                   		</div>
                    	<div class="col-sm-6 col-xs-12">
                       		<div class="form-group">
                           		<label>Meter Sq.</label>
		                        <input type="text" placeholder="Total Mt. Sq." name="totalMtSquare" maxlength=40 class="form-control" tabindex="4" ng-model="editOrderList.totalMtSquare" readonly="readonly">
                       		</div>
                   		</div>
               		</div>
               		<div class="row">
                   		<div class="col-sm-12 col-xs-12">
                       		<div class="form-group">
                           		<label>Select Address Details</label>
                           		<input type="text" name="emirate" class="form-control" id="emirate" tabindex="4" placeholder="Emirate" ng-model="editOrderList.customer.emirate" required>
								<div class="m-t-xs" ng-show="editOrder_form.emirate.$invalid && editOrder_form.submitted">
	                                <small class="text-danger" ng-show="editOrder_form.emirate.$error.required">Please Input Emirate</small>
	                            </div>
                       		</div>
                   		</div>
                	</div>
                </div>
                </div>
          	</div>
        <div class="col-lg-9 col-xs-12 flex-row">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Edit Order</h5>

                    <!-- <div ibox-tools> </div> -->
                </div>
                <div class="ibox-content">
                	<form role="form" name="editOrder_form" novalidate ng-submit="uploadSingleMaterialList()">
                    <div class="row">
                    	
                    	<div class="col-sm-3 col-xs-12">
                       		<div class="form-group">
                           		<label>Phone</label>
                           		<input type="text" name="phone" class="form-control" id="phone" data-mask="999-999999999" tabindex="4" placeholder="Phone" ng-model="editOrderList.customer.phone" autocomplete="off" required>
                           		<div class="m-t-xs" ng-show="editOrder_form.phone.$invalid && editOrder_form.submitted">
	                                <small class="text-danger" ng-show="editOrder_form.phone.$error.required">Please input Phone</small>
	                            </div>
                       		</div>
                   		</div>
                   		<div class="col-sm-3 col-xs-12">
                   			<div class="form-group">
                           		<label>LPO Number (optional)</label>
		                        <input type="text" placeholder="LPO Number" name="LPONumber" class="form-control" tabindex="4" ng-model="editOrderList.LPONumber">
                       		</div>
                   		</div>
                   		<div class="col-sm-3 col-xs-12">
                   			<div class="form-group">
                          		<label>LPO Date (optional)</label>
                           		<input type="text" name="LPODate" class="form-control" id="LPODate" data-mask="99-99-9999" tabindex="4" placeholder="LPO Date" ng-model="editOrderList.LPODate" autocomplete="off" >
                       		</div>
                   		</div>
               		</div>
               		<div class="row">
               			<div class="col-sm-3 col-xs-12">
                       		<div class="form-group">
                           		<label>Company Pickup</label>{{editOrderList.companyPickup}}<br>
                   				<input type="checkbox" name="companyPickup" tabindex="4"  ng-model="editOrderList.companyPickup" ng-true-value="1" ng-false-value="0">
                       		</div>
                   		</div>
                    	<div class="col-sm-3 col-xs-12">
                       		<div class="form-group">
                           		<label>Vehicle Number</label>
		                        <input type="text" placeholder="Vehicle Number" name="vehicleNumber" tabindex="4" maxlength=40 class="form-control" tabindex="4" ng-model="editOrderList.vehicleNumber" ng-readonly="editOrderList.companyPickup == 1">
                       		</div>
                   		</div>
                    	<div class="col-sm-6 col-xs-12">
                       		<div class="form-group">
                           		<label>Narration (comments)</label>
		                        <input type="text" placeholder="Narration" tabindex="4"  name="narration" tabindex="4" ng-maxlength="80" class="form-control" tabindex="4" ng-model="editOrderList.narration">
		                        <div class="m-t-xs" ng-show="editOrder_form.narration.$invalid && editOrder_form.submitted">
	                                <small class="text-danger" ng-show="editOrder_form.narration.$error.maxlength">Narration cannot be longer than 80 characters</small>
	                            </div>
                       		</div>
                   		</div>
               			<div class="col-sm-3 col-xs-12">
                       		<div class="form-group">
                           		<label>VAT Registration</label><br>
                   				<input type="checkbox" name="VATRegistration" tabindex="4"  ng-model="editOrderList.customer.VATRegistration" ng-true-value="1" ng-false-value="0">
                       		</div>
                   		</div>
                    	<div class="col-sm-3 col-xs-12">
                       		<div class="form-group">
                           		<label>TRN Number</label>
		                        <input type="text" placeholder="TRN Number" name="trnNumber" tabindex="4" maxlength=40 class="form-control" tabindex="4" ng-model="editOrderList.customer.trnNumber" ng-readonly="editOrderList.VATRegistration == 0">
                       		</div>
                   		</div>
                    	<div class="col-sm-6 col-xs-12">
                       		<div class="form-group">
                           		<label>VAT Registration Done On (dd-mm-yyyy)</label>
                           		<input type="text" name="VATRegistrationDate" class="form-control" id="VATRegistrationDate" data-mask="99-99-9999" tabindex="4" placeholder="VAT Registration Date" ng-model="editOrderList.customer.VATRegistrationDate" autocomplete="off" >
                       		</div>
                   		</div>
                       	</div>
					</form>
					</div>
                </div>
          	</div>
          	
		</div>
		<div class="row" style="margin-top:20px">
          	<div class="col-lg-12 col-xs-12">
                   	<div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Order Details</h5>

                    <!-- <div ibox-tools> </div> -->
                </div>
                <div class="ibox-content">


					<table class="table table-responsive table-striped">
				      	<thead>
				        	<tr>
				          		<th style="display:none">Add to CO
				          			<label>
                       					<input type="checkbox" ng-model="addToCuttingOrderMain" ng-true-value="1" ng-false-value="0" ng-click="markAllAsCuttingSlab(addToCuttingOrderMain)">
                           			</label>
				          			
				          		</th>
				          		<th>#</th>
				          		<th>Name</th>
                           		<th>Code</th>
				          		<th>Size</th>
                            	<th>Tiles</th>
                            	<th>Type</th>
                            	<th>Office</th>
                            	<th>Action</th>
				        	</tr>
				      	</thead>
				      	<tbody>
				        	<tr ng-repeat="slab in editOrderList.cart">
             					<td style="display:none">
             						<label>
                       					<input type="checkbox" ng-model="slab.addToCuttingOrder" ng-true-value="1" ng-false-value="0" ng-click="addToCuttingOrder(slab, slab.addToCuttingOrder, $index)">
                           			</label>
             					</td>
             					<td>{{$index+1}}</td>
                    			<td>{{slab.inventory.material.name}}</td>
                    			<td>{{slab.inventory.barcodeString}}</td>
                    			<td style="width:30%">
                    				<input type="number" placeholder="length" name="length" class="" style="width:20%" ng-blur="calculateTotalSqMetersOnEdit(slab)" tabindex="4" ng-model="slab.inventory.actualLength" >
                    					X 
                   					<input type="number" placeholder="height" name="height" class="" style="width:20%" ng-blur="calculateTotalSqMetersOnEdit(slab)" tabindex="4" ng-model="slab.inventory.actualHeight" >
                   						X 
                   					<input type="number" placeholder="thickness" name="thickness" class="" style="width:20%" tabindex="4" ng-model="slab.inventory.thickness" >
                    			<td style="width:10%">
                    				{{slab.tileCount}}
									<!-- <input type="number" placeholder="tileCount" name="tileCount" class="" ng-show="(slab.type == 'TILE')" style="width:50%" ng-blur="calculateTotalSqMetersOnEdit(slab)" tabindex="4" ng-model="slab.tileCount"> -->
								</td>
                    			<td>{{slab.inventory.type}}</td>
                    			<td>{{slab.inventory.yard}}</td>
                    			<td><a ng-click="deleteCartRow(editOrderList, slab, $index)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a></td>
               				</tr>
				      </tbody>
				    </table>
				    <div class="row">
				    	<div class="col-sm-3 col-xs-6">
						    <a class="btn btn-warning" ng-click="saveEditedOrder(false, editOrderList)">Save</a>
						    <a class="btn btn-primary" ng-click="saveEditedOrder(true, editOrderList)">Save & Approve</a>
				    	</div>
				    </div>
                 </div>
            </div>
        </div>
	</div>

</div>
