<div class="row  border-bottom white-bg dashboard-header" ng-controller="PackingListUploadCtrl" style="padding:0px !important">
    <div class="col-sm-12">
        <h2>{{ 'Upload Packing List' | translate }}</h2>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <form role="form" enctype="multipart/form-data" ng-submit="uploadSinglePackingList()" id="upload-packing-list-form">
	                            <div class="row">
	                            	<div class="col-sm-3 col-xs-12">
		                                <div class="form-group">
		                                	<label>Supplier Name</label>
									        <div class="input-group">
									            <select  id="supplier" class="form-control" name="supplierId" style="width:240px;" tabindex="4" ng-model="singleStock.supplierId">
									            	<option value="">--Select Supplier--</option>
									            	<option ng-repeat="selected in supplierList" value="{{selected.supplierId}}">{{selected.supplierName}}</option>
									            </select>
									        </div>
		                               	</div>
	                            	</div>
	                            	<div class="col-sm-3 col-xs-12">
		                                <div class="form-group">
		                                	<label>Material Name</label>
		                                	<div class="input-group">
									            <select id="material" class="form-control" name="materialId" style="width:240px;" tabindex="4" ng-model="singleStock.materialId">
									            	<option value="">--Select Material--</option>
									            	<option ng-repeat="selected in materialList" value="{{selected.materialId}}">{{selected.materialName}}</option>
									            </select>
									        </div>
		                               	</div>
	                               	</div>
	                               	<div class="col-sm-3 col-xs-12">
		                                <div class="form-group">
		                                	<label>Material Type</label>
		                                	<div class="input-group">
									            <select id="states" class="form-control" name="type" style="width:240px;" tabindex="4" ng-model="singleStock.type">
									            	<option value="">--Select Type--</option>
									            	<option value="CUTTER">Cutter</option>
									            	<option value="GANGSAW">Gangsaw Slab</option>
									            	<option value="MINI_GANGSAW">Mini-Gangsaw</option>
									            	<option value="RISER">Riser</option>
									            	<option value="STEP">Step</option>
									            	<option value="TILE">Tile</option>
									            	<option value="UNDERSIZE">Undersize</option>
									            </select>
									        </div>
		                               	</div>
	                               	</div>
	                               	<div class="col-sm-3 col-xs-12">
		                                <div class="form-group">
		                                	<label>Thickness</label>
		                                	<input type="number" placeholder="Thickness" name="thickness" style="width:240px" class="form-control" tabindex="4" ng-model="singleStock.thickness">
		                               	</div>
	                               	</div>
	                            </div>
	                            
	                            <div class="row">
	                            	<div class="col-sm-3 col-xs-12">
		                                <div class="form-group">
		                                	<label>Length</label>
									        <div class="input-group">
									            <input type="number" placeholder="Length" style="width:240px" class="form-control" tabindex="4" ng-model="singleStock.length">
									        </div>
		                               	</div>
	                            	</div>
	                            	<div class="col-sm-3 col-xs-12">
		                                <div class="form-group">
		                                	<label>Height</label>
		                                	<div class="input-group">
									            <input type="number" placeholder="Height" style="width:240px" class="form-control" tabindex="4" ng-model="singleStock.height">
									        </div>
		                               	</div>
	                               	</div>
                               		<div class="col-sm-3 col-xs-12">
                               			<div class="form-group">
		                                	<label>Yard (Old/New)</label>
		                                	<div class="input-group">
									            <select id="yard" class="form-control" name="yard" style="width:240px;" tabindex="4" ng-model="singleStock.yard">
									            	<option value="">--Select Yard--</option>
									            	<option value="Main">Old Yard</option>
									            	<option value="Warehouse">New Yard</option>
									            </select>
									        </div>
		                               	</div>
	                               	</div>
	                               	<div class="col-sm-3 col-xs-12">
		                                <div class="form-group">
		                                	<label>Date of Container Arrival</label><br>
		                                	<input type="text" style="width:240px;" class="form-control ng-pristine ng-valid ng-scope ng-touched" date-time="" ng-model="singleStock.arrivalDate" view="date" auto-close="true" min-view="date" name="arrivalDate" format="DD-MM-YYYY">
		                               	</div>
	                               	</div>
	                            </div>
                            	
	                           	<div class="row m-t-s">
	                           		<div class="col-sm-4 col-xs-12">
		                               	<div class="col-sm-12 col-xs-12">
			                               	<div class="row">
				                                <div class="form-group">
				                                	<div class="col-sm-4 no-padding">
				                                		<label>Polished</label>
				                                	</div>
				                                	<div class="col-sm-4 no-padding">
				                            			<label> <input icheck type="radio" name="polished" value="1"  tabindex="4" ng-model="singleStock.polished"> Yes</label>
				                                	</div>
				                                	<div class="col-sm-4 no-padding">
			                                			<label> <input icheck type="radio" name="polished" value="0"  tabindex="4" ng-model="singleStock.polished"> No </label>
			                               			</div>
				                               	</div>
			                               	</div>
		                               	</div>
	                               	
		                               	<div class="col-sm-12 col-xs-12">
		                               		<div class="row">
				                                <div class="form-group">
				                                	<div class="col-sm-4 no-padding">
				                                		<label>Flamed</label>
				                                	</div>
				                                	<div class="col-sm-4 no-padding">
				                            			<label> <input icheck type="radio" name="flamed" value="1"  tabindex="4" ng-model="singleStock.flamed"> Yes</label>
				                                	</div>
				                                	<div class="col-sm-4 no-padding">
			                                			<label> <input icheck type="radio" name="flamed" value="0"  tabindex="4" ng-model="singleStock.flamed"> No </label>
			                               			</div>
				                               	</div>
			                               	</div>
		                               	</div>
		                               	
		                               	<div class="col-sm-12 col-xs-12">
		                               		<div class="row">
				                                <div class="form-group">
				                                	<div class="col-sm-4 no-padding">
				                                		<label>Old Stock</label>
				                                	</div>
				                                	<div class="col-sm-4 no-padding">
				                            			<label> <input icheck type="radio" name="oldStock" value="1"  tabindex="4" ng-model="singleStock.oldStock"> Yes</label>
				                                	</div>
				                                	<div class="col-sm-4 no-padding">
			                                			<label> <input icheck type="radio" name="oldStock" value="0"  tabindex="4" ng-model="singleStock.oldStock"> No </label>
			                               			</div>
				                               	</div>
			                               	</div>
		                               	</div>
	                           		</div>
                               	</div>
                            	<div class="row">
                            		<div class="col-sm-3 col-xs-12">
	                            		<div class="form-group">
						    				<input type="submit" value="UPLOAD"  tabindex="4" class="btn btn-primary" />	    					    				
										</div>
                            		</div>
                            	</div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
