<div class="wrapper wrapper-content animated fadeInRight" ng-controller="ContainerCtrl" style="padding:0px !important">
    <div class="row ">
        <div class="col-lg-12">
          <div class="row white-bg">
                <div class="col-sm-3 col-xs-12">
                  <div class="form-group">
                    <label>From (DD-MM-YYYY)</label>
                    <input type="text" name="date" class="form-control" id="dateFrom" placeholder="DD-MM-YYYY" ng-model="dateLowerRange" onfocus="showDatePicker(this)" onclick="showDatePicker(this)" autocomplete="off">
                  </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                  <div class="form-group">
                    <label>From (DD-MM-YYYY)</label>
                    <input type="text" name="date" class="form-control" id="dateTo" placeholder="DD-MM-YYYY" ng-model="dateHigherRange" onfocus="showDatePicker(this)" onclick="showDatePicker(this)" autocomplete="off">
                  </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                  <div class="form-group">
                    <a class="btn btn-block btn-primary" ng-click="getContainerWiseInventoryListByDateRange(dateLowerRange, dateHigherRange)">Go</a>
                  </div>
                </div>
            </div>
          </div>
        <div class="col-lg-12 m-t-lg">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Container List Pending Print</h5>
                </div>
                
                <div class="ibox-content">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Container Id</th>
                            <th>Container Code</th>
                            <th>Created On</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="container in containerToPrintList | orderBy : '-containerId' ">
                            <td>{{ container.containerId }}</td>
                            <td>{{ container.containerCode}}</td>
                            <td>{{ container.createdOn | momentYMD}}</td>
                            <td>
                            	<a class=" btn btn-xs btn-warning" ng-click="getContainerWiseInventoryList(container.containerId)">Details</a>
                           	</td>
                        </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>
