<div class="wrapper wrapper-content animated fadeInRight" ng-controller="ContainerCtrl" style="padding:0px !important">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Stock List in {{containerInventoryList.containerCode}}</h5>
					<!-- <a class="btn btn-primary pull-right btn-sm" target="_blank" href="labelprint?action=printLablesInContainer&containerId={{containerInventoryList.containerId}}&containerCode={{containerInventoryList.containerCode}}">Print Labels</a> -->
                </div>
                <div class="ibox-content">
                    <div class="row">
                      <div class="col-sm-3 col-xs-12">
                        <label>3 cm Meter Sq : </label><span class="text-navy"><b> {{containerWiseMtSq3cm | number: 2}} mt. sq.</b></span>
                      </div>
                      <div class="col-sm-3 col-xs-12">
                        <label>2 cm Meter Sq : </label><span class="text-navy"><b> {{containerWiseMtSq2cm | number: 2}} mt. sq.</b></span>
                      </div>
                      
                    </div>
                    
                    <table datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <!-- <th>#</th> -->
                            <th>Supreme Slab Number</th>
                            <th>Name</th>
                            <th>Tile</th>
                            <th>Size</th>
                            <th>Barcode String</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="stock in containerInventoryList.inventoryList track by $index">
                            <!-- <td>{{ $index+1 }}</td> -->
                            <td>{{ stock.slabNoSupreme }}</td>
                            <td>{{ stock.material.name }}</td>
                            <td>{{ stock.tileCount}}</td>
                            <td>{{ stock.actualLength }} x {{ stock.actualHeight }} x {{stock.thickness}} cm</td>
                            <td>{{ stock.barcodeString}}</td>
                        </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>
