<div class="wrapper wrapper-content animated fadeInRight" ng-controller="InventoryCtrl" style="padding:0px !important">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Stock List</h5>

                </div>
                <div class="ibox-content">
                    <table datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Slab Number</th>
                            <th>Name</th>
                            <th>Supplier</th>
                            <th>Size</th>
                            <th>Barcode String</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="stock in inventoryList track by $index">
                        	{{stock}}
                            <td>{{ $index+1 }}</td>
                            <td>{{ stock.slabNoSupreme }}</td>
                            <td>{{ stock.material.name }}</td>
                            <td>{{ stock.supplier.name }}</td>
                            <td>{{ stock.actualLength }} x {{ stock.actualHeight }} x {{stock.thickness}} cm</td>
                            <td>{{ stock.barcodeString}}</td>
                        </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>

</div>