<!-- Wrapper-->
<div id="wrapper" class="top-navigation">

    <div ng-include="'views/common/top_navigation.html'"></div>

    <div id="page-wrapper" class="gray-bg {{$state.current.name}}"  style="padding-top:80px">

        <div ui-view></div>

    </div>

</div>
<!-- End wrapper-->

<!-- Wrapper-->
<!-- <div id="wrapper">
	<toaster-container></toaster-container>
    Navigation
    <div ng-include="'views/common/navigation.html?t='"+{{randomString}}></div>

    Page wraper
    ng-class with current state name give you the ability to extended customization your view
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

        Page wrapper
        <div ng-include="'views/common/topnavbar.html?t='"+{{randomString}}></div>

        Main view 
        <div ui-view></div>

        Footer
        <div ng-include="'views/common/footer.html?t='"+{{randomString}}></div>

    </div>
    End page wrapper

    Right Sidebar
    <div ng-include="'views/common/right_sidebar.html?t='"+{{randomString}}></div>

</div> -->
<!-- End wrapper-->