<div class="row animated fadeInLeft">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content">
			<div class="row">
                <div class="col-md-2 col-xs-6 m-t-lg" style="cursor: pointer !important" ui-sref="{{item.link}}" ng-repeat="item in menuItemsAdminPage" ng-show="user.role >= item.roleGreaterThan">
                    <div class="ibox-content text-center">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="m-b-sm">
                                    <img alt="image" class="img-circle" src="{{item.imageURL}}" style="height:80px;width:80px">
                                </div>
                            </div>
                          <div class="col-sm-12 col-xs-12">
                              <div class="text-center m-t-sm">
                                <h3 class="m-t-lg">{{item.heading}}</h3>
                                <!-- <p class="">{{item.description}}</p> -->
                                  <!-- <a ui-sref="{{item.link}}" class="btn btn-primary btn-sm">GO</a> -->
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
      			<!-- <div class="col-md-4 col-xs-12" style="margin-top: 20px;">
		          	<div class="ibox-content text-center">
		              	<div class="row">
							<div class="col-sm-4 col-xs-12">
				              	<div class="m-b-sm">
                          <img alt="image" class="img-circle" src="img/icon2/old-stock.png" style="height:130px;width:130px">
                      </div>
							</div>
							<div class="col-sm-8 col-xs-12">
				              	<div class="text-left m-t-sm">
					              	<h3 class="m-t-lg">Re-Stock</h3>
                                    <p class="m-t-lg">Restock from or Add Slabs to order.</p>
                                    <p><br></p>
                                    <a ui-sref="admin.restock" class="btn btn-primary m-t-sm"><i class="fa fa-arrow-right"></i> Go</a>
				              	</div>
							</div>
		              	</div>
		          	</div>
      			</div>
      			<div class="col-md-4 col-xs-12" style="margin-top: 20px;">
		          	<div class="ibox-content text-center">
		              	<div class="row">
							<div class="col-sm-4 col-xs-12">
				              	<div class="m-b-sm">
				                  	<img alt="image" class="img-circle" src="img/icon2/delivery.png" style="height:130px;width:130px">
				              	</div>
							</div>
							<div class="col-sm-8 col-xs-12">
				              	<div class="text-left m-t-sm">
					              	<h3 class="m-t-sm">Container Status</h3>
				              		<p class="m-t-lg">Add New, List Existing, Or Edit existing Container Status.</p>
				                  	<a ui-sref="admin.viewContainerStatus" class="btn btn-primary m-t-sm"><i class="fa fa-plus"></i> View</a>
				              	</div>
							</div>
		              	</div>
		          	</div>
      			</div>
      			<div class="col-md-4 col-xs-12" style="margin-top: 20px">
		          	<div class="ibox-content text-center">
		              	<div class="row">
							<div class="col-sm-4 col-xs-12">
				              	<div class="m-b-sm">
				                  	<img alt="image" class="img-circle" src="img/icon2/add-material.png" style="height:150px;width:150px">
				              	</div>
							</div>
							<div class="col-sm-8 col-xs-12">
				              	<div class="text-left m-t-sm">
					              	<h3 class="m-t-sm">Materials</h3>
				              		<p class="m-t-lg">Add New, List Existing, Or Edit existing Materials.</p>
				                  	<a ui-sref="admin.materialUpload" class="btn btn-primary m-t-sm"><i class="fa fa-eye"></i> View</a>
				              	</div>
							</div>
		              	</div>
		          	</div>
      			</div>
      			<div class="col-md-4 col-xs-12" style="margin-top: 20px">
		          	<div class="ibox-content text-center">
		          		<div class="row">
							<div class="col-sm-4 col-xs-12">
				              	<div class="m-b-sm">
				                  	<img alt="image" class="img-circle" src="img/icon2/add-supplier.png" style="height:150px;width:150px">
				              	</div>
							</div>
							<div class="col-sm-8 col-xs-12">
				              	<div class="text-left m-t-sm">
					              	<h3 class="m-t-sm">Suppliers</h3>
				              		<p class="m-t-lg">Add New, List Existing, Or Edit existing Suppliers.</p>
				                  	<a ui-sref="admin.supplierUpload" class="btn btn-primary m-t-sm"><i class="fa fa-eye"></i> View</a>
				              	</div>
							</div>
		              	</div>
		          	</div>
      			</div>
      			<div class="col-md-4 col-xs-12" style="margin-top: 20px">
		          	<div class="ibox-content text-center">
		          		<div class="row">
							<div class="col-sm-4 col-xs-12">
				              	<div class="m-b-sm">
				                  	<img alt="image" class="img-circle" src="img/icon2/add-roles.png" style="height:150px;width:150px">
				              	</div>
							</div>
							<div class="col-sm-8 col-xs-12">
				              	<div class="text-left m-t-sm">
					              	<h3 class="m-t-sm">Users</h3>
				              		<p class="m-t-lg">Add New, List Existing, Or Edit existing Users.</p>
				                  	<a ui-sref="admin.userUpload" class="btn btn-primary m-t-sm"><i class="fa fa-eye"></i> View</a>
				              	</div>
							</div>
		              	</div>
			    	</div>
      			</div>
                <div class="col-md-4 col-xs-12" style="margin-top: 20px">
                  <div class="ibox-content text-center">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                          <div class="m-b-sm">
                              <img alt="image" class="img-circle" src="img/icon2/add-roles.png" style="height:150px;width:150px">
                          </div>
                        </div>
                        <div class="col-sm-8 col-xs-12">
                          <div class="text-left m-t-sm">
                            <h3 class="m-t-sm">My Customers</h3>
                            <p class="m-t-lg">Add New, List Existing, Or Edit existing Customers.</p>
                              <a ui-sref="admin.customerUpload" class="btn btn-primary m-t-sm"><i class="fa fa-eye"></i> View</a>
                          </div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-md-4 col-xs-12" style="margin-top: 20px">
                  <div class="ibox-content text-center">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                          <div class="m-b-sm">
                              <img alt="image" class="img-circle" src="img/icon2/add-roles.png" style="height:150px;width:150px">
                          </div>
                        </div>
                        <div class="col-sm-8 col-xs-12">
                          <div class="text-left m-t-sm">
                            <h3 class="m-t-sm">Add Slabs</h3>
                            <p class="m-t-lg">Add New, List Existing, Or Edit existing Customers.</p>
                              <a ui-sref="admin.customerUpload" class="btn btn-primary m-t-sm"><i class="fa fa-eye"></i> View</a>
                          </div>
                      </div>
                    </div>
                </div>
              </div>
      			<div class="col-md-4 col-xs-12" style="margin-top: 20px">
      				<div class="ibox-content text-center">
		          		<div class="row">
							<div class="col-sm-4 col-xs-12">
				              	<div class="m-b-sm">
				                  	<img alt="image" class="img-circle" src="img/icon2/new-location.png" style="height:150px;width:150px">
				              	</div>
							</div>
							<div class="col-sm-8 col-xs-12">
				              	<div class="text-left m-t-sm">
					              	<h3 class="m-t-sm">Locations</h3>
				              		<p class="m-t-lg">Add New, List Existing, Or Edit existing Locations.</p>
				                  	<a ui-sref="admin.locationUpload" class="btn btn-primary m-t-sm"><i class="fa fa-eye"></i> View</a>
				              	</div>
							</div>
		              	</div>
			    	</div>
      			</div>
              
      			
      			
      			<div class="col-md-4 col-xs-12" style="margin-top: 20px">
		          	<div class="ibox-content text-center">
		              	<div class="row">
							<div class="col-sm-4 col-xs-12">
				              	<div class="m-b-sm">
				                  	<img alt="image" class="img-circle" src="img/icon2/add-material.png" style="height:150px;width:150px">
				              	</div>
							</div>
							<div class="col-sm-8 col-xs-12">
				              	<div class="text-left m-t-sm">
					              	<h3 class="m-t-sm">Machines</h3>
				              		<p class="m-t-lg">Add New, List Existing, Or Edit existing Machines.</p>
				                  	<a ui-sref="admin.machineUpload" class="btn btn-primary m-t-sm"><i class="fa fa-eye"></i> View</a>
				              	</div>
							</div>
		              	</div>
		          	</div>
      			</div>
      			<div class="col-md-4 col-xs-12" style="margin-top: 20px">
		          	<div class="ibox-content text-center">
		              	<div class="row">
							<div class="col-sm-4 col-xs-12">
				              	<div class="m-b-sm">
				                  	<img alt="image" class="img-circle" src="img/icon2/add-material.png" style="height:150px;width:150px">
				              	</div>
							</div>
							<div class="col-sm-8 col-xs-12">
				              	<div class="text-left m-t-sm">
					              	<h3 class="m-t-sm">Cutting Types</h3>
				              		<p class="m-t-lg">Add New, List Existing, Or Edit existing Machines.</p>
				                  	<a ui-sref="admin.cuttingTypeUpload" class="btn btn-primary m-t-sm"><i class="fa fa-eye"></i> View</a>
				              	</div>
							</div>
		              	</div>
		          	</div>
      			</div> -->
            
                <!-- <div class="col-md-4 col-xs-12" style="margin-top: 20px">
                <div class="ibox-content text-center">
                  <div class="row">
              <div class="col-sm-4 col-xs-12">
                        <div class="m-b-sm">
                            <img alt="image" class="img-circle" src="img/icon2/old-stock.png" style="height:150px;width:150px">
                        </div>
              </div>
              <div class="col-sm-8 col-xs-12">
                        <div class="text-left m-t-sm">
                          <h3 class="m-t-sm">Old Stock</h3>
                          <p class="m-t-lg">Add New, List Existing, Or Edit existing Old Stock.</p>
                            <a ui-sref="listView.containerToPrint" class="btn btn-primary m-t-sm"><i class="fa fa-eye"></i> View</a>
                        </div>
              </div>
                    </div>
            </div>
            </div>
        <div class="col-md-4 col-xs-12" style="margin-top: 20px">
          <div class="ibox-content text-center">
                  <div class="row">
              <div class="col-sm-4 col-xs-12">
                        <div class="m-b-sm">
                            <img alt="image" class="img-circle" src="img/icon2/reports.png" style="height:150px;width:150px">
                        </div>
              </div>
              <div class="col-sm-8 col-xs-12">
                        <div class="text-left m-t-sm">
                          <h3 class="m-t-sm">Reports</h3>
                          <p class="m-t-lg">View and analyse Sales and Purchase Reports.</p>
                            <a ui-sref="listView.containerToPrint" class="btn btn-primary m-t-sm"><i class="fa fa-eye"></i> View</a>
                        </div>
              </div>
                    </div>
            </div>
            </div> -->

			</div>
		</div>
	</div>
</div>
