<div class="dashboard-header animated fadeInLeft" ng-controller="CustomerCtrl" >
<toaster-container></toaster-container>

<div class="container-fluid">
    <div class="row">
        
        <div class="row wrapper border-bottom white-bg page-heading">
          <div class="col-lg-10">
            <h2>Customer Details</h2>
          </div>
          <div class="col-lg-2">
            <a class="btn btn-sm btn-primary m-t-sm" ng-click="addNewCustomer()"><i class=" fa fa-plus"></i> Add Customer</a>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="row">
        <div class="ibox-content">
            <table datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered table-hover dataTables-example">
                <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Contact</th>
                    <th>Emirate</th>
                    <th>Active</th>
                    <th class="data-hide">Action</th>
                </tr>
                </thead>
                <tbody>
                        <tr ng-repeat="customer in customerList | orderBy : 'name'" class="data-hide-tr">
                            <td>{{ $index + 1 }}</td>
                            <td>
                              <div id="{{'customerNameDiv'+$index}}">
                                <span>{{ customer.name }}</span>
                              </div>
                            </td>
                            <td>
                              <div id="{{'customerCodeDiv'+$index}}">
                                <span>{{ customer.code }}</span>
                              </div>
                            </td>
                            <td>
                              <div id="{{'customerContactDiv'+$index}}">
                                <span>{{ customer.phone }}</span>
                              </div>
                            </td>
                            <td>
                              <div id="{{'customerEmirateDiv'+$index}}">
                                <span>{{ customer.emirate }}</span>
                              </div>
                            </td>
                            <td>
                              <div id="{{'customerActiveDiv'+$index}}">
                                <span>{{ (customer.active == true) ? 'Yes' : 'No' }}</span>
                              </div>
                            </td>
                            <td>
                              <a ng-hide="customer.editMode" class="btn btn-sm btn-success" ng-click="clickedOnEditRow(customer, $index)"><i class="fa fa-pencil"></i></a>
                              <a ng-show="customer.editMode" class="btn btn-sm btn-primary" ng-click="clickedOnSaveRow(customer, $index)"><i class="fa fa-save"></i></a>
                              <a class="btn btn-sm btn-danger" ng-click="deleteCustomer(customer, $index)"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>
</div>

