<div class="dashboard-header" ng-controller="UserCtrl" >
<div class="container">
	<div ng-include="'views/common/modal/user-edit-modal.html'"></div>
	<toaster-container></toaster-container>
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox float-e-margins div-fill">
            	<div class="ibox-title">
		            <h5>Add New Machine</h5></span>
		        </div>
                <div class="ibox-content" style="min-height:180px">
                    <div class="row">
                        <div class="col-sm-12">
                        	<form role="form" name="user_form" novalidate ng-submit="uploadSingleUserList()">
                        	<div class="row">
                        		<div class="col-sm-3 col-xs-12">
			                        <div class="form-group">
			                            <label>Name</label>
			                            <input type="text"  placeholder="Name" class="form-control" name="name" ng-model="newMachine.name" required autocomplete="off">
			                            <div class="m-t-xs" ng-show="user_form.name.$invalid && user_form.submitted">
			                                <small class="text-danger" ng-show="user_form.name.$error.required">Please input a name</small>
			                            </div>
			                        </div>
                        		</div>
                        		<div class="col-sm-3 col-xs-12">
			                        <div class="form-group">
			                            <label>Code</label>
		                            	<input type="text" class="form-control" name="emiratesId" placeholder="Code" ng-model="newMachine.emiratesId" autocomplete="off" required>
		                            	<div class="m-t-xs" ng-show="user_form.emiratesId.$invalid && user_form.submitted">
			                                <small class="text-danger" ng-show="user_form.emiratesId.$error.required">Please input Machine Code</small>
			                            </div>
			                        </div>
		                        </div>
                        		<div class="col-sm-3 col-xs-12">
			                        <div class="form-group">
			                            <label>Task</label>
			                            <input type="email" placeholder="Enter email" class="form-control" name="email" ng-model="newMachine.email" required autocomplete="off">
			                            <div class="m-t-xs" ng-show="user_form.email.$invalid && user_form.submitted">
			                                <small class="text-danger" ng-show="user_form.email.$error.required">Please input an email</small>
			                            </div>
			                        </div>
		                        </div>
                        		<div class="col-sm-3 col-xs-12">
			                        <div class="form-group m-t-md" style="margin-top:22px">
			                            <button class="btn btn-primary" type="submit">SUBMIT</button>
			                        </div>
		                        </div>
		                        </div>
		                    </form>
                       	</div>
                       	
                       </div>
                   </div>
               </div>
           </div>
           <div class="col-lg-4">
        	<div class="ibox float-e-margins div-fill">
            	<div class="ibox-title">
		            <h5>Bulk Machine Upload</h5></span>
		        </div>
                <div class="ibox-content" style="min-height:180px">
                    <div class="row">
                        <div class="col-sm-12">
                            <form role="form" enctype="multipart/form-data" ng-submit="uploadBulkSupplierList()" id="upload-bulk-supplier-list-form">
                            	<div class="row">
                            		<div class="col-xs-12 col-sm-8">
										<div class="form-group">
											<label class="control-label" id="fileName" tabindex="4" >Choose Supplier List File:</label>
						    				<label class="btn btn-default btn-block" for="file-input" id="file-label">Select..
					    						<input type="file" name="file" id="file-input" style="display:none" class="text-center" ng-model="supplierList.file" onchange="angular.element(this).scope().fileNameChanged()"/>
					    					</label>
						    			</div>
					    			</div>
                            		<div class="col-sm-4 col-xs-12">
	                            		<div class="form-group" style="margin-top:20px">
						    				<input type="submit" value="UPLOAD"  tabindex="4" class="btn btn-primary" />	    					    				
										</div>
                            		</div>
                            	</div>
                            	<!-- <div class="row">
                            		<p>See Sample Excel Format
                            	</div> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </div>
        <!-- <div class="col-lg-4">
        	<div class="ibox float-e-margins div-fill">
            	<div class="ibox-title">
		            <h5>Bulk Supplier Upload</h5></span>
		        </div>
                <div class="ibox-content" style="min-height:180px">
                    <div class="row">
                        <div class="col-sm-12">
                            <form role="form" enctype="multipart/form-data" ng-submit="uploadBulkSupplierList()" id="upload-bulk-user-list-form">
                            	<div class="row">
                            		<div class="col-xs-12 col-sm-8">
										<div class="form-group">
											<label class="control-label" id="fileName" tabindex="4" >Choose Supplier List File:</label>
						    				<label class="btn btn-default btn-block" for="file-input" id="file-label">Select..
					    						<input type="file" name="file" id="file-input" style="display:none" class="text-center" ng-model="userList.file" onchange="angular.element(this).scope().fileNameChanged()"/>
					    					</label>
						    			</div>
					    			</div>
                            		<div class="col-sm-4 col-xs-12">
	                            		<div class="form-group" style="margin-top:20px">
						    				<input type="submit" value="UPLOAD"  tabindex="4" class="btn btn-primary" />	    					    				
										</div>
                            		</div>
                            	</div>
                            	<div class="row">
                            		<p>See Sample Excel Format
                            	</div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    <div class="row" style="display:none">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><strong>Supplier List</strong></h5>
                </div>
                <div class="ibox-content">
                    <table datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>E.Id</th>
                            <th>Phone</th>
                            <th>Address 1</th>
                            <th>Address 2</th>
                            <th>City</th>
                            <!-- <th>Action</th> -->
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="newMachine in userList | orderBy : 'name'">
                            <td>{{ $index + 1 }}</td>
                            <td>
                            	<div id="{{'userNameDiv'+$index}}">
                            	<span>{{ newMachine.name }}</span>
                            	</div>
                           	</td>
                            <td>
                            	<div id="{{'userEmailDiv'+$index}}">
                            	<span>{{ newMachine.email }}</span>
                            	</div>
                           	</td>
                            <td>
                            	<div id="{{'userEmiratesIdDiv'+$index}}">
                            	<span>{{ newMachine.emiratesId }}</span>
                            	</div>
                            </td>
                            <td>
                            	<div id="{{'userPhoneDiv'+$index}}">
                            	<span>{{ newMachine.phone }}</span>
                            	</div>
                            </td>
                            <td>
                            	<div id="{{'userAddress1Div'+$index}}">
                            	<span>{{ newMachine.addressLine1 }}</span>
                            	</div>
                            </td>
                            <td>
                            	<div id="{{'userAddress2Div'+$index}}">
                            	<span>{{ newMachine.addressLine2 }}</span>
                            	</div>
                            </td>
                            <td>
                            	<div id="{{'userCityDiv'+$index}}">
                            	<span>{{ newMachine.city }}</span>
                            	</div>
                            </td>
                            <!-- <td>
                            	<a ng-hide="newMachine.editUser" class="btn btn-xs btn-success" ng-click="clickedOnEditRow(newMachine, $index)"><i class="fa fa-pencil"></i></a>
                            	<a class="btn btn-xs btn-danger" ng-click="deleteUser(newMachine, $index)"><i class="fa fa-trash"></i></a>
                            </td> -->
                        </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
    </div>
</div>
