<div class="container-fluid">
   <style>
      .left-panel {
      float: left;
      }
      .left-panel img {
      width: 48px;
      height: 48px;
      vertical-align: middle;
      }
      .right-panel {
      float: left;
      margin-left: 5px;
      margin-top: 7px;
      }
      .right-panel:hover {
      background-color: skyblue;
      }
      .right-panel span:first-child {
      font-size: 16px;
      }
      .right-panel span:nth-child(2) {
      font-size: 14px;
      color: gray;
      }
      .right-panel span:last-child {
      display: block;
      font-size: 14px;
      font-style: italic;
      }
      .suggestion-item:hover{
      background-color: skyblue !important;
      }
      .tabs-container .tabs-left > .nav-tabs, .tabs-container .tabs-right > .nav-tabs {
      width: 10%;
      }
      .tabs-container .tabs-left .panel-body {
      width: 90%;
      margin-left: 10%;
      }
      .input-xs{
      height:20px;
      line-height: 20px;
      }
   </style>
   <div class="row dashboard-header" ng-controller="CuttingOrderCtrl">
      <div class="col-lg-12">
         <div class="row">
            <div class="ibox float-e-margins div-fill">
               <div class="ibox-title">
                  <h5>Add New Cutting Order</h5>
                  </span>
               </div>
               <div class="ibox-content">
                  <div class="row">
                     <div class="col-sm-12">
                        <form role="form" id="upload-cutting-list-form">
                           <div class="row">
                              <div class="col-sm-3 col-xs-12">
                                 <div class="form-group">
                                    <label>Customer Name</label>
                                    <div class="input-group">
                                       <input id="customer-typeahead" placeholder="Search Customer" class="form-control" autocomplete="off"
                                          ng-model="cuttingOrder.customerName" typeahead-on-select="addCustomerToOrder($item, this)" typeahead="mf as mf.name for mf in startSearch($viewValue) | limitTo:20">
                                       <div class="input-group-btn">
                                          <button class="btn btn-success" ng-click="addNewCustomer()" type="button" style="height:34px"><i class=" fa fa-plus"></i></button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-sm-3 col-xs-12">
                                 <div class="form-group">
                                    <label>Order Date (DD-MM-YYYY)</label><br>
                                    <input type="text" name="date" class="form-control" id="date" data-mask="99-99-9999" placeholder="Order Date" ng-model="cuttingOrder.date" autocomplete="off" required>
                                 </div>
                              </div>
                              <div class="col-sm-3 col-xs-12">
                                 <div class="form-group">
                                    <label>Order Date (DD-MM-YYYY)</label><br>
                                    <input type="text" name="date" class="form-control" id="date" data-mask="99-99-9999" placeholder="Order Date" ng-model="cuttingOrder.date" autocomplete="off" required>
                                 </div>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row" style="margin-bottom:60px">
         <div class="row col-lg-12">
            <div class="tabs-container" id="materialTabs">
               <tabset>
                  <tab heading="Material {{$index+1}}" id="Material-{{$index+1}}" ng-repeat="coList in cuttingOrder.cuttingList track by $index">
                     <div class="panel-body" id="MaterialTabPanel-{{$index+1}}">
                        <a class="btn btn-danger pull-right btn-xs" ng-click="removeAt('material', cuttingOrder.cuttingList, $index)" style="padding:3px 3px">Delete Material {{$index+1}}</a>
                        <div class="col-sm-4 col-xs-12">
                           <div class="form-group">
                              <label>Material {{$index+1}}</label>
                              
                              <div class="input-group">
                                 <input id="material-typeahead-{{$index}}" placeholder="Search Material" class="form-control" autocomplete="off"
                                 ng-model="coList.material" typeahead-on-select="addMaterialToOrder($item, coList)" typeahead="m as m.materialName for m in startMaterialSearch($viewValue) | limitTo:20">
                                 <div class="input-group-btn">
                                    <button class="btn btn-success" ng-click="addNewMaterial()" type="button" style="height:34px"><i class=" fa fa-plus"></i></button>
                                 </div>
                              </div>
                              
                              
                                 
                             
                                 
                           </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                           <div class="form-group">
                              <label>Thickness</label>
                              <select class="form-control" id="thickness{{$index}}" ng-model="coList.materialThickness">
                                 <option value="">--Select Thickness--</option>
                                 <option value="2">2 cm</option>
                                 <option value="3">3 cm</option>
                              </select>
                           </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row m-t-sm">
                           <div class="col-lg-12">
                              <div class="tabs-container">
                                 <tabset class="tabs-left" materialindex="{{$index}}">
                                    <tab ng-repeat="task in coList.tasks track by $index" heading="Task {{$index+1}}" id="Task-{{$index+1}}">
                                       <div class="panel-body" id="TaskTabPanel-{{$index+1}}">
                                          <div class="col-sm-8 col-xs-10">
                                             <div class="form-group">
                                                <label>Add Cutting List For Task {{$index + 1}}</label>
                                                <div class="row">
                                                   <div class="col-sm-12 col-xs-12">
                                                      <span class="label label-success" ng-repeat="t in task.taskList" style="padding:5px;margin-left:5px !important">({{t.id}}) {{t.name}} <a class="" ng-click="removeAt('task', task.taskList, $index)" style="color:#fff"><i class="fa fa-times"></i></a></span>
                                                   </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                   <div class="col-sm-12 col-xs-12">
                                                      <div class="input-group">
                                                         <input id="task-typeahead-{{$index}}" placeholder="Search Cutting Task" class="form-control" autocomplete="off"
                                                            ng-model="task.taskStringObj" typeahead-on-select="addTaskToMaterial($item, task.taskList, $index)" typeahead="cutTask as cutTask.name for cutTask in startTaskSearch($viewValue) | limitTo:20">
                                                         <div class="input-group-btn">
                                                            <!-- <button class="btn btn-success" ng-click="addNewCuttingTyps()" type="button" style="height:34px"><i class=" fa fa-plus"></i></button> -->
                                                         </div>
                                                         <!-- <a ng-click="addNewCuttingTyps()"><small>Add New Cutting Type</small></a> -->
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="col-sm-4 col-xs-2">
                                             <a class="btn btn-danger pull-right btn-xs" ng-click="removeAt('task', coList.tasks, $index)" style="padding:3px 3px">Delete Task {{$index+1}}</a>
                                          </div>
                                          <div class="col-sm-12 col-xs-12">
                                             <strong>Add Slab Details</strong>
                                             <table class="table table-responsive table-bordered table-hover table-sm">
                                                <thead>
                                                   <tr>
                                                      <th style="width:10%">Unit</th>
                                                      <th style="width:10%">Cut To Size</th>
                                                      <th style="width:10%">Length</th>
                                                      <th style="width:10%">Height</th>
                                                      <th style="width:10%">Nos</th>
                                                      <th style="width:10%">Qty</th>
                                                      <th style="width:10%">Action <a class="btn btn-warning" ng-show="task.taskDetails.length <= 0" ng-click="addTaskDetailsRow(task.taskDetails)" style="padding:3px 3px"><i class="fa fa-plus"></i></a></th>
                                                   </tr>
                                                </thead>
                                                <tbody>
                                                   <tr ng-repeat="selected in task.taskDetails track by $index">
                                                      <td>
                                                         <select class="form-control input-xs" id="unit{{$index}}" ng-model="selected.unit" ng-change="calculateQty(selected)" style="padding:0px">
                                                            <option selected="true" value="">--Unit--</option>
                                                            <option value="1">LM</option>
                                                            <option value="2">Mt. Sq.</option>
                                                            <option value="3">Nos/Pcs</option>
                                                         </select>
                                                      </td>
                                                      <td>
                                                         <input type="checkbox" name="cutToSize" ng-model="selected.cutToSize" ng-true-value="1" ng-false-value="0">
                                                      </td>
                                                      <td>
                                                         <input type="text" class="form-control input-xs"  ng-model="selected.length" id="length{{$index}}" ng-keyup="calculateQty(selected)" select-on-click select-on-focus>
                                                      </td>
                                                      <td>
                                                         <input type="text" class="form-control input-xs"  ng-model="selected.height" id="height{{$index}}" ng-keyup="calculateQty(selected)" select-on-click select-on-focus>
                                                      </td>
                                                      <td>
                                                         <input type="text" class="form-control input-xs"  ng-model="selected.nos" id="nos{{$index}}" ng-keyup="calculateQty(selected)" select-on-click select-on-focus>
                                                      </td>
                                                      <td>
                                                         <input type="text" class="form-control input-xs"  ng-model="selected.quantity" id="quantity{{$index}}" select-on-click select-on-focus>
                                                      </td>
                                                      <td>
                                                         <a class="btn btn-warning"  ng-click="addTaskDetailsRow(task.taskDetails)" style="padding:3px 3px"><i class="fa fa-plus"></i></a>
                                                         <a class="btn btn-danger"  ng-click="removeAt('taskDetails', task.taskDetails, $index)" style="padding:3px 3px"><i class="fa fa-trash"></i></a>
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </div>
                                       </div>
                                    </tab>
                                    <a class="btn btn-success btn-sm" style="color:#fff;margin-top:10px" ng-click="addTaskInMaterial(coList.tasks)">Add New Task
                                    </a>
                                 </tabset>
                              </div>
                           </div>
                        </div>
                     </div>
                  </tab>
                  <a class="btn btn-success btn-sm" style="color:#fff;margin-top:10px" ng-click="addMaterial(cuttingOrder.cuttingList)"> Add New Material
                  </a>
               </tabset>
            </div>
         </div>
      </div>
      <!-- <div class="row m-t-lg">
         <div class="row">
         	<div class="col-sm-12 col-xs-12 m-b-lg" ng-repeat="coList in cuttingOrder.cuttingList track by $index">
             	<div class="ibox float-e-margins div-fill" style="margin-top:10px">
              	<div class="ibox-title">
              		<div class="col-sm-6 col-xs-12">
                 <h5>Material {{$index+1}}</h5>
              		</div>
                <div class="btn-group pull-right">
               		<a class="btn btn-warning" ng-click="addRow($index, 'cuttingListArray')" style="padding:3px 3px"><i class="fa fa-plus"></i> Material</a>
                       <a class="btn btn-danger" ng-click="removeAt($index, 'cuttingListArray', coList)" style="padding:3px 3px"><i class="fa fa-trash"></i> Material</a>
                   </div>
            </div>
                  <div class="ibox-content" id="bigMaterialBox{{$index}}">
         	<div class="row">
         		<div class="col-sm-3 col-xs-12">
         			<div class="form-group">
         				<label>Material</label>
                                 	<select class="js-example-tags form-control" id="materialId{{$index}}" ng-model="coList.materialId">
         	  <option selected="selected" value="">--Select Material--</option>
         	  <option ng-repeat="m in materialList" value="{{m.materialId}}">{{m.materialName}}</option>
         	</select>
                                	</div>
         		</div>
         		<div class="col-sm-3 col-xs-12">
         			<div class="form-group">
         				<label>Thickness</label>
                                 	<select class="js-example-tags form-control" id="thickness{{$index}}" ng-model="coList.materialThickness">
           		<option value="">--Select Thickness--</option>
           		<option value="2">2 cm</option>
           		<option value="3">3 cm</option>
         	</select>
                                	</div>
         		</div>
         	</div>
         	<div class="row">
         	
         	<div class="col-lg-12">
             				<div class="tabs-container">
         
                        <tabset class="tabs-left">
                            <tab ng-repeat="task in coList.tasks track by $index" heading="Task {{$index+1}}">
                                <div class="panel-body">
                                	<div class="col-sm-12 col-xs-9">
           					<div class="form-group">
           						<label>Add Tasks List {{$index + 1}}</label>
           						
          							<tags-input ng-model="task.taskList" display-property="name" placeholder="Add Tasks" replace-spaces-with-dashes="false">
         		      		<auto-complete source="loadCuttingTypes($query)"
         	                     min-length="0"
         	                     load-on-focus="true"
         	                     load-on-empty="true"
         	                     max-results-to-show="10"
         	                     template="my-custom-template">
                             </auto-complete>
         			    	</tags-input>
         				    <script type="text/ng-template" id="my-custom-template">
         											<div class="right-panel">
          											<span ng-bind-html="$highlight($getDisplayText())"></span>
         						<span><span ng-show="data.machine">(Machine)</span><span ng-show="data.manual">(Manual)</span></span>
         											</div>
         									</script> 
           						<a><small>Add New Cutting Type</small></a>
           						
            					</div>
                                    <strong>Add Slab Details</strong>
                                    <table class="table table-responsive table-bordered table-hover table-sm">
         				<thead>
             							<tr>
                              <th style="width:10%">Unit</th>
                              <th style="width:10%">Cut To Size</th>
                              <th style="width:10%">Length</th>
                              <th style="width:10%">Height</th>
                              <th style="width:10%">Nos</th>
                              <th style="width:10%">Qty</th>
                              <th style="width:10%">Action</th>
                         	</tr>
                         </thead>
                        	<tbody>
                        		<tr ng-repeat="selected in task.taskDetails track by $index">
          					<td>
         							<select class="form-control" id="unit{{$index}}" ng-model="selected.unit" ng-change="calculateQty(selected)" style="padding:0px">
         			  		<option selected="true" value="">--Unit--</option>
         			  		<option value="1">LM</option>
         			  		<option value="2">Mt. Sq.</option>
         			  		<option value="3">Nos/Pcs</option>
         				</select>
                                   	</td>
                                   	<td>
                                    	<input type="checkbox" name="cutToSize" ng-model="selected.cutToSize" ng-true-value="1" ng-false-value="0">
                                   	</td>
                                   	<td>
                                    	<input type="text" class="form-control"  ng-model="selected.length" id="length{{$index}}" ng-keyup="calculateQty(selected)" select-on-click select-on-focus>
                                   	</td>
                                   	<td>
                                    	<input type="text" class="form-control"  ng-model="selected.height" id="height{{$index}}" ng-keyup="calculateQty(selected)" select-on-click select-on-focus>
         			</td>
         			<td>
                                    	<input type="text" class="form-control"  ng-model="selected.nos" id="nos{{$index}}" ng-keyup="calculateQty(selected)" select-on-click select-on-focus>
                                   	</td>
         			<td>
                                    	<input type="text" class="form-control"  ng-model="selected.quantity" id="quantity{{$index}}" select-on-click select-on-focus>
                                   	</td>
                                   	<td>
         				<a class="btn btn-warning"  ng-click="addRow(coList, 'cuttingListDetails')" style="padding:3px 3px"><i class="fa fa-plus"></i></a>
         				<a class="btn btn-danger"  ng-click="removeAt($index, 'cuttingListDetails', coList)" style="padding:3px 3px"><i class="fa fa-trash"></i></a>
         			</td>
             							</tr>
             						</tbody>
         			</table>
         
                                    
                                </div>
                         			</tab>
                        </tabset>
                 </div>
             </div>
         			</div>
         	</div>
                   	</div>
               	</div>
         	</div>
         </div> -->
      <div class="footer" style="position:fixed">
         <div class="row text-center">
            <div class="col-sm-3 col-xs-3">
               <span>Material Count</span>
               <h3 class="font-bold text-navy">{{cuttingOrder.materialCount}}</h3>
            </div>
            <div class="col-sm-3 col-xs-3">
               <span>Total Output Mt. Sq.</span>
               <h3 class="font-bold text-navy">{{cuttingOrder.totalOutputMtSquare | number:2}}</h3>
            </div>
            <div class="col-sm-3 col-xs-3">
               <span>Total Output LM</span>
               <h3 class="font-bold text-navy">{{cuttingOrder.totalOutputLinearMeter | number:2}}</h3>
            </div>
            <div class="col-sm-3 col-xs-3">
               <a class="btn btn-primary" ng-click="submitCuttingOrder()">Update</a>
            </div>
         </div>
      </div>
   </div>
</div>
