<div ng-controller="CuttingOrderCtrl">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row flex-row">
    	<div class="col-lg-3 flex-row">
       		<div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Edit Order</h5>

                    <!-- <div ibox-tools> </div> -->
                </div>
                <div class="ibox-content" style="height:inherit">
                	<div class="row">
                		<div class="col-sm-12 col-xs-12">
                       		<label>Customer Name</label>
<!--                    			<div class="input-group"> -->
                   				<input type="text" placeholder="Customer Name" name="customerName" class="form-control" tabindex="4" ng-model="cuttingOrder.customer.customerName" readonly="readonly">
<!--                                 <div class="input-group-btn"> -->
<!--                                     <button tabindex="-1" class="btn btn-success" ng-click="addNewCustomer()" type="button" style="height:34px"><i class=" fa fa-plus"></i></button> -->
<!--                                     <button tabindex="-1" class="btn btn-warning" ng-click="editExistingCustomer(cuttingOrder)" type="button" style="height:34px"><i class=" fa fa-pencil"></i></button> -->
<!--                                 </div> -->
<!--                             </div> -->
                   		</div>
               		</div>
               		<div class="row">
                    	<div class="col-sm-6 col-xs-12">
                       		<div class="form-group">
                           		<label>Slab Count</label>
		                        <input type="text" placeholder="Phone" name="slabCount" maxlength=40 class="form-control" tabindex="4" ng-model="cuttingOrder.slabCount" readonly="readonly">
                       		</div>
                   		</div>
                    	<div class="col-sm-6 col-xs-12">
                       		<div class="form-group">
                           		<label>Meter Sq.</label>
		                        <input type="text" placeholder="Phone" name="totalMtSquare" maxlength=40 class="form-control" tabindex="4" ng-model="cuttingOrder.totalMtSquare" readonly="readonly">
                       		</div>
                   		</div>
               		</div>
               		<div class="row">
                   		<div class="col-sm-12 col-xs-12">
                       		<div class="form-group">
                           		<label>Add Address Details</label>
                           		<input type="text" name="emirate" class="form-control" id="emirate" tabindex="4" placeholder="Emirate" ng-model="cuttingOrder.customer.emirate" required>
								<div class="m-t-xs" ng-show="editOrder_form.emirate.$invalid && editOrder_form.submitted">
	                                <small class="text-danger" ng-show="editOrder_form.emirate.$error.required">Please Input Emirate</small>
	                            </div>
                       		</div>
                   		</div>
                	</div>
                </div>
            </div>
            <div class="row m-b-lg">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          			<div class="col-sm-12 col-xs-12 m-t-xs" ng-repeat="co in cuttingOrder.cuttingOrderList">
					  	<div class="panel panel-default">
						    <div class="panel-heading" role="tab" id="{{'heading'+$index}}" style="background-color:#fff">
					      	<h4 class="panel-title">
					        	<div class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="{{'#collapse'+$index}}" aria-expanded="true" aria-controls="{{'#collapse'+$index}}">
					          	{{co.material.materialName}}
					          	<!-- <span class="pull-right">({{co.cuttingOrderTasks.cuttingOrderTaskType.length}})</span> -->
					        	</div>
					      	</h4>
					    	</div>
					    	<div id="{{'collapse'+$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{'#heading'+$index}}">
					      	<div class="panel-body">
					        	<small>
					        	<ol style="padding-inline-start:10px" ng-repeat="cut in co.cuttingOrderTasks">
					        		<li ng-repeat="c in cut.cuttingOrderTaskType"">{{c.cuttingType.name}}
					        	</ol>
					        	</small>
					      	</div>
					    	</div>
					  	</div>
					</div>
       			</div>
            </div>
      	</div>
       	<div class="col-sm-9 col-xs-12">
       		<div class="row">
             	<div class="col-md-4" ng-repeat="selected in cuttingOrder.cart">
		            <div class="ibox">
		                <div class="ibox-content product-box">
		                    <div class="product-desc">
		                    	<div class="form-group">
		                        	<label>Scan or Type Slab Code</label>
		                        	<div class="input-group">
		                        		<input type="text" placeholder="Slab Code" id="{{'barcodeStringText'+$index}}" name="barcodeString" class="form-control input-sm" ng-enter="viewSlabDetails(selected.inventory.barcodeString, $index, this, cuttingOrder.cart)" tabindex="4" ng-model="selected.inventory.barcodeString">
		                       			<span class="input-group-btn"> 
		                       				<button type="button" class="btn btn-primary btn-sm" ng-click="viewSlabDetails(selected.inventory.barcodeString, $index, this, cuttingOrder.cart)" tabindex="4">Go!</button>
		               					</span>
		                        	</div>
		                       	</div>
		                       	<div class="row" ng-hide="selected.inventory.name.length <= 0" style="height: 65px !important">
		                       		<div class="col-sm-3 col-xs-12">
		                       			<small>Name: </small>
		                       		</div>
		                       		<div class="col-sm-9 col-xs-12">
		                       			<small><span class="font-bold text-navy">{{selected.inventory.material.name}} ({{selected.inventory.type}})</span></small>
		                       		</div>
		                       		<div class="col-sm-3 col-xs-12">
		                       			<small>Size: </small>
		                       		</div>
		                       		<div class="col-sm-9 col-xs-12">
		                       			<small><span class="font-bold text-navy">{{selected.inventory.actualLength}} x {{selected.inventory.actualHeight}} x {{selected.inventory.thickness}} cm</span></small>
		                       		</div>
		                       		<div class="col-sm-3 col-xs-12">
		                       			<small>Sq.Mt.: </small>
		                       		</div>
		                       		<div class="col-sm-3 col-xs-12">
		                       			<small><span class="font-bold text-navy">{{selected.inventory.actualSqMetre | number:2}}</span></small>
		                       		</div>
		                       		<div class="col-sm-2 col-xs-12" ng-show="selected.inventory.type == 'TILE'">
		                       			<small>Nos: </small>
		                       		</div>
		                       		<div class="col-sm-4 col-xs-12" ng-show="selected.inventory.type == 'TILE'">
		                       			<input type="text" placeholder="Tile Count" name="tileCOunt" class="input-xs" style="width:100%" ng-keyup="validateTileCount(selected)" tabindex="4" ng-model="selected.inventory.tileCount">
		                       		</div>
		                       	</div>
		                       	<div class="row">
		                           	<div class="col-sm-6 col-xs-6">
		                           		<a class="btn btn-danger btn-xs btn-block" ng-click="removeAt(scanSlabs, cuttingOrder.cart, $index)">Remove</a>
		                           	</div>
		                           	<div class="col-sm-6 col-xs-6">
		                           		<a class="btn btn-warning btn-xs btn-block" ng-click="addRow()">Add</a>
		                           	</div>
		                       	</div>
	                		</div>
	               		</div>
					</div>
				</div>
          	</div>
		</div>
	</div>
</div>
<div class="footer" style="position:fixed">
	<div class="row">
		<div class="col-sm-4 col-xs-4">
			<span>Count</span>
			<h3 class="font-bold text-navy">{{count}}</h3>
		</div>
		<div class="col-sm-4 col-xs-4">
			<span>Meter Sq.</span>
			<h3 class="font-bold text-navy">{{totalSqMeters | number:2}}</h3>
		</div>
		<div class="col-sm-4 col-xs-4">
			<a class="btn btn-primary" ng-click="updateEditedCuttingOrder()">Update</a>
		</div>
	</div>
</div>
</div>