<div class="wrapper wrapper-content animated fadeInRight ecommerce" ng-controller="FilterCtrl">

            <div class="ibox-content m-b-sm border-bottom">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="col-form-label" for="order_id">Material</label>
                            <select  id="material" class="form-control" name="materialId" tabindex="4" ng-model="filter.materialId">
				            	<option value="">--Select Material--</option>
				            	<option ng-repeat="selected in materialList" value="{{selected.materialId}}">{{selected.materialName}}</option>
				            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="col-form-label" for="status">Supplier</label>
                            <select  id="supplier" class="form-control" name="supplierId" tabindex="4" ng-model="filter.supplierId">
				            	<option value="">--Select Supplier--</option>
				            	<option ng-repeat="selected in supplierList" value="{{selected.supplierId}}">{{selected.supplierName}}</option>
				            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="col-form-label" for="customer">Thickness</label>
                            <select  id="thickness" class="form-control" name="supplierId" tabindex="4" ng-model="filter.thickness">
				            	<option value="">--Select Thickness--</option>
				            	<option value="2">2</option>
				            	<option value="3">3</option>
				            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="col-form-label" for="status">Sold</label>
                            <select  id="sold" class="form-control" name="sold" tabindex="4" ng-model="filter.sold">
				            	<option value="none">--Select Sold--</option>
				            	<option value="">All</option>
				            	<option value="1">Sold</option>
				            	<option value="0">In Stock</option>
				            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="col-form-label" for="status">Type</label>
                            <select  id="sold" class="form-control" name="sold" tabindex="4" ng-model="filter.type">
				            	<option value="">All</option>
				            	<option value="GANGSAW">Gangsaw Slab</option>
				            	<option value="CUTTER">Cutter Slab</option>
				            	<option value="UNDERSIZE">Undersize</option>
				            	<option value="TILE">Tile</option>
				            	<option value="MINI_GANGSAW">MINI_GANGSAW</option>
				            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="col-form-label" for="status">Length >=</label>
                            <input type="text" id="length" name="status" value="" placeholder="Length" class="form-control" ng-model="filter.lengthEqualOrGreaterThan">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="col-form-label" for="status">Barcode String</label>
                            <input type="text" id="barcodeString" name="status" value="" placeholder="Barcode String" class="form-control" ng-model="filter.barcodeString">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <a class="btn btn-primary btn-block" ng-click="fetchStock()" style="margin-top:24px">Filter</a>
                        </div>
                    </div>
                </div>
            </div>


			<div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-content">
                        	Total Meter Square: <span class="label label-info" style="font-size: 14px">{{totalSqMetersInCurrentList | number:2}} mt. sq.</span>
							<table datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered table-hover dataTables-example">
		                        <thead>
		                        <tr>
		                        	<th>S. No.</th>
		                            <th>Barcode String</th>
		                            <th>Name</th>
		                            <th>Thickness</th>
		                            <th>Type</th>
		                            <th ng-show="filter.type == 'TILE' || filter.type == ''">Tiles</th>
		                            <th style="width:30%">Size</th>
		                            <th>Sold</th>
		                            <th>Action</th>
		                        </tr>
		                        </thead>
		                        <tbody>
		                        <tr ng-repeat="stock in masterInventoryListLocal track by $index">
		                            <td>{{ $index + 1}}</td>
		                            <td>{{ stock.barcodeString}}</td>
		                            <td>{{ stock.material.name }}</td>
		                            <td>{{ stock.thickness }} cm</td>
		                            <td>{{ stock.type }}</td>
		                            <td ng-show="filter.type == 'TILE' || filter.type == ''">{{ stock.tileCount }}</td>
		                            <td style="width:30%">
		                            	<div id="{{'sizeDiv'+$index}}">
		                            		{{ stock.actualLength }} x {{ stock.actualHeight }} x {{stock.thickness}} cm
		                            	</div>
		                            	
		                            	</td>
		                            <td style="padding:15px !important">
		                            	<span class="label" ng-class="{'label-primary' : sold , 'label-danger' : !sold }">{{(stock.sold == true) ? 'Sold' : 'Not Sold'}}</span>
		                            </td>
		                            <td>
		                            	<a class="btn btn-sm btn-warning" ng-click="clickedOnEditRow(stock, $index)"><i class="fa fa-pencil"></i></a>
		                            	<!-- <a class="btn btn-sm btn-warning" ng-click="clickedOnReStock(stock, $index)"><i class="fa fa-refresh"></i></a> -->
		                            	<a class="btn btn-sm btn-success" ng-show="editMode" ng-click="updateStockRow(stock, $index)"><i class="fa fa-save"></i></a>
		                            </td>
		                        </tr>
		                        </tbody>
		                    </table>
	                    </div>
                    </div>
                </div>
            </div>
        </div>