
<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content" style="padding:0px">
            <div class="col-md-2 col-xs-6 m-t-lg" style="cursor: pointer !important" ui-sref="{{item.link}}" ng-repeat="item in menuItemsMainPage" ng-show="user.role >= item.roleGreaterThan">
                <div class="ibox-content text-center">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="m-b-sm">
                                <img alt="image" class="img-circle" src="{{item.imageURL}}" style="height:80px;width:80px">
                            </div>
                        </div>
                      <div class="col-sm-12 col-xs-12">
                          <div class="text-center m-t-sm">
                            <h3 class="m-t-lg">{{item.heading}}</h3>
                            <!-- <p class="">{{item.description}}</p> -->
                              <!-- <a ui-sref="{{item.link}}" class="btn btn-primary btn-sm">GO</a> -->
                          </div>
                      </div>
                  </div>
              </div>
        </div>
   			<!-- <div class="col-md-4 col-xs-12 m-t-lg">
   				<div class="ibox-content text-center">
	              	<div class="row">
						<div class="col-sm-4 col-xs-4">
			              	<div class="m-b-sm">
			                  	<img alt="image" class="img-circle" src="img/icon2/open-orders.png" style="height:130px;width:130px">
			              	</div>
						</div>
						<div class="col-sm-8 col-xs-8">
			              	<div class="text-left m-t-sm">
				              	<h3 class="m-t-lg">Open Orders</h3>
			              		<p class="">Edit, Approve, or Delete Pending Orders</p>
			                  	<a ui-sref="sales.salesInvoice" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i> View</a>
			              	</div>
						</div>
	              	</div>
	          	</div>
   			</div>
   			<div class="col-md-4 col-xs-12 m-t-lg" ng-show="user.role >= 4">
   				<div class="ibox-content text-center">
	              	<div class="row">
						<div class="col-sm-4 col-xs-4">
			              	<div class="m-b-sm">
			                  	<img alt="image" class="img-circle" src="img/icon2/delivery.png" style="height:130px;width:130px">
			              	</div>
						</div>
						<div class="col-sm-8 col-xs-8">
			              	<div class="text-left m-t-sm">
				              	<h3 class="m-t-lg">Print DO</h3>
			              		<p class="">Merge or Print DO of Approved Orders</p>
			                  	<a ui-sref="sales.approvedSalesOrder" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i> View</a>
			              	</div>
						</div>
	              	</div>
	          	</div>
   			</div>
   			<div class="col-md-4 col-xs-12 m-t-lg" ui-sref="admin.dashboard" ng-show="user.role >= 4">
   				<div class="ibox-content text-center">
	              	<div class="row">
						<div class="col-sm-4 col-xs-4">
			              	<div class="m-b-sm">
			                  	<img alt="image" class="img-circle" src="img/icon2/admin.png" style="height:130px;width:130px">
			              	</div>
						</div>
						<div class="col-sm-8 col-xs-8">
			              	<div class="text-left m-t-sm">
				              	<h3 class="m-t-lg">Admin</h3>
			              		<p class="">Add, Edit, or Approve Admin Details</p>
			                  	<a ui-sref="admin.dashboard" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i> View</a>
			              	</div>
						</div>
	              	</div>
	          	</div>
   			</div>
   			<div class="col-md-4 col-xs-12 m-t-lg">
	          	<div class="ibox-content text-center">
	              	<div class="row">
						<div class="col-sm-4 col-xs-12">
			              	<div class="m-b-sm">
			                  	<img alt="image" class="img-circle" src="img/icon2/delivery.png" style="height:130px;width:130px">
			              	</div>
						</div>
						<div class="col-sm-8 col-xs-12">
			              	<div class="text-left m-t-sm">
				              	<h3 class="m-t-sm">Container Logistics</h3>
			              		<p class="">Add New, List Existing, Or Edit existing Container Status.</p>
			                  	<a ui-sref="admin.viewContainerStatus" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i> View</a>
			              	</div>
						</div>
	              	</div>
	          	</div>
  			</div>
   			<div class="col-md-4 col-xs-12 m-t-lg" ng-show="user.role >= 4">
   				<div class="ibox-content text-center">
	              	<div class="row">
						<div class="col-sm-4 col-xs-4">
			              	<div class="m-b-sm">
			                  	<img alt="image" class="img-circle" src="img/icon2/upload-stock.png" style="height:130px;width:130px">
			              	</div>
						</div>
						<div class="col-sm-8 col-xs-8">
			              	<div class="text-left m-t-sm">
				              	<h3 class="m-t-lg">All Stock Upload</h3>
			              		<p class="">Add New Container Slab Details</p>
			                  	<a ui-sref="uploads.bulkInventoryUploadAll" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i> View</a>
			              	</div>
						</div>
	              	</div>
	          	</div>
   			</div>
   			
   			<div class="col-md-4 col-xs-12 m-t-lg" ng-show="user.role >= 4">
   				<div class="ibox-content text-center">
	              	<div class="row">
						<div class="col-sm-4 col-xs-4">
			              	<div class="m-b-sm">
			                  	<img alt="image" class="img-circle" src="img/icon2/print-labels.png" style="height:130px;width:130px">
			              	</div>
						</div>
						<div class="col-sm-8 col-xs-8">
			              	<div class="text-left m-t-sm">
				              	<h3 class="m-t-lg">Print Labels</h3>
			              		<p class="">Print Labels for Uploaded Containers</p>
			                  	<a ui-sref="listView.containerToPrint" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i> View</a>
			              	</div>
						</div>
	              	</div>
	          	</div>
   			</div>
			<div class="col-md-4 col-xs-12 m-t-lg">
				<div class="ibox-content text-center">
	              	<div class="row">
						<div class="col-sm-4 col-xs-4">
			              	<div class="m-b-sm">
			                  	<img alt="image" class="img-circle" src="img/icon2/new-sales.png" style="height:130px;width:130px">
			              	</div>
						</div>
						<div class="col-sm-8 col-xs-8">
			              	<div class="text-left m-t-sm">
				              	<h3 class="m-t-lg">New Sales</h3>
			              		<p class="">Add New Sales</p>
			                  	<a ui-sref="sales.salesOrder" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Add</a>
			              	</div>
						</div>
	              	</div>
	          	</div>
   			</div>
   			<div class="col-md-4 col-xs-12 m-t-lg" ng-show="user.role >= 4">
   				<div class="ibox-content text-center">
	              	<div class="row">
						<div class="col-sm-4 col-xs-4">
			              	<div class="m-b-sm">
			                  	<img alt="image" class="img-circle" src="img/icon2/new-sales.png" style="height:130px;width:130px">
			              	</div>
						</div>
						<div class="col-sm-8 col-xs-8">
			              	<div class="text-left m-t-sm">
				              	<h3 class="m-t-lg">Cutting Order</h3>
			              		<p class="">Add New Cutting Orders</p>
			                  	<a ui-sref="cutting.addCuttingOrder" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Add</a>
			              	</div>
						</div>
	              	</div>
	          	</div>
   			</div>
        	<div class="col-md-4 col-xs-12 m-t-lg" ng-show="user.role >= 4">
        		<div class="ibox-content text-center">
	              	<div class="row">
						<div class="col-sm-4 col-xs-4">
			              	<div class="m-b-sm">
			                  	<img alt="image" class="img-circle" src="img/icon2/stock-details.png" style="height:130px;width:130px">
			              	</div>
						</div>
						<div class="col-sm-8 col-xs-8">
			              	<div class="text-left m-t-sm">
				              	<h3 class="m-t-lg">Stock Details</h3>
			              		<p class="">View Existing Stock Details</p>
			                  	<a ui-sref="listView.fetchFilteredInventoryList" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i> View</a>
			              	</div>
						</div>
	              	</div>
	          	</div>
			</div> -->
      <!-- <div class="col-md-4 col-xs-12 m-t-lg" ng-show="user.role >= 4">
          <div class="ibox-content text-center">
                  <div class="row">
            <div class="col-sm-4 col-xs-4">
                      <div class="m-b-sm">
                          <img alt="image" class="img-circle" src="img/icon2/upload-stock.png" style="height:130px;width:130px">
                      </div>
            </div>
            <div class="col-sm-8 col-xs-8">
                      <div class="text-left m-t-sm">
                        <h3 class="m-t-lg">Upload Packing List</h3>
                        <p class="">Add New Container and Slab Details</p>
                          <a ui-sref="uploads.bulkInventoryUpload" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i> View</a>
                      </div>
            </div>
                  </div>
              </div>
        </div>
        <div class="col-md-4 col-xs-12 m-t-lg" ng-show="user.role >= 4">
          <div class="ibox-content text-center">
                  <div class="row">
            <div class="col-sm-4 col-xs-4">
                      <div class="m-b-sm">
                          <img alt="image" class="img-circle" src="img/icon2/tile-upload.png" style="height:130px;width:130px">
                      </div>
            </div>
            <div class="col-sm-8 col-xs-8">
                      <div class="text-left m-t-sm">
                        <h3 class="m-t-lg">Upload Tile List</h3>
                        <p class="">Add New Tile Container and Tile Details</p>
                          <a ui-sref="uploads.bulkTileInventoryUpload" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i> View</a>
                      </div>
            </div>
                  </div>
              </div>
        </div> -->
		</div>
	</div>
</div>
