<div class="row  border-bottom white-bg dashboard-header" ng-controller="MaterialCtrl">
    <div class="col-sm-12">
        <h2>Single Material Upload</h2>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <form role="form" id="upload-single-material-form">
                            	<div class="row">
	                            	<div class="col-sm-3 col-xs-12">
		                                <div class="form-group">
		                                	<label>Material Name</label>
									        <div class="input-group">
									            <input type="text" placeholder="Material Name" name="materialName" style="width:240px" class="form-control" tabindex="4" ng-model="material.materialName">
									        </div>
		                               	</div>
	                            	</div>
	                            	<div class="col-sm-3 col-xs-12">
		                                <div class="form-group">
		                                	<label>Origin Country</label>
		                                	<input type="text" placeholder="Origin Country" name="originCountry" style="width:240px" class="form-control" tabindex="4" ng-model="material.originCountry">
		                               	</div>
	                               	</div>
	                               	<div class="col-sm-3 col-xs-12" style="display: none">
		                                <div class="form-group">
		                                	<label>Lower Price Range</label>
		                                	<input type="text" placeholder="Lower Price Range" name="LowerPriceRange" style="width:240px" class="form-control" tabindex="4" ng-model="material.lowerPriceRange">
		                               	</div>
	                               	</div>
	                               	<div class="col-sm-3 col-xs-12" style="display: none">
		                                <div class="form-group">
		                                	<label>Higher Price Range</label>
		                                	<input type="text" placeholder="Higher Price Range" name="HigherPriceRange" style="width:240px" class="form-control" tabindex="4" ng-model="material.higherPriceRange">
		                               	</div>
	                               	</div>
	                            </div>
	                            <div class="row">
                            		<div class="col-sm-3 col-xs-12">
	                            		<div class="form-group">
						    				<a tabindex="4" class="btn btn-primary" ng-click="uploadSingleMaterialList()">Upload</a>	    					    				
										</div>
                            		</div>
                            	</div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
