<div class="wrapper wrapper-content animated fadeInRight" id="print-div" style="padding:0px" ng-controller="PrintCtrl">
    <div class="row">
    	
    	<div class="col-sm-12 col-xs-12 text-center">
    		<img src="img/SupremeLetterHead-BW.jpg" style="height:200px; width:100%">
    	</div>
    	<table class="" style="width:100%">
    		<tr>
    			<td style="width:25%;border-top:0px !important">
    				<h3><b>No.:</b> <span class="text-navy">{{order.id}}</span></h3>
    			</td>
	    		<td style="width:50%;border-top:0px !important;text-align: center">
	    			<h2><b>DELIVERY ORDER</b></h2>
	    		</td>
	    		<td style="width:25%;border-top:0px !important"></td>
    		</tr>
   		</table>
   		<table class="">
    		<tr>
    			<td style="width:40%;border-top:0px !important">
    				<h4><b>Name: &nbsp;</b><span style="">{{order.customer.customerName}}</span></h4>
    			</td>
    			<td style="width:20%;border-top:0px !important">
	    			<h4><b>Emirate: </b><span style="">{{order.customer.emirate}}</span></h4>
    			</td>
	    		<td style="width:20%;border-top:0px !important">
	    			<h4><b>Invoice No:</b></h4>
	    		</td>
	    		<td style="width:20%;border-top:0px !important;">
	    			<h4><b>Date: &nbsp;</b><span style="">{{order.createdOn | moment}}</span></h4>
	    		</td>
    		</tr>
    		<tr>
    			<td style="width:40%;border-top:0px !important">
    				<h4><b>Phone: </b><span style="">{{order.customer.phone}}</span></h4>
    			</td>
    			<td style="width:20%;border-top:0px !important">
	    			<h4><b>Delivery Date:</h4>
    			</td>
    		</tr>
    	</table>
		<small>
   		<table class="m-t-sm" style="border: 0px !important">
   			<tr>
   				<th style="width: 5%;">S No.</th>
   				<th style="width: 50%;">Description</th>
   				<th>Size</th>
   				<th style="width:10%;text-align:right">Nos</th>
   				<th style="width:20%;text-align:right">Qty</th>
   			</tr>
   			<tbody ng-repeat="cartRow in order.sortedCartArray" ng-show="cartRow.details.length > 0">
	   			<tr ng-repeat="row in cartRow.details" style="border: 0px !important" >
	   				
	   				<td>{{$index+1}}</td>
	   				<td><b>{{row.material.name}}</b> ({{row.type}}) ({{row.thickness}} cm)<small> - ({{row.barcodeString}})</small></td>
	   				<td>{{row.actualLength}} x {{row.actualHeight}}</td>
	   				<td style="text-align:right">{{row.tile ? row.count : '1'}}</td>
	   				<td style="text-align:right">{{row.actualLength * row.actualHeight / 10000 | number : 2}}</td>
	   			</tr>
	   			<tr style="border-top:2px solid #888 !important;border-bottom:2px solid #888 !important">
	   				<td style="text-align:left;"colspan="3"><b>Total</b></td>
	   				<td style="width:10%;text-align:right"><b>{{cartRow.count}}</b></td>
	   				<td style="width:20%;text-align:right"><b>{{cartRow.totalMtSq | number : 2}} mt. sq.</b></td>
	   			</tr>
   		
   			</tbody>
   			<!-- <tbody ng-show="cartRow.details.length > 0">
	   			<tr style="border-top:2px solid #888 !important">
	   				<td colspan="3"><b>Total</b></td>
	   				<td style="width:10%;text-align:right"><b>{{order.slabCount}}</b></td>
	   				<td style="width:20%;text-align:right"><b>{{order.totalMtSquare | number: 2}} mt. sq.</b></td>
	   			</tr>
   			</tbody> -->
   		</table>
   		<table class="m-t-lg" style="border: 0px !important;margin-top:100px" >
   			<tr style="border:0px !important">
   				<td style="width:50%;text-align:left;border:0px !important"><b>Receiver's Signature</b></td>
   				<td style="width:50%;text-align:right;border:0px !important"><b>For SUPREME MARBLES & GRANITE TRDG.</b></td>
   			</tr>
   			<tr style="border:0px !important">
   				<td colspan="2" style="text-align:center;border:0px !important"><b>Received above material in good condition and as per order.</b></td>
   			</tr>
   		</table>
		</small>
    	
   	</div>
</div>
