<div class="wrapper wrapper-content animated fadeInRight" id="print-div" style="padding:0px" ng-controller="PrintCtrl">
    <div class="row">
    	
    	<div class="col-sm-12 col-xs-12 text-center">
    		<img src="img/SupremeLetterHead-BW.jpg" style="height:100px">
    	</div>
    	<table class="table table-hover" style="width:100%">
    		<tr>
    			<td style="width:25%;border-top:0px !important">
    				<h3><b>CO No.:</b> <span class="text-navy">{{cuttingOrder.id}}</span></h3>
    			</td>
	    		<td style="width:50%;border-top:0px !important;text-align: center">
	    			<h3><b>CUTTING ORDER</b></h3>
	    		</td>
	    		<td style="width:25%;border-top:0px !important"></td>
    		</tr>
   		</table>
   		<table class="table table-hover">
    		<tr>
    			<td style="width:40%;border-top:0px !important">
    				<h4><b>Name: &nbsp;</b><span style="font-size:16px">{{cuttingOrder.customer.customerName}}</span></h4>
    			</td>
    			<td style="width:20%;border-top:0px !important">
	    			<h4><b>Emirate: </b><span style="font-size:16px">{{cuttingOrder.customer.emirate}}</span></h4>
    			</td>
	    		<td style="width:20%;border-top:0px !important">
	    			<h4><b>Invoice No:</b></h4>
	    		</td>
	    		<td style="width:20%;border-top:0px !important;text-align:left">
	    			<h4><b>Date: &nbsp;</b><span style="font-size:16px">{{cuttingOrder.createdOn | moment}}</span></h4>
	    		</td>
    		</tr>
    		<tr>
    			<td style="width:40%;border-top:0px !important">
    				<h4><b>Phone: </b><span style="font-size:16px">{{cuttingOrder.customer.phone}}</span></h4>
    			</td>
    			<td style="width:20%;border-top:0px !important">
	    			<h4><b>Delivery Date:</h4>
    			</td>
    		</tr>
    	</table>
    			
   		<table class="table table-hover table-bordered">
   			<tr>
   				<th style="width:5%;text-align:center">S No.</th>
   				<th style="text-align:center">Material</th>
   				<th style="width:10%;text-align:center">Size</th>
   				<th style="width:5%;text-align:center">Nos</th>
   				<th style="width:10%;text-align:center">Qty</th>
   				<th style="width:50%;text-align:center">Description</th>
   			</tr>
            <tbody ng-repeat="obj in cuttingOrdersList" style="border: 0px !important">
              <tr>
                <td></td>
                <td colspan="4"><small><b>{{obj.material.materialName}} ({{obj.thickness}} cm) </b>- {{obj.coTaskTypeString}}</small></td>
              </tr>
              <tr ng-repeat="c in obj.cuttingOrderCart">
                <td></td>
                <td></td>
                <td style="width:10%;">{{c.length}} x {{c.height}}</td>
                <td style="width:5%;">{{c.nos}}</td>
                <td style="width:10%;">{{c.quantity}} {{c.unit.name}}</td>
                <td style="width:50%;border:0px !important" colspan="100"></td>
              </tr>
              
	   			<!-- <tr ng-repeat="cartRow in row.tasks.cuttingOrderCart" style="border: 0px !important">
	   				
	   				<td style="height:120px;width:5%;">{{cartRow.indexRow}}</td>
	   				<td style=""><small><b>{{cartRow.material.materialName}} ({{cartRow.thickness}} cm) </b>- <span ng-repeat="t in row.cuttingOrderTasks.tasks">{{t.cuttingType.name}}<span ng-hide="$index == row.cuttingOrderTasks.tasks.length - 1"> | </span></span></small></td>
	   				<td style="width:10%;">{{cartRow.length}} x {{cartRow.height}}</td>
	   				<td style="width:5%;">{{cartRow.nos}}</td>
	   				<td style="width:10%;">{{cartRow.quantity}} {{cartRow.unit.name}}</td>
	   				<td style="width:50%;border:0px !important" colspan="100"></td>
	   			</tr> -->
            </tbody>
   			<!-- </tbody> -->
   			
   		</table>
    	
   	</div>
</div>
