<!-- Supplier name
   material name + thickness
   container number 
   BL status
   container status -->
<style>
   .form-control{
    padding: 5px 5px !important;
   }
   .number{
    text-align: right;
   }
</style>
<div class="container">
   <div class="dashboard-header" ng-controller="ContainerStatusCtrl">
      <toaster-container></toaster-container>
      <div class="col-lg-12">
         <div class="col-lg-12">
            <div class="row">
               <div class="ibox float-e-margins div-fill">
                  <div class="ibox-title">
                     <h5>Add New Container</h5>
                     </span>
                  </div>
                  <div class="ibox-content">
                     <div class="row">
                        <div class="col-sm-12">
                           <form role="form" id="upload-cutting-list-form">
                              <div class="row" style="margin-top:5px;margin-bottom:5px">
                                 <div class="col-sm-12 col-xs-12">
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-sm-3 col-xs-12">
                                    <div class="form-group">
                                       <label>Supplier Name</label>
                                       <div class="input-group">
                                          <select  id="supplier" class="form-control" name="supplierId" ng-model="containerStatus.supplierId">
                                             <option value="">--Select Supplier--</option>
                                             <option ng-repeat="selected in supplierList" value="{{selected.supplierId}}">{{selected.supplierName}}</option>
                                          </select>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-sm-3 col-xs-12">
                                    <div class="form-group">
                                       <label>Invoice Number</label><br>
                                       <input type="text" class="form-control" placeholder="Invoice No." ng-model="containerStatus.invoiceNumber">
                                    </div>
                                 </div>
                                 <div class="col-sm-3 col-xs-12">
                                    <div class="form-group">
                                       <label>Invoice Date (DD-MM-YYYY)</label><br>
                                       <input type="text" name="date" class="form-control" id="date" placeholder="DD-MM-YYYY" ng-model="containerStatus.invoiceDate" onfocus="showDatePicker(this)" onclick="showDatePicker(this)" autocomplete="off">
                                    </div>
                                 </div>
                              </div>
                              <div class="row" style="margin-top:10px">
                                 <div class="ibox float-e-margins div-fill" style="margin-bottom:0px !important" ng-repeat="t in containerStatus.materialList">
                                    <div class="ibox-title" style="background-color:#f3f3f4">
                                       <h5>Material {{$index +1}}</h5>
                                    </div>
                                    <div class="ibox-content" style="border-width:1px;border-bottom:1px solid #e7eaec">
                                       <div class="row">
                                          <div class="col-sm-11 col-xs-12">
                                             <div class="row">
                                                <div class="col-sm-2 col-xs-12">
                                                   <div class="form-group">
                                                      <label>Material</label><br>
                                                      <input id="material-typeahead-{{$index}}" placeholder="Search Material" class="form-control" autocomplete="off"
                                                         ng-model="t.materialName" typeahead-on-select="addMaterialToContainer($item, containerStatus.materialList, $index)" typeahead="m as m.materialName for m in startMaterialSearch($viewValue) | limitTo:20">
                                                      <span style="display:none">{{t.materialId}}</span>
                                                   </div>
                                                </div>
                                                <div class="col-sm-2 col-xs-12">
                                                   <div class="form-group">
                                                      <label>Thickness</label><br>
                                                      <select  id="thickness{{$index}}" class="form-control" name="thickness" ng-model="t.thickness">
                                                         <option value="">--Select--</option>
                                                         <option value="2">2 cm</option>
                                                         <option value="3">3 cm</option>
                                                      </select>
                                                   </div>
                                                </div>
                                                <div class="col-sm-2 col-xs-6">
                                                   <div class="form-group">
                                                      <label>Nos</label><br>
                                                      <input type="text" class="form-control number " placeholder="Number of Pieces" ng-model="t.noOfPieces" select-on-click select-on-focus number>
                                                   </div>
                                                </div>
                                                <div class="col-sm-2 col-xs-6">
                                                   <div class="form-group">
                                                      <label>Qty</label><br>
                                                      <input type="text" class="form-control number " placeholder="Quantity"  ng-model="t.quantity" select-on-click select-on-focus>
                                                   </div>
                                                </div>
                                                <div class="col-sm-2 col-xs-6">
                                                   <div class="form-group">
                                                      <label>Real Rt</label><br>
                                                      <input type="text" class="form-control number" placeholder="Real Rate"  ng-model="t.realRate" select-on-click select-on-focus>
                                                   </div>
                                                </div>
                                                <div class="col-sm-2 col-xs-6">
                                                   <div class="form-group">
                                                      <label>Bill Rt</label><br>
                                                      <input type="text" class="form-control number " placeholder="Bill Rate"  ng-model="t.billRate" select-on-click select-on-focus>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="col-sm-1 col-xs-12">
                                             <div class="row">
                                                <div class="form-group text-right">
                                                   <label>Action</label><br>
                                                   <a class="btn btn-sm btn-warning"><i class="fa fa-plus"></i></a>
                                                   <a class="btn btn-sm btn-danger" ng-click="removeAt(containerStatus.materialList, $index, 'materialList')"><i class="fa fa-trash"></i></a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="clearfix"></div>
                              <div class="row m-t-lg">
                                 <div class="col-sm-3 col-xs-12">
                                    <div class="form-group">
                                       <label>Container Number</label><br>
                                       <input type="text" class="form-control " placeholder="Container Number"  ng-model="containerStatus.containerNumber">
                                    </div>
                                 </div>
                                 <div class="col-sm-3 col-xs-12">
                                    <div class="form-group">
                                       <label>Container Status</label><br>
                                       <select  id="statusTypeId{{$index}}" class="form-control" name="statusTypeId" ng-model="containerStatus.containerStatus">
                                          <option value="">--Select Status--</option>
                                          <option ng-repeat="selected in statusList.CONTAINER_STATUS.statusTypes" value="{{selected.id}}">{{selected.name}}</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="col-sm-3 col-xs-12">
                                    <div class="form-group">
                                       <label>BL Status</label><br>
                                       <select  id="statusTypeId{{$index}}" class="form-control" name="statusTypeId" ng-model="containerStatus.BLStatus">
                                          <option value="">--Select BL Status--</option>
                                          <option ng-repeat="selected in statusList.BL_STATUS.statusTypes" value="{{selected.id}}">{{selected.name}}</option>
                                       </select>
                                    </div>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-sm-3 col-xs-12">
                                    <div class="form-group">
                                       <label>DO Status</label><br>
                                       <select  id="statusTypeId{{$index}}" class="form-control" name="statusTypeId" ng-model="containerStatus.DOStatus">
                                          <option value="">--Select DO Status--</option>
                                          <option ng-repeat="selected in statusList.DO_STATUS.statusTypes" value="{{selected.id}}">{{selected.name}}</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                       <label>Description / Remarks</label><br>
                                       <input type="text" class="form-control " placeholder="Description / description"  ng-model="containerStatus.description">
                                    </div>
                                 </div>
                              </div>
                              <hr>
                              <div class="row">
                                 <div class="col-sm-3 col-xs-12">
                                    <div class="form-group">
                                       <label>Payment Status</label><br>
                                       <select  id="statusTypeId{{$index}}" class="form-control" name="statusTypeId" ng-model="containerStatus.paymentStatus">
                                          <option value="">--Select Payment Status--</option>
                                          <option ng-repeat="selected in statusList.PAYMENT_STATUS.statusTypes" value="{{selected.id}}">{{selected.name}}</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="col-sm-3 col-xs-12">
                                    <div class="form-group">
                                       <label>Paid From Bank</label><br>
                                       <select  id="statusTypeId{{$index}}" class="form-control" name="statusTypeId" ng-model="containerStatus.bankId">
                                          <option value="">--Select Bank--</option>
                                          <option ng-repeat="selected in myBankList" value="{{selected.id}}">{{selected.name}}</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="col-sm-3 col-xs-12">
                                    <div class="form-group">
                                       <label>Payment Date</label><br>
                                       <input type="text" name="date" class="form-control" id="paymentDate" placeholder="Payment Date" ng-model="containerStatus.paymentDate" onclick="showDatePicker(this)" onfocus="showDatePicker(this)" autocomplete="off">
                                    </div>
                                 </div>
                                 <div class="col-sm-3 col-xs-12">
                                    <div class="form-group">
                                       <label>Amount</label><br>
                                       <input type="text" class="form-control" placeholder="Payment Amount" ng-model="containerStatus.amount">
                                    </div>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-sm-3 col-xs-12">
                                    <a class="btn btn-primary btn-block" ng-click="submitContainerStatus()">Update</a>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>