<!-- Supplier name
  material name + thickness
  container number 
  BL status
  container status -->
<style>
  .form-control{
  padding: 5px 5px !important;
  }
  .number{
  text-align: right;
  }
</style>
<div class="">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2>Container Logistics</h2>
    </div>
    <div class="col-lg-2">
      <a ui-sref="admin.addContainer" class="btn btn-sm btn-primary m-t-sm"><i class="fa fa-plus"></i> Add New Container</a>
    </div>
  </div>
  <div class="dashboard-header" ng-controller="ContainerStatusCtrl">
    <toaster-container></toaster-container>
    <div class="col-lg-12">
      <div class="row">
        <div class="ibox float-e-margins">
          <div class="ibox-content" ng-show="containerDetails.length <= 0 && completedContainerDetails.length <= 0">
            <div class="row">
              <div class="col-sm-12 text-center">
                <a ui-sref="admin.addContainer" class="btn btn-sm btn-primary m-t-sm"><i class="fa fa-plus"></i> Add New Container</a>
              </div>
            </div>
          </div>
          <tabset>
            <tab heading="Upcoming Containers">
              <div class="panel-body div-fill" style="margin:0px; height:400px !important;overflow: scroll !important">
                <div class="col-sm-12" ng-repeat="container in containerDetails">
                  <div class="row">
                    <div class="col-sm-10">
                      <div class="row">
                        <div class="col-sm-1 col-xs-6">
                          <div class="form-group">
                            <label>S. No.</label>
                            <h4 class="text-navy">{{$index+1}}</h4>
                          </div>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                          <div class="form-group">
                            <label>Cont. No.</label>
                            <h4 class="text-navy">{{container.containerCode}}</h4>
                          </div>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                          <div class="form-group">
                            <label>Supplier</label><br>
                            <h4 class="text-navy">{{container.supplier.supplierName}}</h4>
                          </div>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                          <div class="form-group">
                            <label>C. Status</label><br>
                            <h4 class="text-navy">{{(container.statusDetails.containerStatus != 0) ? container.statusDetails.containerStatusObj.name : 'N/A'}}</h4>
                          </div>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                          <div class="form-group">
                            <label>BLStatus</label><br>
                            <h4 class="text-navy">{{(container.statusDetails.BLStatus != 0) ? container.statusDetails.BLStatusObj.name : 'N/A'}}</h4>
                          </div>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                          <div class="form-group">
                            <label>Material(s)</label><br>
                            <ol>
                              <li ng-repeat="m in container.materialList"><span class="text-navy"> {{m.material.materialName}} <br>({{m.thickness}} cm)</span></li>
                            </ol>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-2 col-xs-12">
                      <a class="btn btn-sm btn-primary" ng-click="editContainerDetails(container)"><i class="fa fa-pencil"></i> Edit</a>
                      <a class="btn btn-sm btn-danger" ng-click="deleteContainerStatuswithId(container, $index)"><i class="fa fa-trash"></i> Delete</a>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
            <tab heading="Containers Already Processed">
              <div class="panel-body div-fill" style="margin:0px;height:400px !important;overflow: scroll !important">
                <div class="col-sm-12" ng-repeat="container in completedContainerDetails">
                  <div class="row">
                    <div class="col-sm-10">
                      <div class="row">
                        <div class="col-sm-1 col-xs-6">
                          <div class="form-group">
                            <label>S. No.</label>
                            <h4 class="text-navy">{{$index+1}}</h4>
                          </div>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                          <div class="form-group">
                            <label>Cont. No.</label>
                            <h4 class="text-navy">{{container.containerCode}}</h4>
                          </div>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                          <div class="form-group">
                            <label>Supplier</label><br>
                            <h4 class="text-navy">{{container.supplier.supplierName}}</h4>
                          </div>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                          <div class="form-group">
                            <label>C. Status</label><br>
                            <h4 class="text-navy">{{(container.statusDetails.containerStatus != 0) ? container.statusDetails.containerStatusObj.name : 'N/A'}}</h4>
                          </div>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                          <div class="form-group">
                            <label>BLStatus</label><br>
                            <h4 class="text-navy">{{(container.statusDetails.BLStatus != 0) ? container.statusDetails.BLStatusObj.name : 'N/A'}}</h4>
                          </div>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                          <div class="form-group">
                            <label>Material(s)</label><br>
                            <ol>
                              <li ng-repeat="m in container.materialList"><span class="text-navy"> {{m.material.materialName}} <br>({{m.thickness}} cm)</span></li>
                            </ol>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-2 col-xs-12">
                      <a class="btn btn-sm btn-primary" ng-click="editContainerDetails(container)"><i class="fa fa-pencil"></i> Edit</a>
                      <a class="btn btn-sm btn-danger" ng-click="deleteContainerStatuswithId(container, $index)"><i class="fa fa-trash"></i> Delete</a>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
          </tabset>
          <!-- <div class="ibox-content" ng-repeat="container in containerDetails">
            <div class="row">
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-1 col-xs-6">
                    <div class="form-group">
                      <label>S. No.</label>
                      <h4 class="text-navy">{{$index+1}}</h4>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-6">
                    <div class="form-group">
                      <label>Cont. No.</label>
                      <h4 class="text-navy">{{container.containerCode}}</h4>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-6">
                    <div class="form-group">
                      <label>Supplier</label><br>
                      <h4 class="text-navy">{{container.supplier.supplierName}}</h4>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-6">
                    <div class="form-group">
                      <label>C. Status</label><br>
                      <h4 class="text-navy">{{(container.statusDetails.containerStatus != 0) ? container.statusDetails.containerStatusObj.name : 'N/A'}}</h4>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-6">
                    <div class="form-group">
                      <label>BLStatus</label><br>
                      <h4 class="text-navy">{{(container.statusDetails.BLStatus != 0) ? container.statusDetails.BLStatusObj.name : 'N/A'}}</h4>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-6">
                    <div class="form-group">
                      <label>Material(s)</label><br>
                      <ol>
                        <li ng-repeat="m in container.materialList"><span class="text-navy"> {{m.material.materialName}} <br>({{m.thickness}} cm)</span></li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-2 col-xs-12">
                <a class="btn btn-sm btn-primary" ng-click="editContainerDetails(container)"><i class="fa fa-pencil"></i> Edit</a>
                <a class="btn btn-sm btn-danger" ng-click="deleteContainerStatuswithId(container, $index)"><i class="fa fa-trash"></i> Delete</a>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>