<!-- views/common/navigation.html -->
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
        
        	<!-- <li class="nav-header">

                <div class="dropdown profile-element" dropdown="">
                    <img alt="image" class="img-circle" src="img/profile_small.jpg">
                    <a class="dropdown-toggle" dropdown-toggle="" href="" aria-haspopup="true" aria-expanded="false">
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{user.name}}</strong>
                             </span>
                                <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                            </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a ui-sref="profile">Profile</a></li>
                        <li><a ui-sref="contacts">Contacts</a></li>
                        <li><a ui-sref="inbox">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a href="../login.html">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IS
                </div>
            </li> -->
            <!-- <li class="nav-header">

                <div class="dropdown profile-element" dropdown>
                
                    <a class="dropdown-toggle" dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <h3 class="font-bold">{{user.name}}</h3>
                             </span>
                                <span class="text-muted text-xs block">Art Director</span>
                            </span>
                    </a>
                </div>
            </li> -->
            
            
            <li ui-sref-active="active">
                <a ui-sref="dashboards.start"><i class="fa fa-th-large"></i> <span class="nav-label">{{ 'HOME' | translate }}</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="admin.dashboard"><i class="fa fa-th-large"></i> <span class="nav-label">{{ 'ADMIN' | translate }}</span> </a>
            </li>
            
            <!-- <li ng-class="{active: $state.includes('cutting')}">
                <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">{{ 'Cutting Orders' | translate }}</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('cutting')}">
                    <li ui-sref-active="active"><a ui-sref="cutting.bulkCuttingOrderInputForm">{{ 'Add' | translate }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="cutting.bulkCuttingOrderEditForm">{{ 'Edit' | translate }}</a></li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="cutting.bulkCuttingOrderInputForm"><i class="fa fa-table"></i> <span class="nav-label">{{ 'Add Cutting Order' | translate }}</span> </a>
            </li>
            
            <li ui-sref-active="active" ng-show="user.role > 4">
                <a ui-sref="purchase.purchaseOrder"><i class="fa fa-table"></i> <span class="nav-label">{{ 'Purchase' | translate }}</span> </a>
            </li>
            
            
            <li ui-sref-active="active" ng-show="user.role > 4">
                <a ui-sref="listView.stock"><i class="fa fa-table"></i> <span class="nav-label">{{ 'STOCK' | translate }}</span> </a>
            </li>
            <li ui-sref-active="active" ng-show="user.role > 4">
                <a ui-sref="listView.supplier"><i class="fa fa-table"></i> <span class="nav-label">{{ 'SUPPLIERS' | translate }}</span> </a>
            </li>
            <li ui-sref-active="active" ng-show="user.role > 4">
                <a ui-sref="listView.material"><i class="fa fa-database"></i> <span class="nav-label">{{ 'MATERIAL TYPE' | translate }}</span> </a>
            </li>
            
            <li ui-sref-active="active">
                <a ui-sref="dashboards.readQRCode"><i class="fa fa-table"></i> <span class="nav-label">{{ 'Read QR' | translate }}</span> </a>
            </li>
            
            <li ng-class="{active: $state.includes('uploads')}">
                <a href="index.html"><i class="fa fa-upload"></i> <span class="nav-label">{{ 'UPLOADS' | translate }}</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('uploads')}">
                    <li ui-sref-active="active"><a ui-sref="uploads.bulkInventoryUpload">{{ 'Bulk Inventory Upload' | translate }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="uploads.bulkSupplierUpload">{{ 'Bulk Supplier Upload' | translate }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="uploads.bulkMaterialUpload">{{ 'Bulk Material Upload' | translate }}</a></li>
                </ul>
            </li> -->
            
        </ul>

    </div>
</nav>