<div class="row border-bottom white-bg">
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            <a ui-sref="dashboards.start" class="navbar-brand">InStone</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <!-- <li class="active">
                    <a ui-sref="dashboards.dashboard"> Dashboard </a>
                </li> -->
                
                <li class="active">
                    <a ui-sref="dashboards.start"> Home </a>
                </li>
                <li class="active">
                    <a ui-sref="admin.dashboard"> Admin </a>
                </li>
                <li class="active">
                    <a ui-sref="admin.restock"> Restock </a>
                </li>
            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                 <a href="../app/user?action=logout" accesskey="o">
                    Logout
                    <i class="fa fa-sign-out"></i> 
                 </a>
             </li>
            </ul>
        </div>
    </nav>
</div>