<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0; "> 
    <!-- <background: url(css/patterns/header-profile.png);> -->
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
            <form role="search" class="navbar-form-custom" method="post" action="views/search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="{{ 'SEARCH' | translate }}" class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a ui-sref="dashboards.start" accesskey="h">
                    Home
                </a>
            </li>
            <li>
                 <a href="../app/user?action=logout" accesskey="o">
                    <i class="fa fa-sign-out"></i> Logout
                 </a>
             </li>
        </ul>

    </nav>
</div>
