<div class="dashboard-header animated fadeInLeft" ng-controller="RestockCtrl" >
  <toaster-container></toaster-container>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="tabs-container">
          <tabset>
            <tab heading="Restock">
              <div class="panel-body" style="margin:0px">
                <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-12">
                          <form role="form" id="upload-cutting-list-form">
                            <div class="row" style="margin-top:10px">
                              <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                  <label>Barcode String</label>
                                  <div class="clearfix"></div>
                                  <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Barcode String" ng-model="restock.barcodeString" ng-enter="findBarcodeInOrder()">
                                    <div class="input-group-btn">
                                      <button class="btn btn-warning" ng-click="findBarcodeInOrder()" type="button" style="height:34px"><i class="fa fa-check"></i> Go</button>
                                    </div>
                                  </div>
                                  <small><a class="text-navy" ng-click="clear('restock')">CLEAR</a></small>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                  <div class="ibox float-e-margins" ng-show="restockInventoryResult.length > 0">
                    <div class="ibox-content" ng-repeat="obj in restockInventoryResult" >
                      <div class="row">
                        <div class="col-sm-4 col-xs-12">
                          <h3 class="form-label">Order Id: <span class="text-navy">{{obj.orderId}}</span></h3>
                        </div>
                        <div class="col-sm-8 col-xs-12">
                          <h3 class="form-label">Customer: <span class="text-navy">{{obj.customer.customerName}}</span></h3>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                          <label class="form-label">Slab Size: <span class="text-navy">{{obj.length}} x {{obj.height}} x {{obj.thickness}} cm</span></label>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                          <label class="form-label">Tile: <span class="text-navy">{{(obj.tile) ? "YES" : "NO"}} {{(obj.tile) ? "("+obj.existingTileCount+")" : ""}}</span></label>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                          <label class="form-label">Order Placed: <span class="text-navy">{{(obj.orderPlaced) ? "YES" : "NO" | uppercase}}</span></label>
                        </div>
                        <div class="m-t-sm">
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label>Reason</label>
                            <select  id="statusTypeId{{$index}}" class="form-control" name="statusTypeId" ng-model="obj.statusTypeId">
                              <option value="">--Select Reason--</option>
                              <option ng-repeat="selected in statusList.RESTOCK.statusTypes" value="{{selected.id}}">{{selected.name}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-4" ng-show="obj.tile">
                          <div class="form-group">
                            <label>Tile Count</label>
                            <input type="number" id="tileCount{{$index}}" class="form-control" placeholder="Tile Count" ng-model="obj.tileCount">
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label>Remarks (optional)</label>
                            <input type="text" id="remarks{{$index}}" class="form-control" placeholder="Remarks" ng-model="obj.remarks">
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <a class="btn btn-danger" ng-click="restockSlabs(obj)">RESTOCK</a>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
            <!-- <tab heading="Mark As Sold">
              <div class="panel-body" style="margin:0px">
                <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-12">
                          <form role="form" id="addSlabToOrderForm">
                            <div class="row" style="margin-top:10px">
                              <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                  <label>Barcode String</label>
                                  <div class="clearfix"></div>
                                  <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Barcode String" ng-model="markAsSold.barcodeString" ng-enter="findBarcodeToBeAddedInOrder()">
                                    <div class="input-group-btn">
                                      <button class="btn btn-warning" ng-click="findBarcodeToBeAddedInOrder()" type="button" style="height:34px"><i class="fa fa-check"></i> Go</button>
                                    </div>
                                  </div>
                                  <small><a class="text-navy" ng-click="clear('markAsSold')">CLEAR</a></small>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                  <div class="ibox float-e-margins white-bg" ng-show="markAsSoldInventoryResult.length > 0">
                    <div class="ibox-title">
                      <h5>Existing Orders</h5>
                    </div>
                    <div class="ibox-content" ng-repeat="obj in markAsSoldInventoryResult" >
                      <div class="row">
                        <div class="col-sm-4 col-xs-12">
                          <label class="form-label">Order Id: <span class="text-navy">{{obj.orderId}}</span></label>
                        </div>
                        <div class="col-sm-8 col-xs-12">
                          <label class="form-label">Customer: <span class="text-navy">{{obj.customer.customerName}}</span></label>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                          <label class="form-label">Slab Size: <span class="text-navy">{{obj.length}} x {{obj.height}} x {{obj.thickness}} cm</span></label>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                          <label class="form-label">Tile: <span class="text-navy">{{(obj.tile) ? "YES" : "NO"}} {{(obj.tile) ? "("+obj.existingTileCount+")" : ""}}</span></label>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                          <label class="form-label">Order Placed: <span class="text-navy">{{obj.orderPlaced}}</span></label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ibox float-e-margins" ng-show="markAsSoldInventoryResult.length <= 0">
                    <div class="ibox-content">
                      <div class="row">
                        <div class="col-sm-12">
                          <span ng-show="markAsSold.barcodeString == ''">Enter Barcode to check in orders</span>
                          <span ng-show="markAsSold.barcodeString != ''">Barcode does not exist in orders. Please enter order number to mark slab as sold.</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </tab> -->
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <form role="form" id="addSlabToOrderForm">
  <div class="row" style="margin-top:10px">
    <div class="col-sm-4 col-xs-12">
      <div class="form-group">
        <label>Barcode String</label>
        <input type="text" class="form-control" placeholder="Barcode String" ng-model="markAsSold.barcodeString">
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="form-group">
        <label>Order Number</label>
        <input type="text" class="form-control" placeholder="Order Number" ng-model="markAsSold.barcodeString">
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="form-group">
        <label>Mark As Sold</label>
        <input type="checkbox" name="markSlabAsSold" ng-model="markAsSold.markSlabAsSold" ng-true-value="1" ng-false-value="0">
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="form-group">
        <a class="btn btn-danger" ng-click="addSlabToOrder(markAsSold)">Add Slab To Order</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-xs-12">
      <div class="form-group">
        <label>Tile Count</label>
        <input type="checkbox" name="markSlabAsSold" ng-model="markAsSold.markSlabAsSold" ng-true-value="1" ng-false-value="0">
      </div>
    </div>
  </div>
  </form> -->