<div class="dashboard-header" ng-controller="MaterialCtrl" >
<div class="container">
	<toaster-container></toaster-container>
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox float-e-margins div-fill">
            	<div class="ibox-title">
		            <h5>Add New Material</h5></span>
		        </div>
                <div class="ibox-content" style="min-height:180px">
                    <div class="row">
                        <div class="col-sm-12">
                        	<div class="row">
                        	<form role="form" name="material_form" novalidate ng-submit="uploadSingleMaterialList()">
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label>Name</label>
			                            <input type="text" placeholder="Material Name" class="form-control" name="materialName" ng-model="material.materialName" ng-minlength="3" ng-maxlength="100" required>
			                            <div class="m-t-xs" ng-show="material_form.materialName.$invalid && material_form.submitted">
			                                <small class="text-danger" ng-show="material_form.materialName.$error.required">Please input a name</small>
			                                <small class="text-danger" ng-show="material_form.materialName.$error.minlength">Your name is required to be at least 3 characters</small>
			                                <small class="text-danger" ng-show="material_form.materialName.$error.maxlength">Your name cannot be longer than 100 characters</small>
			                            </div>
			                        </div>
                        		</div>
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label>Origin</label>
			                            <input type="text" placeholder="Enter origin" class="form-control" name="originCountry" ng-model="material.originCountry" required>
			                            <div class="m-t-xs" ng-show="material_form.originCountry.$invalid && material_form.submitted">
			                                <small class="text-danger" ng-show="material_form.originCountry.$error">Please input a valid origin</small>
			                            </div>
			                        </div>
		                        </div>
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group m-t-md" style="margin-top:22px">
			                            <button class="btn btn-primary" type="submit">SUBMIT</button>
			                        </div>
		                        </div>
		                    </form>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
        	<div class="ibox float-e-margins div-fill">
            	<div class="ibox-title">
		            <h5>Bulk Material Upload</h5></span>
		        </div>
                <div class="ibox-content" style="min-height:180px">
                	<form role="form" enctype="multipart/form-data" ng-submit="uploadBulkMaterialList()" id="upload-bulk-material-list-form">
                            	<div class="row">
                            		<div class="col-xs-12 col-sm-8">
										<div class="form-group">
											<label class="control-label" id="fileName" tabindex="4" >Choose Material List File:</label>
						    				<label class="btn btn-default btn-block" for="file-input" id="file-label">Select..
					    						<input type="file" name="file" id="file-input" style="display:none" class="text-center" ng-model="materialBulkList.file" onchange="angular.element(this).scope().fileNameChanged()"/>
					    					</label>
						    			</div>
					    			</div>
                            		<div class="col-sm-4 col-xs-12">
	                            		<div class="form-group">
						    				<input type="submit" value="UPLOAD"  tabindex="4" class="btn btn-primary" />	    					    				
										</div>
                            		</div>
                            	</div>
                            </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><strong>Material List</strong></h5>
                </div>
                <div class="ibox-content">
                    <table datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Name</th>
                            <th>Origin</th>
                            <th class="data-hide">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="material in materialList | orderBy : 'materialName'" class="data-hide-tr">
                            <td>{{ $index + 1 }}</td>
                            <td>
                            	<div id="{{'materialNameDiv'+$index}}">
	                            	<span>{{ material.materialName }}</span>
                            	</div>
                           	</td>
                            <td>
                            	<div id="{{'materialOriginDiv'+$index}}">
	                            	<span>{{ material.originCountry }}</span>
                            	</div>
                           	</td>
                            <td>
                            	<a ng-hide="material.editMode" class="btn btn-sm btn-success" ng-click="clickedOnEditRow(material, $index)"><i class="fa fa-pencil"></i></a>
                            	<a ng-show="material.editMode" class="btn btn-sm btn-primary" ng-click="clickedOnSaveRow(material, $index)"><i class="fa fa-save"></i></a>
                            	<a class="btn btn-sm btn-danger" ng-click="deleteMaterial(material, $index)"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>
</div>

