<div class="dashboard-header" ng-controller="UserCtrl" >
<div class="container">
	<div ng-include="'views/common/modal/user-edit-modal.html'"></div>
	<toaster-container></toaster-container>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins div-fill">
            	<div class="ibox-title">
		            <h5>Add New User</h5></span>
		        </div>
                <div class="ibox-content" style="min-height:180px">
                    <div class="row">
                        <div class="col-sm-12">
                        	<form role="form" name="user_form" novalidate ng-submit="uploadSingleUserList()">
                        	<div class="row">
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label>Name</label>
			                            <input type="text"  placeholder="Name" class="form-control" name="name" ng-model="newUser.name" ng-minlength="3" ng-maxlength="50" required autocomplete="off">
			                            <div class="m-t-xs" ng-show="user_form.name.$invalid && user_form.submitted">
			                                <small class="text-danger" ng-show="user_form.name.$error.required">Please input a name</small>
			                                <small class="text-danger" ng-show="user_form.name.$error.minlength">Your name is required to be at least 3 characters</small>
			                                <small class="text-danger" ng-show="user_form.name.$error.maxlength">Your name cannot be longer than 50 characters</small>
			                            </div>
			                        </div>
                        		</div>
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label>Emirates Id</label>
		                            	<input type="text" class="form-control" name="emiratesId" data-mask="999-9999-9999999-9" placeholder="" ng-model="newUser.emiratesId" autocomplete="off" required>
		                            	<div class="m-t-xs" ng-show="user_form.emiratesId.$invalid && user_form.submitted">
			                                <small class="text-danger" ng-show="user_form.emiratesId.$error.required">Please input Emirates Id</small>
			                            </div>
			                        </div>
		                        </div>
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label class="form-label">Gender</label>
			                            <br>
		                            	<div class="col-sm-6 col-xs-6 no-padding">
	                            			<label> <input iCheck type="radio" name="gender" value="0" ng-model="newUser.gender"> Male</label>
	                                	</div>
	                                	<div class="col-sm-6 col-xs-6 no-padding">
                                			<label> <input iCheck type="radio" name="gender" value="1" ng-model="newUser.gender"> Female </label>
                               			</div>
			                        </div>
                        		</div>
		                        </div>
		                        <div class="row">
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label>Email</label>
			                            <input type="email" placeholder="Enter email" class="form-control" name="email" ng-model="newUser.email" required autocomplete="off">
			                            <div class="m-t-xs" ng-show="user_form.email.$invalid && user_form.submitted">
			                                <small class="text-danger" ng-show="user_form.email.$error.required">Please input an email</small>
			                            </div>
			                        </div>
		                        </div>
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label>Mobile Number</label>
			                            <input type="text" name="phone" id="phone" class="form-control" data-mask="999-999999999" placeholder="" ng-model="newUser.phone" autocomplete="off" required>
			                            <div class="m-t-xs" ng-show="user_form.phone.$invalid && user_form.submitted">
			                                <small class="text-danger" ng-show="user_form.phone.$error.required">Please input valid phone number</small>
			                            </div>
			                        </div>
		                        </div>
		                        <div class="col-lg-4">
		                            <label>Password</label>
								    <div class="input-group">
								      <input type="text"  name="newUserPassword" id="newUserPassword" placeholder="Password" class="form-control" ng-model="newUser.password" style="display:table-cell" ng-minlength="8" ng-maxlength="15" autocomplete="off" required>
								      <span class="input-group-btn">
								        <button ng-click="togglePasswordVisibility('newUserPassword')" style="font-size:20px !important" class="btn btn-default" type="button"><i class="fa fa-eye"></i></button>
								      </span>
								    </div>
								    <div class="m-t-xs" ng-show="user_form.newUserPassword.$invalid && user_form.submitted">
								    	<small class="text-danger" ng-show="user_form.newUserPassword.$error.required">Please input valid password</small>
		                                <small class="text-danger" ng-show="user_form.newUserPassword.$error.minlength">Your password is required to be at least 3 characters</small>
		                                <small class="text-danger" ng-show="user_form.newUserPassword.$error.maxlength">Your password is required to be at most 15 characters</small>
		                            </div>
								  </div>
                        		
		                        </div>
		                        <div class="row">
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label>Address Line 1</label>
			                            <input type="text" placeholder="Address Line 1" class="form-control" name="addressLine1" ng-model="newUser.addressLine1" ng-maxlength="50" ng-minlength="3" required autocomplete="off">
			                            <div class="m-t-xs" ng-show="user_form.addressLine1.$invalid && user_form.submitted">
			                            	<small class="text-danger" ng-show="user_form.addressLine1.$error.required">Please input valid phone number</small>
			                                <small class="text-danger" ng-show="user_form.addressLine1.$error.minlength">Your Address Line 1 is required to be at least 3 characters</small>
			                                <small class="text-danger" ng-show="user_form.addressLine1.$error.maxlength">Your Address Line 1 is required to be at most 50 characters</small>
			                            </div>
			                        </div>
		                        </div>
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label>Address Line 2 (optional)</label>
			                            <input type="text" placeholder="Address Line 2" class="form-control" name="password" ng-model="newUser.addressLine2" autocomplete="off" ng-maxlength="50">
			                            <div class="m-t-xs" ng-show="user_form.addressLine2.$invalid && user_form.submitted">
			                                <small class="text-danger" ng-show="user_form.addressLine2.$error.maxlength">Your Address Line 2 is required to be at most 50 characters</small>
			                            </div>
			                        </div>
		                        </div>
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label>City</label>
			                            <input type="text" placeholder="City" class="form-control" name="city" ng-model="newUser.city" required autocomplete="off" ng-maxlength="30">
			                            <div class="m-t-xs" ng-show="user_form.city.$invalid && user_form.submitted">
			                            	<small class="text-danger" ng-show="user_form.city.$error.required">Please input City</small>
			                                <small class="text-danger" ng-show="user_form.city.$error.maxlength">City is required to be at most 30 characters</small>
			                            </div>
			                        </div>
		                        </div>
		                        </div>
		                        <div class="row">
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label>Role</label>
		                            	<select class="form-control" name="role" placeholder="Role" ng-model="newUser.role" required style="height:34px" autocomplete="off">
							            	<option value="">--Select Role--</option>
							            	<option ng-repeat="role in userRolesList" value="{{role.role}}">{{role.roleString}}</option>
							            </select>
							            <div class="m-t-xs" ng-show="user_form.role.$invalid && user_form.submitted">
			                            	<small class="text-danger" ng-show="user_form.role.$error.required">Please input Role</small>
			                            </div>
			                        </div>
		                        </div>
		                        </div>
		                        <div class="clearfix"></div>
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group m-t-md" style="margin-top:22px">
			                            <button class="btn btn-primary" type="submit">SUBMIT</button>
			                        </div>
		                        </div>
		                    </form>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-4">
        	<div class="ibox float-e-margins div-fill">
            	<div class="ibox-title">
		            <h5>Bulk Supplier Upload</h5></span>
		        </div>
                <div class="ibox-content" style="min-height:180px">
                    <div class="row">
                        <div class="col-sm-12">
                            <form role="form" enctype="multipart/form-data" ng-submit="uploadBulkSupplierList()" id="upload-bulk-user-list-form">
                            	<div class="row">
                            		<div class="col-xs-12 col-sm-8">
										<div class="form-group">
											<label class="control-label" id="fileName" tabindex="4" >Choose Supplier List File:</label>
						    				<label class="btn btn-default btn-block" for="file-input" id="file-label">Select..
					    						<input type="file" name="file" id="file-input" style="display:none" class="text-center" ng-model="userList.file" onchange="angular.element(this).scope().fileNameChanged()"/>
					    					</label>
						    			</div>
					    			</div>
                            		<div class="col-sm-4 col-xs-12">
	                            		<div class="form-group" style="margin-top:20px">
						    				<input type="submit" value="UPLOAD"  tabindex="4" class="btn btn-primary" />	    					    				
										</div>
                            		</div>
                            	</div>
                            	<div class="row">
                            		<p>See Sample Excel Format
                            	</div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><strong>Supplier List</strong></h5>
                </div>
                <div class="ibox-content">
                    <table datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>E.Id</th>
                            <th>Phone</th>
                            <th>Address 1</th>
                            <th>Address 2</th>
                            <th>City</th>
                            <!-- <th>Action</th> -->
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="newUser in userList | orderBy : 'name'">
                            <td>{{ $index + 1 }}</td>
                            <td>
                            	<div id="{{'userNameDiv'+$index}}">
                            	<span>{{ newUser.name }}</span>
                            	</div>
                           	</td>
                            <td>
                            	<div id="{{'userEmailDiv'+$index}}">
                            	<span>{{ newUser.email }}</span>
                            	</div>
                           	</td>
                            <td>
                            	<div id="{{'userEmiratesIdDiv'+$index}}">
                            	<span>{{ newUser.emiratesId }}</span>
                            	</div>
                            </td>
                            <td>
                            	<div id="{{'userPhoneDiv'+$index}}">
                            	<span>{{ newUser.phone }}</span>
                            	</div>
                            </td>
                            <td>
                            	<div id="{{'userAddress1Div'+$index}}">
                            	<span>{{ newUser.addressLine1 }}</span>
                            	</div>
                            </td>
                            <td>
                            	<div id="{{'userAddress2Div'+$index}}">
                            	<span>{{ newUser.addressLine2 }}</span>
                            	</div>
                            </td>
                            <td>
                            	<div id="{{'userCityDiv'+$index}}">
                            	<span>{{ newUser.city }}</span>
                            	</div>
                            </td>
                            <!-- <td>
                            	<a ng-hide="newUser.editUser" class="btn btn-xs btn-success" ng-click="clickedOnEditRow(newUser, $index)"><i class="fa fa-pencil"></i></a>
                            	<a class="btn btn-xs btn-danger" ng-click="deleteUser(newUser, $index)"><i class="fa fa-trash"></i></a>
                            </td> -->
                        </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
