<div class="dashboard-header animated fadeInLeft" ng-controller="CuttingTypeCtrl" >
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox float-e-margins div-fill">
            	<div class="ibox-title">
		            <h5>Add New Cutting Type</h5></span>
		        </div>
                <div class="ibox-content" style="min-height:180px">
                    <div class="row">
                        <div class="col-sm-12">
                        	<div class="row">
                        	<form role="form" name="cutting_type_form" id="cutting_type_form" novalidate ng-submit="uploadSingleCuttingTypeList()">
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group">
			                            <label>Name</label>
			                            <input type="text" placeholder="Cutting Type Name" class="form-control" id="cutting_type_form_name" tabindex="4" name="name" ng-model="cuttingType.name" ng-maxlength="20" required autocomplete="off">
			                            <div class="m-t-xs" ng-show="cutting_type_form.name.$invalid && cutting_type_form.submitted">
			                                <small class="text-danger" ng-show="cutting_type_form.name.$error.required">Please input name</small>
			                                <small class="text-danger" ng-show="cutting_type_form.name.$error.maxlength">Name cannot be longer than 20 characters</small>
			                            </div>
			                        </div>
                        		</div>
                        		<div class="col-sm-4 col-xs-12">
	                                <div class="form-group">
	                                	<div class="col-sm-12 no-padding">
	                                		<label>Cutting Mode</label>
	                                	</div>
	                                	<div class="col-sm-6 no-padding">
	                            			<label> <input icheck type="radio" name="cuttingMode" value="0"  tabindex="4" ng-model="cuttingType.cuttingMode"> Manual</label>
	                                	</div>
	                                	<div class="col-sm-6 no-padding">
                                			<label> <input icheck type="radio" name="cuttingMode" value="1"  tabindex="4" ng-model="cuttingType.cuttingMode"> Machine</label>
                               			</div>
	                               	</div>
                               	</div>
                        		<div class="col-sm-4 col-xs-12">
			                        <div class="form-group m-t-md" style="margin-top:22px">
			                            <button class="btn btn-primary btn-block" type="submit">SUBMIT</button>
			                        </div>
		                        </div>
		                    </form>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
        	<div class="ibox float-e-margins div-fill">
            	<div class="ibox-title">
		            <h5>Bulk Cutting Type Upload</h5></span>
		        </div>
                <div class="ibox-content" style="min-height:180px">
                	<form role="form" enctype="multipart/form-data" ng-submit="uploadBulkCuttingTypeList()" id="upload-bulk-cuttingType-list-form">
                       	<div class="row">
                       		<div class="col-xs-12 col-sm-8">
								<div class="form-group">
									<label class="control-label" id="fileName" tabindex="4" >Choose Cutting Type List File:</label>
				    				<label class="btn btn-default btn-block" for="file-input" id="file-label">Select..
			    						<input type="file" name="file" id="file-input" style="display:none" class="text-center" ng-model="cuttingTypeBulkList.file" onchange="angular.element(this).scope().fileNameChanged()"/>
			    					</label>
				    			</div>
			    			</div>
                      		<div class="col-sm-4 col-xs-12">
	                       		<div class="form-group">
				    				<input type="submit" value="UPLOAD"  tabindex="4" class="btn btn-primary" />	    					    				
								</div>
                       		</div>
                       	</div>
					</form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><strong>Cutting Type List</strong></h5>
                </div>
                <div class="ibox-content">
                    <table datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Name</th>
                            <th>Machine</th>
                            <th>Manual</th>
                            <!-- <th class="data-hide">Action</th> -->
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="cuttingType in cuttingTypeList | orderBy : 'name'" class="data-hide-tr">
                            <td>{{ $index + 1 }}</td>
                            <td>
                            	<div id="{{'customerNameDiv'+$index}}">
	                            	<span>{{ cuttingType.name }}</span>
                            	</div>
                           	</td>
                            <td>
                            	<div id="{{'customerContactDiv'+$index}}">
	                            	<span>{{ cuttingType.machine }}</span>
                            	</div>
                           	</td>
                            <td>
                            	<div id="{{'customerEmirateDiv'+$index}}">
	                            	<span>{{ cuttingType.manual }}</span>
                            	</div>
                           	</td>
                            <td>
                            	<a ng-hide="cuttingType.editMode" class="btn btn-sm btn-success" ng-click="clickedOnEditRow(cuttingType, $index)"><i class="fa fa-pencil"></i></a>
                            	<a ng-show="cuttingType.editMode" class="btn btn-sm btn-primary" ng-click="clickedOnSaveRow(cuttingType, $index)"><i class="fa fa-save"></i></a>
                            	<a class="btn btn-sm btn-danger" ng-click="deleteCustomer(cuttingType, $index)"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>
</div>

