<div class="row  border-bottom white-bg dashboard-header" ng-controller="BulkSupplierListUploadCtrl">
    <div class="col-sm-12">
        <h2>{{ 'UPLOAD SUPPLIER LIST' | translate }}</h2>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <form role="form" enctype="multipart/form-data" ng-submit="uploadBulkSupplierList()" id="upload-bulk-supplier-list-form">
                            	<div class="row">
                            		<div class="col-xs-12 col-sm-3">
										<div class="form-group">
											<label class="control-label" id="fileName" tabindex="4" >Choose Supplier List File:</label>
						    				<label class="btn btn-default btn-block" for="file-input" id="file-label">Select..
					    						<input type="file" name="file" id="file-input" style="display:none" class="text-center" ng-model="supplierList.file" onchange="angular.element(this).scope().fileNameChanged()"/>
					    					</label>
						    			</div>
					    			</div>
	                            </div>
                            	<div class="row">
                            		<div class="col-sm-3 col-xs-12">
	                            		<div class="form-group">
						    				<input type="submit" value="UPLOAD"  tabindex="4" class="btn btn-primary" />	    					    				
										</div>
                            		</div>
                            	</div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
