<div class="row  border-bottom white-bg dashboard-header" ng-controller="SupplierCtrl">
    <div class="col-sm-12">
        <h2>Single Supplier Upload</h2>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <form role="form" id="upload-single-supplier-form">
                            	<div class="row">
	                            	<div class="col-sm-4 col-xs-12">
		                                <div class="form-group">
		                                	<label>Supplier Name</label>
								            <input type="text" placeholder="Supplier Name" name="supplierName" class="form-control" tabindex="4" ng-model="supplier.supplierName">
		                               	</div>
	                            	</div>
	                               	<div class="col-sm-4 col-xs-12">
		                                <div class="form-group">
		                                	<label>Phone (optional)</label>
		                                	<input type="text" placeholder="Phone" name="phone" class="form-control" tabindex="4" ng-model="supplier.phone">
		                               	</div>
	                               	</div>
	                               	<div class="col-sm-4 col-xs-12">
		                                <div class="form-group">
		                                	<label>Email (optional)</label>
		                                	<input type="text" placeholder="Email" name="emails" class="form-control" tabindex="4" ng-model="supplier.emails">
		                               	</div>
	                               	</div>
                               	</div>
                               	<div class="row">
	                            	<div class="col-sm-8 col-xs-12">
		                                <div class="form-group">
		                                	<label>Address [Max Length 100] (optional)</label>
		                                	<input type="text" placeholder="Address" name="address" class="form-control" tabindex="4" ng-model="supplier.address" maxlength="100">
		                               	</div>
	                               	</div>
	                            </div>
	                            <div class="row">
                            		<div class="col-sm-3 col-xs-12">
	                            		<div class="form-group">
						    				<a tabindex="4" class="btn btn-primary" ng-click="uploadSingleSupplierList()">Upload</a>	    					    				
										</div>
                            		</div>
                            	</div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
